﻿@{
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
    ViewBag.Title = (languageId == 2 ? "Contact" : "İletişim");
}
@using Lissiya_Otel.Functions
@model List<Lissiya_Otel.Models.AddressLanguages>

@section metasection
    {

    <meta name="description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
    <meta name="keywords" content="@GeneralFunctions.GetSettingValue("SeoKeywords")" />
    <meta property="og:description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
    <meta property="og:title" content="@GeneralFunctions.GetSettingValue("SeoTitle")" />

}

<section class="md-contact">

    <div class="layout-left left-panel">
        <div class="adres-alan">

            <header class="box-heading heading-large">
                <div class="decription-override">
                    <h2 class="h1">
                        @if (languageId == 1)
                        {
                            <span style="font-size: 25px;">CONTACT US</span>
                        }
                        else
                        {
                            <span>BİZE ULAŞIN</span>
                        }
                    </h2>
                </div>
            </header>
            @foreach (var item in Model.Where(x => x.LanguageId == languageId).ToList())
            {
                <p>Adres : @item.Address</p>
                            <p>Tel : @item.Phone1</p>
                            <p>Fax : @item.Fax</p>
                            <p>E-Posta : @item.Email</p><br>
            }

            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3205.290857533843!2d29.120415314812583!3d36.547099289606464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14c046c0ccd35a43%3A0xeabcea114bc17c6a!2sOyster+Residences!5e0!3m2!1str!2str!4v1462286517197" width="100%" height="410" frameborder="0" style="border:0;margin-right:10px" allowfullscreen></iframe>
        </div>
    </div>

    <div class="layout-left right-panel">
        <div class="row form-contact">
            <p id="contact-content" class="description">You can contact us at the contact information below our</p>
            <form id="contact-form" class="label-placeholder" action="/iletisim" method="post">
                <div class="row clearfix">
                    <div class="form-group">
                        <input id="contact-name" type="text" name="NameSurname" class="input-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input id="contact-email" type="text" name="Tel" class="input-control" placeholder="Phone">
                    </div>
                    <div class="form-group">
                        <input id="contact-phone" type="text" name="email" class="input-control" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <textarea id="contact-textarea" class="input-control" placeholder="Your message" name="message"></textarea>
                </div>
                <div class="form-group">
                    <button id="submit-fomr" type="submit" class="btn btn-alter btn-border btn-border-brown" id="submit-contact">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section><!-- /.md-wrapper  -->
<div class="address-wrap clearfix" style="margin-top:65px;">
    <div class="address-info">
    </div>
</div>
<footer class="md-footer xs" style="position:fixed;bottom:0; min-height:126px;">
    <div class=" grid_12" style="font-style: italic;  color:white;   font-size: 14px;font-family: Helvetica,Arial,sans-serif !important;">
        <div>
            <div>
                <p style="text-align:center">Children under 14 years are not allowed in Oyster Residences</p>
            </div>
            <div>
                <p style="text-align:center">Oyster Residences otelimize 14 yaş altı çocuk alınmamaktadır</p>
            </div>
        </div>
    </div>
    <div class="  grid_12" style="margin-top:10px;">

        <div class="footer-social">
            <div class="social-inner">

                <span class="social-group">
                    <a href="#" target="_blank"><i class="icon icon-facebook"></i></a>
                    <a href="#" target="_blank"><i class="icon icon-twitter"></i></a>
                    <a href="# " target="_blank">  <i class="icon icon-youtube"></i></a>
                    <a href="#" target="_blank"><i class="icon icon-tripadvisor"></i></a>
                    <a href="#" target="_blank"><i class="icon icon-google"></i></a>
                    <a href="#" target="_blank"><i class="icon icon-instagram"></i></a>
                </span>
            </div>
        </div>
    </div>
</footer>
<footer class="md-footer md" style="position:fixed;bottom:0; top:none;display:table">

    <div class="social grid_3">

        <div class="footer-social">
            <div class="social-inner">

                <span class="social-group">
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("FacebookAddress")" target="_blank"><i class="icon icon-facebook"></i></a>
                    @*<a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TwitterAddress")" target="_blank"><i class="icon icon-twitter"></i></a>*@
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("YoutubeAddress") " target="_blank">  <i class="icon icon-youtube"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TripadvisorAddress")" target="_blank"><i class="icon icon-tripadvisor"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("GooglePlusAddress")" target="_blank"><i class="icon icon-google"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("InstegramAddress")" target="_blank"><i class="icon icon-instagram"></i></a>
                </span>
            </div>
        </div>
    </div>

    <div class="menus grid_4" style="float: none;    display: table-cell; vertical-align:middle">

        <nav id="main-nav">

            @Html.Action("FotMenuPage", "Home")
        </nav>
        <div style="font-family: Helvetica,Arial,sans-serif;font-size: 11px; width:100%; color:white; display:inline-block;">
            Oyster Residences Belcekız mevki 224 sok.No:1 Ölüdeniz Fethiye/TÜRKİYE
        </div>
    </div>
    <div class="duyuru" style="display:table-cell;vertical-align:middle;float:none;font-style: italic;    font-size: 14px;">
        <div>
            <div>
                <p>Children under 14 years are not allowed in Oyster Residences</p>
            </div>
            <div>
                <p>Oyster Residences otelimize 14 yaş altı çocuk alınmamaktadır</p>
            </div>
        </div>
    </div>
    <div class="Arge" style="float: none;    display: table-cell; vertical-align:middle;     padding-right: 10px;">

        <a href="/" target="AnaKatman"><img border="0" src="/Content/Site/images/7.png" /></a>
    </div>
</footer>

<script type="text/javascript" src="/Content/Site/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/Content/Site/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/Content/Site/js/jquery-ui-1.10.3.js"></script>
<script type="text/javascript" src="/Content/Site/js/classie.js"></script>
<script type="text/javascript" src="/Content/Site/js/mlpushmenu.js"></script>
<script type="text/javascript" src="/Content/Site/js/jquery.form.js"></script>
<script type="text/javascript" src="/Content/Site/js/jquery.validate.min.js"></script>

@*<script type="text/javascript" src="js/script.js"></script>*@

<script type="text/javascript">
    $(function () {
        "use strict";
        $("#arrival-date, #departure-date").datepicker({
            // showOn: "button",
            // buttonImage: "images/calendar.gif",
            // buttonImageOnly: true
        });

        // $('.popup-gmaps').magnificPopupMap();

        if ($("#contact-form").length > 0) {
            // Validate the contact form
            $('#contact-form').validate({
                // Add requirements to each of the fields
                rules: {
                    NameSurname: {
                        required: true,
                        minlength: 2
                    },
                    Tel: {
                        required: true,
                        minlength: 2
                    },
                    email: {
                        required: true,
                        email: true
                    },
                    message: {
                        required: true,
                        minlength: 10
                    }
                },

                // Specify what error messages to display
                // when the user does something horrid
                messages: {
                    name: {
                        required: "Please enter your name.",
                        minlength: $.format("At least {0} characters required.")
                    },
                    email: {
                        required: "Please enter your email.",
                        email: "Please enter a valid email."
                    },
                    message: {
                        required: "Please enter a message.",
                        minlength: $.format("At least {0} characters required.")
                    }
                },

                // Use Ajax to send everything to processForm.php
                submitHandler: function (form) {
                    $("#submit-contact").html("Sending...");
                    $(form).ajaxSubmit({
                        success: function (responseText, statusText, xhr, $form) {
                            $("#contact-content").slideUp(600, function () {
                                $("#contact-content").html("Thank you for your message. We will get back to you shortly. Kind regards, Oyster Residences Team.").slideDown(600);
                            });
                        }
                    });
                    return false;
                }
            });
        }
    });

    $(document).ready(function () {

        windowHeight = $(window).height();
        var windowWidth = $(window).width();
        headerHeight = $(".md-header").height();
        footerHeight = $(".md-footer.md");
        $('.md-contact').css("margin-top", headerHeight + "px");
        if (windowWidth > 1024) {

            $(".md-contact").css("height", (windowHeight - headerHeight - footerHeight - 10) + "px");
        }
        else {

            $(".md-contact").css("height", (windowHeight - headerHeight - footerHeight - 10) + "px");
        }

    });
</script>