﻿@{
    ViewBag.Title = "CreateLoginAccount";
    ViewBag.Controller = "Kullanıcı Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Kullanıcı Ekle
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2> Kullanıcı Ekle</h2>
                    </header>
                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <div class="widget-body">
                                        <form id="LoginUser-form" class="smart-form" enctype="multipart/form-data" action="/Admin/LoginAccounts/CreateLoginAccount" method="post" novalidate="novalidate">
                                            <fieldset>
                                                <section>
                                                    <label class="label">
                                                        Ad Soyad
                                                    </label>
                                                    <label class="input"><i class="icon-prepend fa fa-user"></i>
                                                        <input type="text" name="NameSurname" class="input-sm" required="required">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Kullanıcı Adı
                                                    </label>
                                                   <label class="input"><i class="icon-prepend fa fa-user"></i>
                                                        <input type="text" name="LoginName" class="input-sm" required="required">
                                                    </label>
                                                </section>
                                                    <section>
                                                    <label class="label">
                                                        Kullanıcı Şifresi
                                                    </label>
                                                   <label class="input"><i class="icon-prepend fa  fa-lock"></i>
                                                        <input type="text" name="LoginPassword" class="input-sm" required="required">
                                                    </label>
                                                </section>
                                            </fieldset>
                                            <footer>
                                                <button type="submit" class="btn btn-primary">
                                                    Kaydet
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    Vazgeç
                                                </button>
                                            </footer>
                                        </form>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {

        pageSetUp();

        var $checkoutForm = $('#LoginUser-form').validate({
            // Rules for form validation
            rules: {
                NameSurname: {
                    required: true
                },
                LoginName: {
                    required: true
                },
                LoginPassword: {
                    required: true
                },
            },
            messages: {
                NameSurname: {
                    required: 'Ad Soyad kısmını boş geçmeyiniz'
                },
                LoginName: {
                    required: 'Kullanıcı Adı kısmını boş geçmeyiniz'
                },
                LoginPassword: {
                    required: 'Kullanıcı Şifre kısmını boş geçmeyiniz'
                }
            }
        })
    });
</script>