﻿@{
    ViewBag.Title = "LoginAccounts";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Controller = "Kullanıcı Listesi";
}

@model  List<Lissiya_Otel.Models.LoginAccounts>
<section id="widget-grid" class="">

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
    <article class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-deletebutton="false" data-widget-editbutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-table"></i></span>
                <h2>Kullanıcı Listesi</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox">
                </div>
                <!-- widget content -->
                <div class="widget-body no-padding">
                    <table id="dt_basic" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th data-hide="phone">ID</th>
                                <th data-class=""><i class="fa fa-fw fa-user text-muted hidden-md hidden-sm hidden-xs"></i>Ad Soyad / Kullanıcı Adı</th>
                                <th data-hide="phone,tablet">Aksiyon</th>
                            </tr>
                        </thead>
                        <tbody id="tinner">
                            @foreach (var item in Model)
                            {
                                <tr data-order="@item.LoginAccountId">
                                    <td>@item.LoginAccountId</td>
                                    <td>@item.NameSurname / @item.LoginName</td>
                                    <td>
                                        <a href="/Admin/LoginAccounts/UpdateLoginAccount/@item.LoginAccountId" class="btn btn-default txt-color-blueLight" title="Güncelle"><i class="fa fa-gear fa-lg"></i></a>
                                        <a href="#" data-content="@item.LoginName" data-href="/Admin/LoginAccounts/Delete/@item.LoginAccountId" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default txt-color-blueLight" title="Sil"><i class="fa fa-trash-o fa-lg"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>

    </article>

</section>
<!-- end widget grid -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Silmek istediğinize emin misiniz?</h4>
            </div>
            <div class="modal-body">
                <h4 id="body-h4"></h4>
                Medyayı silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <a href="#" class="btn btn-danger danger">Sil</a>
            </div>
        </div>
    </div>
</div>
<script>


    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
        $('#body-h4').text($(e.relatedTarget).data('content'));
        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.danger').attr('href') + '</strong>');
    })
</script>

