﻿@{
    ViewBag.Title = "CreateSliderNames";
    ViewBag.Controller = " Slider Başlığı Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Slider Başlığı Ekle
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Slider Başlığı Ekle</h2>
                    </header>
                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                    <div class="row">
                                    <div class="col-md-12">
                                         <div class="alert alert-warning fade in" id="ltrlalert" style="display: none;">
                                            <button class="close" data-dismiss="alert">
                                                ×
                                            </button>
                                            <i class="fa-fw fa fa-info"></i>
                                            <strong>Bilgi !</strong> Lütfen Dil Seçiniz.
                                        </div>
                                        <ul class="header-dropdown-list hidden-xs" style="float: left; font-size: 20px;">
                                            <li>
                                                <a id="activelanguage" href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: black;">
                                                    <img src="/Areas/Admin/img/blank.gif" class="flag" alt="Türkiye"><span>Dil Seçiniz</span> <i class="fa fa-angle-down"></i></a>

                                                <ul class="dropdown-menu" id="dropcountry">
                                                    @foreach (var item in ViewBag.LanguageList as List<Lissiya_Otel.Models.Languages>)
                                                    {
                                                        <li data-id="@item.LanguageId" class="languages">
                                                            <a href="javascript:void(0);">
                                                                <img src="/Areas/Admin/img/blank.gif" class="@item.ClassName" alt="@item.ShortTitle">
                                                                @item.Title</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <form id="Slidername-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Slider/CreateSliderNames" method="post" novalidate="novalidate">
                                    <input type="hidden" name="LanguageId" id="LanguageId" />
                                    @*<input type="hidden" name="menuId" value="1" />*@
                                    <fieldset>
                                        <section>
                                            <label class="label">Menü Seçeneği</label>
                                            <label class="select">
                                                <select name="menuId" id="menuId">
                                                    <option value="-1">Lütfen Seçiniz</option>
                                                    @foreach (var item in ViewBag.MenuList as List<Lissiya_Otel.Models.MenuNames>)
            {

                                                        <option value="@item.MenuId">@item.Name</option>
                                                    }
                                                </select>
                                                </label>
                                            </section>
                                        </fieldset>
                                                <fieldset>
                                                    <section>
                                                        <label class="label">Başlık</label>
                                                        <label class="input">
                                                            <i class="icon-prepend fa fa-book"></i>
                                                            <input type="text" name="Name" class="input-sm">
                                                        </label>
                                                    </section>
                                                </fieldset>
                                                <footer>
                                                    <button type="submit" class="btn btn-primary">
                                                        Kaydet
                                                    </button>
                                                    <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                        Vazgeç
                                                    </button>
                                                </footer>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        pageSetUp();
        var $checkoutForm = $('#Slidername-form').validate({
            // Rules for form validation
            rules: {
                Name: {
                    required: true
                },
                menuId:
            {
                required: true,
                min: 1
            }
            },
            messages: {
                Name: {
                    required: 'Başlık kısmını boş geçmeyiniz'
                },
                menuId: {
                    required: 'Lütfen Galeri Seçiniz'
                }


            }
        })
    });
</script>
<script type="text/javascript">
    $("#dropcountry li").click(function () {
        var deger = $(this).data("id");
        $("#LanguageId").val(deger);
        $.ajax({
            url: '/Language/GetLanguageDetail/' + deger,
            type: 'POST',
            data: {},
            dataType: 'json',
            contentType: 'application/json; chatset=utf-8;',
            success: function (data) {
                $("#activelanguage").html('<img src="/Areas/Admin/img/blank.gif" class="' + data.Language.ClassName + '" alt="' + data.Language.Title + '"><span>' + data.Language.Title + '</span> <i class="fa fa-angle-down"></i>');
            }
        });

    });
</script>