﻿@{
    ViewBag.Title = "CreateSliderImage";
    ViewBag.Controller = "Slider Fotoğraf Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Slider Fotoğraf Ekle
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Slider Fotoğraf Ekle</h2>
                    </header>
                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <div class="widget-body">
                                        <form id="Sliderlanguage-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Slider/CreateSliderImage/@ViewContext.RouteData.Values["id"]" method="post" novalidate="novalidate">

                                            <fieldset>
                                                <section>
                                                    <label class="label">
                                                        Başlık (Türkçe)
                                                    </label>
                                                    <label class="input"><i class="icon-prepend fa fa-book"></i>
                                                        <input type="text" name="Title" class="input-sm">
                                                    </label>
                                                </section>

                                                <section>
                                                    <label class="label">
                                                        Başlık (İngilizce)
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-book"></i>
                                                        <input type="text" name="Description" class="input-sm">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Url
                                                    </label>
                                                    <label class="input"><i class="icon-prepend fa fa-anchor"></i>
                                                        <input type="text" name="Url" class="input-sm">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">Url Yeni Pencere Seçeneği</label>
                                                    <div class="row">
                                                        <div class="col col-4">
                                                            <label class="checkbox">
                                                                <input type="checkbox" id="Tab" name="Tab" value="False">
                                                                <i></i>Url Yeni Pencerede Açılsın mı?</label>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section>
                                                    <label class="label">Fotoğraf</label>
                                                    <div class="input input-file">
                                                        <span class="button">
                                                            <input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Dosya Seç</span><input type="text" placeholder="Fotoğraf Seçiniz" readonly="">
                                                    </div>
                                                       <div class="alert alert-danger fade in" style="display: none" id="fileerror">
                                                <strong id="fileerrormessage"></strong>
                                            </div>
                                            <div class="none"><strong>Maksimum 2MB</strong> dosya yüklenebilir</div>
                                                </section>
                                            </fieldset>
                                            <footer>
                                                <button type="submit" class="btn btn-primary" id="myButton">
                                                    Kaydet
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    Vazgeç
                                                </button>
                                            </footer>
                                        </form>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {

        pageSetUp();

        var $checkoutForm = $('#Sliderlanguage-form').validate({
            // Rules for form validation
            rules: {
                Title: {
                    required: true
                }
            },
            messages: {
                Title: {
                    required: 'Başlık kısmını boş geçmeyiniz'
                }

            }
        })
    });
</script>

<script src="~/Ckeditor/ckeditor.js"></script>
<script src="~/Ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    //$(document).ready(function () {

    //    CKEDITOR.replace('Description');

    //});
    $("#Tab").change(function () {
        var value = $("#Tab").val();
        if (value == 'False') {
            $("#Tab").val('True');
        }
        else {
            $("#Tab").val('False');
        }
    });

    $('#file').bind('change', function () {
        if (this.files[0].size > 2091576) {
            $('#fileerrormessage').html();
            $('#myButton').attr("disabled", "disabled");
            $('#fileerror').css("display", "block");
            $('#fileerrormessage').html("Maksimum dosya boyutunu aştınız!");
        }
        else {
            $('#fileerrormessage').html();
            $('#fileerror').css("display", "none");
            $('#myButton').removeAttr("disabled");
            openFile(this.files[0].name);
        }

    });
    function openFile(file) {
        $('#fileerrormessage').html();
        var extension = file.substr((file.lastIndexOf('.') + 1));
        switch (extension) {
            case 'jpg':
            case 'png':
            case 'jpeg':
                break;
            default:
                $('#myButton').attr("disabled", "disabled");
                $('#fileerror').css("display", "block");
                $('#fileerrormessage').html("Sadece jpeg,.jpg ve .png dosyaları kabul edilir!");
                $('#fileerrormessage').addClass();
        }
    };
</script>
