﻿@{
    ViewBag.Title = "UpdateSliderNames";
    ViewBag.Controller = " Slider Başlığı Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using Lissiya_Otel.Functions
@model Lissiya_Otel.Models.SliderNames
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Slider Başlığı Güncelle
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Slider Başlığı Güncelle</h2>
                    </header>
                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="header-dropdown-list hidden-xs" style="float: left; font-size: 20px;">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <ul class="header-dropdown-list hidden-xs" style="float: left; font-size: 20px;">
                                                        <li>
                                                            @{
                                                        
                                                                var LanguageDetail = GeneralFunctions.LanguageDetail(Model.LanguageId.Value);
                                                                if (LanguageDetail != null)
                                                                {
                                                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: black;">
                                                                    <img src="/Areas/Admin/img/blank.gif" class="@LanguageDetail.ClassName" alt="@LanguageDetail.ShortTitle"><span>@LanguageDetail.Title</span>
                                                                </a>
                                                                }
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </div>
                                </div>
                                <form id="Slidername-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Slider/UpdateSliderNames/@Model.SliderId" method="post" novalidate="novalidate">
                                    <fieldset>
                                        <section>
                                            <label class="label">Menü Seçeneği</label>
                                            <label class="select">
                                                <select name="menuId" id="menuId">
                                                    <option value="-1">Lütfen Seçiniz</option>
                                                    @foreach (var item in ViewBag.MenuList as List<Lissiya_Otel.Models.MenuNames>)
                                                    {
                                                        if (ViewBag.CurnetMenu != null && ViewBag.CurnetMenu == item.MenuId)
                                                        {
                                                            <option value="@item.MenuId" selected="selected">@item.Name</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@item.MenuId">@item.Name</option>

                                                        }

                                                    }
                                                </select>
                                            </label>
                                        </section>
                                    </fieldset>
                                    <fieldset>
                                        <section>
                                            <label class="label">Başlık</label>
                                            <label class="input"><i class="icon-prepend fa fa-book"></i>
                                                <input type="text" name="Name" class="input-sm" value="@Model.Name">
                                            </label>
                                        </section>
                                    </fieldset>
                                    <footer>
                                        <button type="submit" class="btn btn-primary">
                                            Kaydet
                                        </button>
                                        <button type="button" class="btn btn-default" onclick="window.history.back();">
                                            Vazgeç
                                        </button>
                                    </footer>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        pageSetUp();
        var $checkoutForm = $('#Slidername-form').validate({
            // Rules for form validation
            rules: {
                Name: {
                    required: true
                },
                menuId:
            {
                min: 1
            }
            },
            messages: {
                Name: {
                    required: 'Başlık kısmını boş geçmeyiniz'
                },
                menuId: {
                    required: 'Lütfen Galeri Seçiniz'
                }

            }
        })
    });
</script>
<script type="text/javascript">
    $("#dropcountry li").click(function () {
        var deger = $(this).data("id");
        $("#LanguageId").val(deger);
        $.ajax({
            url: '/Language/GetLanguageDetail/' + deger,
            type: 'POST',
            data: {},
            dataType: 'json',
            contentType: 'application/json; chatset=utf-8;',
            success: function (data) {
                $("#activelanguage").html('<img src="/Areas/Admin/img/blank.gif" class="' + data.Language.ClassName + '" alt="' + data.Language.Title + '"><span>' + data.Language.Title + '</span> <i class="fa fa-angle-down"></i>');
            }
        });

    });
</script>
