﻿@{
    ViewBag.Title = "Proje Dil Ekle";
    ViewBag.Controller = "Proje Dil Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Admin/js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js"></script>
<style type="text/css">
    .bootstrap-tagsinput .label {
        color: #FFF;
        display: inline-block;
    }
</style>
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Proje Dil Ekle
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Proje Dil Ekle</h2>
                    </header>

                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-warning fade in" id="ltrlalert" style="display: none;">
                                            <button class="close" data-dismiss="alert">
                                                ×
                                            </button>
                                            <i class="fa-fw fa fa-info"></i>
                                            <strong>Bilgi !</strong> Lütfen Dil Seçiniz.
                                        </div>
                                        <ul class="header-dropdown-list hidden-xs" style="float: left; font-size: 20px;">
                                            <li>
                                                <a id="activelanguage" href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: black;">
                                                    <img src="/Areas/Admin/img/blank.gif" class="flag" alt="Türkiye"><span>Dil Seçiniz</span> <i class="fa fa-angle-down"></i></a>

                                                <ul class="dropdown-menu" id="dropcountry">
                                                    @foreach (var item in ViewBag.LanguageList as List<Lissiya_Otel.Models.Languages>)
                                                    {
                                                        <li data-id="@item.LanguageId" class="languages">
                                                            <a href="javascript:void(0);">
                                                                <img src="/Areas/Admin/img/blank.gif" class="@item.ClassName" alt="@item.ShortTitle">
                                                                @item.Title</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <fieldset>
                                    <div class="widget-body">
                                        <form id="Projectlanguage-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Project/CreateProjectLanguage" method="post" novalidate="novalidate">
                                            <input type="hidden" name="LanguageId" id="LanguageId" />
                                            <input type="hidden" name="ProjectId" id="ProjectId" value="@ViewContext.RouteData.Values["id"]" />
                                            <fieldset>
                                                <section>
                                                    <label class="label">
                                                        Başlık
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-book"></i>
                                                        <input type="text" name="Title" class="input-sm" required="required">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Özet
                                                    </label>
                                                    <label class="textarea textarea-resizable">
                                                        <i class="icon-prepend fa fa-quote-left"></i>
                                                        <textarea rows="3" name="Summary" class="custom-scroll" style="margin-top: 0px; margin-bottom: 0px; height: 77px;"></textarea>
                                                    </label>
                                                </section>
                                                
                                                <section>
                                                    <label class="label">Fotoğraf</label>
                                                    <div class="input input-file">
                                                        <span class="button">
                                                            <input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Dosya Seç
                                                        </span><input type="text" placeholder="Fotoğraf Seçiniz" readonly="">
                                                    </div>
                                                    <div class="alert alert-danger fade in" style="display: none" id="fileerror">
                                                        <strong id="fileerrormessage"></strong>
                                                    </div>
                                                    <div class="none"><strong>Maksimum 2MB</strong> dosya yüklenebilir</div>
                                                </section>

                                                <section>
                                                    <label class="label">
                                                        Seo Başlık
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-google"></i>
                                                        <input type="text" name="SeoTitle" class="input-sm">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Seo Anahtar Kelimeler
                                                    </label>
                                                    <label class="input">
                                                        <input class="form-control input-xs" name="SeoKeywords" />
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Seo Açıklama
                                                    </label>
                                                    <label class="textarea textarea-resizable">
                                                        <i class="icon-prepend fa fa-google"></i>
                                                        <textarea rows="3" name="SeoDescription" class="custom-scroll" style="margin-top: 0px; margin-bottom: 0px; height: 77px;"></textarea>
                                                    </label>
                                                </section>

                                            </fieldset>
                                            <footer>
                                                <a type="submit" class="btn btn-primary" id="myButton">Kaydet
                                                </a>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    Vazgeç
                                                </button>
                                            </footer>
                                        </form>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script type="text/javascript">
    $("#dropcountry li").click(function () {
        var deger = $(this).data("id");
        $("#LanguageId").val(deger);
        $.ajax({
            url: '/Language/GetLanguageDetail/' + deger,
            type: 'POST',
            data: {},
            dataType: 'json',
            contentType: 'application/json; chatset=utf-8;',
            success: function (data) {
                $("#activelanguage").html('<img src="/Areas/Admin/img/blank.gif" class="' + data.Language.ClassName + '" alt="' + data.Language.Title + '"><span>' + data.Language.Title + '</span> <i class="fa fa-angle-down"></i>');
            }
        });

    });
</script>

<script>
    $(document).ready(function () {

        pageSetUp();

        var $checkoutForm = $('#Projectlanguage-form').validate({
            // Rules for form validation
            rules: {
                Title: {
                    required: true
                }
            },
            messages: {
                Title: {
                    required: 'Başlık kısmını boş geçmeyiniz'
                }

            }
        })

        jQuery(function ($) {
            $.datepicker.regional['tr'] = {
                closeText: 'kapat',
                prevText: '&#x3c;',
                nextText: '&#x3e',
                currentText: 'bugün',
                monthNames: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran',
                'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
                monthNamesShort: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz',
                'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara'],
                dayNames: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
                dayNamesShort: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
                dayNamesMin: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
                weekHeader: 'Hf',
                dateFormat: 'dd.mm.yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: '',
                changeMonth: true,
                changeYear: true
            };
        });

        $(function () {
            $("#Date").datepicker($.datepicker.regional["tr"]);
        });

        $("#myButton").click(function () { // validate on button click for this example
            if ($("#Projectlanguage-form").valid()) {
                if ($('#LanguageId').val() == "") {
                    $('#ltrlalert').css({ "display": "block" });
                    $('#activelanguage').trigger('click');
                    $('#dropcountry').focus();
                }
                else {
                    $("#Projectlanguage-form").submit();
                }

            }
            else {
                $checkoutForm.focusInvalid();
            }
        });
    });
</script>

<script src="~/Ckeditor/ckeditor.js"></script>
<script src="~/Ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {

        CKEDITOR.replace('Description');

    });

</script>

