﻿@{
    ViewBag.Title = "Proje Fotoğraf Ekle";
    ViewBag.Controller = "Proje Fotoğraf Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Proje Fotoğraf Ekle
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Proje Fotoğraf Ekle</h2>
                    </header>

                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <div class="widget-body">
                                        <form id="imagelanguage-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Project/CreateProjectImage/@ViewContext.RouteData.Values["id"]" method="post" novalidate="novalidate">
                                            <fieldset>
                                                <section>
                                                    <label class="label">Proje Dili Seçiniz</label>
                                                    <label class="select">
                                                        <select name="ProjectLanguageId">
                                                            <option value="0" selected="" disabled="">Proje Dili Seçiniz</option>
                                                            @foreach (var item in ViewBag.ProjectLanguageList as List<Lissiya_Otel.Models.ProjectLanguages>)
                                                            {
                                                                <option value="@item.ProjectLanguageId">@item.Title</option>
                                                            }
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">Fotoğraf</label>
                                                    <div class="input input-file">
                                                        <span class="button">
                                                            <input type="file" id="file" name="file" multiple="multiple" onchange="this.parentNode.nextSibling.value = this.value">Dosya Seç</span><input type="text" placeholder="Fotoğraf Seçiniz" readonly="">
                                                    </div>
                                                       <div class="alert alert-danger fade in" style="display: none" id="fileerror">
                                                        <strong id="fileerrormessage"></strong>
                                                    </div>
                                                    <div class="none"><strong>Maksimum 2MB</strong> dosya yüklenebilir</div>
                                                </section>
                                            </fieldset>
                                            <footer>
                                                <button type="submit" class="btn btn-primary" id="myButton">
                                                    Kaydet
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    Vazgeç
                                                </button>
                                            </footer>
                                        </form>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        pageSetUp();
        var $checkoutForm = $('#imagelanguage-form').validate({
            // Rules for form validation
            rules: {
                ProjectLanguageId: {
                    required: true
                }
            },
            messages: {
                ProjectLanguageId: {
                    required: 'Proje Dili Seçiniz'
                }

            }
        })
    });
    $('#file').bind('change', function () {
        for (var i = 0; i < this.files.length; i++) {
            if (this.files[i].size > 2097152) {
                $('#fileerrormessage').html();
                $('#myButton').attr("disabled", "disabled");
                $('#fileerror').css("display", "block");
                $('#fileerrormessage').html("Maksimum dosya boyutunu aştınız!");
                break;
            }
            else {
                $('#fileerrormessage').html();
                $('#fileerror').css("display", "none");
                $('#myButton').removeAttr("disabled");
                openFile(this.files[0].name);
            }
        }
    });
    function openFile(file) {
        $('#fileerrormessage').html();
        var extension = file.substr((file.lastIndexOf('.') + 1));
        switch (extension) {
            case 'jpg':
            case 'png':
            case 'jpeg':
                break;
            default:
                $('#myButton').attr("disabled", "disabled");
                $('#fileerror').css("display", "block");
                $('#fileerrormessage').html("Sadece jpeg,.jpg ve .png dosyaları kabul edilir!");
                $('#fileerrormessage').addClass();
        }
    };
</script>

