﻿@{
    ViewBag.Title = "UpdateSponsorLanguage";
    ViewBag.Controller = "Sponsor Dil Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using Lissiya_Otel.Functions
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Sponsor Dil Güncelle
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Sponsor Dil Güncelle</h2>
                    </header>

                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <div class="row">
                                    <div class="col-md-12">
                                        <ul class="header-dropdown-list hidden-xs" style="float: left; font-size: 20px;">
                                          <li>
                                                    @{
                                                    var LanguageDetail = GeneralFunctions.LanguageDetail(int.Parse(Request.QueryString["LangId"]));
                                                    if (LanguageDetail != null)
                                                    {
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: black;">
                                                        <img src="/Areas/Admin/img/blank.gif" class="@LanguageDetail.ClassName" alt="@LanguageDetail.ShortTitle"><span>@LanguageDetail.Title</span>
                                                    </a>
                                                    }
                                                }
                                            </li>
                                        </ul>
                                         <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirm-delete" href="#" data-href="/Admin/Sponsor/DeleteLanguage/@ViewContext.RouteData.Values["id"]?LangId=@Request.QueryString["LangId"]">Sil</a>
                                    </div>
                                </div>
                                <fieldset>
                                    <div class="widget-body">
                                           @if (ViewBag.Detail != null)
                                        {
                                            var LangDetail = ViewBag.Detail as Lissiya_Otel.Models.SponsorLanguages;
                                        <form id="Sponsorlanguage-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Sponsor/UpdateSponsorLanguage/@ViewContext.RouteData.Values["id"]?LangId=@Request.QueryString["LangId"]" method="post" novalidate="novalidate">
                                            <input type="hidden" name="LanguageId" id="LanguageId" />
                                            <input type="hidden" name="SponsorId" id="SponsorId" value="@ViewContext.RouteData.Values["id"]" />
                                            <fieldset>
                                                <section>
                                                    <label class="label">
                                                        Başlık
                                                    </label>
                                                    <label class="input"><i class="icon-prepend fa fa-book"></i>
                                                        <input type="text" name="Title" class="input-sm" required="required" value="@LangDetail.Title">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Özet
                                                    </label>
                                                    <label class="textarea textarea-resizable"><i class="icon-prepend fa fa-quote-left"></i>
                                                        <textarea rows="3" name="Summary" class="custom-scroll" style="margin-top: 0px; margin-bottom: 0px; height: 77px;">@LangDetail.Summary</textarea>
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">Açıklama</label>
                                                    <textarea id="Description" name="Description">@LangDetail.Description</textarea>
                                                </section>
                                               
                                                <section>
                                                    <label class="label">Fotoğraf</label>
                                                    <div class="input input-file">
                                                        <span class="button">
                                                            <input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Dosya Seç</span><input type="text" placeholder="Fotoğraf Seçiniz" readonly="">
                                                    </div>
                                                    <div class="alert alert-danger fade in" style="display: none" id="fileerror">
                                                <strong id="fileerrormessage"></strong>
                                            </div>
                                            <div class="none"><strong>Maksimum 2MB</strong> dosya yüklenebilir</div>
                                                </section>
                                            </fieldset>
                                            <footer>
                                                <button type="submit" class="btn btn-primary" id="myButton">
                                                    Kaydet
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    Vazgeç
                                                </button>
                                            </footer>
                                        </form>
                                           }
                                           else
                                           {
                                                <form id="Sponsorlanguage-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Sponsor/CreateSponsorLanguage" method="post" novalidate="novalidate">
                                            <input type="hidden" name="LanguageId" id="LanguageId" value="@Request.QueryString["LangId"]" />
                                            <input type="hidden" name="SponsorId" id="SponsorId" value="@ViewContext.RouteData.Values["id"]" />
                                            <fieldset>
                                                <section>
                                                    <label class="label">
                                                        Başlık
                                                    </label>
                                                    <label class="input"><i class="icon-prepend fa fa-book"></i>
                                                        <input type="text" name="Title" class="input-sm" required="required">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Özet
                                                    </label>
                                                    <label class="textarea textarea-resizable"><i class="icon-prepend fa fa-quote-left"></i>
                                                        <textarea rows="3" name="Summary" class="custom-scroll" style="margin-top: 0px; margin-bottom: 0px; height: 77px;"></textarea>
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">Açıklama</label>
                                                    <textarea id="Description" name="Description"></textarea>
                                                </section>
                                               
                                                <section>
                                                    <label class="label">Fotoğraf</label>
                                                    <div class="input input-file">
                                                        <span class="button">
                                                            <input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Dosya Seç</span><input type="text" placeholder="Fotoğraf Seçiniz" readonly="">
                                                    </div>
                                                    <div class="alert alert-danger fade in" style="display: none" id="fileerror">
                                                <strong id="fileerrormessage"></strong>
                                            </div>
                                            <div class="none"><strong>Maksimum 2MB</strong> dosya yüklenebilir</div>
                                                </section>
                                                    <input type="hidden" name="updatecontrol" value="1" />
                                            </fieldset>

                                            <footer>
                                                <button type="submit" class="btn btn-primary" id="myButton">
                                                    Kaydet
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    Vazgeç
                                                </button>
                                            </footer>
                                        </form>
                                           }
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script type="text/javascript">
    $("#dropcountry li").click(function () {
        var deger = $(this).data("id");
        $("#LanguageId").val(deger);
        $.ajax({
            url: '/Language/GetLanguageDetail/' + deger,
            type: 'POST',
            data: {},
            dataType: 'json',
            contentType: 'application/json; chatset=utf-8;',
            success: function (data) {
                $("#activelanguage").html('<img src="/Areas/Admin/img/blank.gif" class="' + data.Language.ClassName + '" alt="' + data.Language.Title + '"><span>' + data.Language.Title + '</span> <i class="fa fa-angle-down"></i>');
            }
        });

    });
</script>

<script>
    $(document).ready(function () {

        pageSetUp();

        var $checkoutForm = $('#Sponsorlanguage-form').validate({
            // Rules for form validation
            rules: {
                Title: {
                    required: true
                },
                Phone1:
                    {
                        required: true
                    },
                dropcountry:
                    {
                        required: true
                    }
            },
            messages: {
                Title: {
                    required: 'Başlık kısmını boş geçmeyiniz'
                },
                Phone1:
                    {
                        required: 'Telefon kısmını boş geçmeyiniz'
                    }
                ,
                dropcountry:
                    {
                        required: 'Telefon kısmını boş geçmeyiniz'
                    }
            }
        })
    });
</script>

<script src="~/Ckeditor/ckeditor.js"></script>
<script src="~/Ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {

        CKEDITOR.replace('Description');

    });

</script>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Silmek istediğinize emin misiniz?</h4>
            </div>
            <div class="modal-body">
                <h4 id="body-h4"></h4>
                Sponsorun seçilen dilini silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <a href="#" class="btn btn-danger danger">Sil</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
        $('#body-h4').text($(e.relatedTarget).data('content'));
        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.danger').attr('href') + '</strong>');
    })

    $('#file').bind('change', function () {
        if (this.files[0].size > 2097152) {
            $('#fileerrormessage').html();
            $('#myButton').attr("disabled", "disabled");
            $('#fileerror').css("display", "block");
            $('#fileerrormessage').html("Maksimum dosya boyutunu aştınız!");
        }
        else {
            $('#fileerrormessage').html();
            $('#fileerror').css("display", "none");
            $('#myButton').removeAttr("disabled");
            openFile(this.files[0].name);
        }

    });
    function openFile(file) {
        $('#fileerrormessage').html();
        var extension = file.substr((file.lastIndexOf('.') + 1));
        switch (extension) {
            case 'jpg':
            case 'png':
            case 'jpeg':
                break;
            default:
                $('#myButton').attr("disabled", "disabled");
                $('#fileerror').css("display", "block");
                $('#fileerrormessage').html("Sadece jpeg,.jpg ve .png dosyaları kabul edilir!");
                $('#fileerrormessage').addClass();
        }
    };
</script>