﻿@{
    ViewBag.Title = "DictionaryList";
    ViewBag.Controller = "Statik İçerik Dil Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using Lissiya_Otel.Functions

<script src="/Content/Admin/js/plugin/x-editable/moment.min.js"></script>
<script src="/Content/Admin/js/plugin/x-editable/jquery.mockjax.min.js"></script>
<script src="/Content/Admin/js/plugin/x-editable/x-editable.min.js"></script>


<div id="content">

    <section id="widget-grid" class="">

        <div class="row">

            <article class="col-sm-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-custombutton="false">

                    <header>
                        <span class="widget-icon"><i class="fa fa-edit"></i></span>
                        <h2>Statil Dil Seçenekleri</h2>
                    </header>
                    <div>
                        <div class="jarviswidget-editbox">
                        </div>

                        <div class="widget-body">
                            @foreach (var LanguageItem in ViewBag.LanguageList as List<Lissiya_Otel.Models.Languages>)
                            {


                                {
                                    var Dictionaries = GeneralFunctions.Dictionary(LanguageItem.LanguageId);
                                    if (Dictionaries != null)
                                    {
                                <table id="users-@LanguageItem.LanguageId" class="table table-striped table-bordered table-hover users" style="clear: both">
                                    <thead>
                                        <tr>
                                            <th data-hide="phone">ID</th>
                                            <th data-class=""><i class="fa fa-fw fa-edit text-muted hidden-md hidden-sm hidden-xs"></i>Değer</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            @{
                                        var LanguageDetail = GeneralFunctions.LanguageDetail(LanguageItem.LanguageId);  
                                                <td style="width: 35%;">
                                                    <img class="@LanguageDetail.ClassName" src="/Areas/Admin/img/blank.gif" alt="@LanguageDetail.ShortTitle">
                                                    @LanguageDetail.Title</td>
                                                <td style="width: 65%"></td>
                                            }
                                        </tr>
                                        @foreach (var item in Dictionaries)
                                        {
                                            <tr>
                                                <td style="width: 35%;">@item.Name</td>
                                                <td style="width: 65%"><a href="#" id="languagevalue" data-type="text" data-pk="@item.DictionaryId" data-original-title="Dil Değeri Giriniz">@item.Value</a></td>
                                            </tr>
                                        }

                                    </tbody>
                                </table>
                               <hr style="border:2px solid #000" />
                            
                                    }
                                }


                            }

                        </div>

                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script src="~/Content/Admin/js/plugin/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatables/dataTables.colVis.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatables/dataTables.tableTools.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>

@foreach (var LanguageItem in ViewBag.LanguageList as List<Lissiya_Otel.Models.Languages>)
{
    <script>
        $(document).ready(function () {
            var responsiveHelper_dt_basic = undefined;
            var responsiveHelper_datatable_fixed_column = undefined;
            var responsiveHelper_datatable_col_reorder = undefined;
            var responsiveHelper_datatable_tabletools = undefined;

            var breakpointDefinition = {
                tablet: 1024,
                phone: 480
            };
            $('#users-@LanguageItem.LanguageId').dataTable({


                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#users-@LanguageItem.LanguageId'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                },
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Turkish.json"
                }

            });


            $('#users-@LanguageItem.LanguageId a').editable({
                type: 'text',
                pk: $(this).data("pk"),
                url: '/Admin/Dictionary/UpdateDictionary',
                title: 'Dil Değeri Giriniz'
            });
        });
    </script>
}
@*<script type="text/javascript">
    $("#dropcountry li").click(function () {
        var deger = $(this).data("id");
        $("#LanguageId").val(deger);
        $.ajax({
            url: '/Admin/Dictionary/DictionaryLangList/' + deger,
            type: 'POST',
            data: {},
            dataType: 'json',
            contentType: 'application/json; chatset=utf-8;',
            success: function (data) {
                var html = '';
                for (var i = 0; i < data.DictionaryList.length; i++) {
                    html += " <tr><td style='width: 35%;'>" + data.DictionaryList[i].Name + "</td>" +
                                            "<td style='width: 65%'><a href='#' id='languagevalue' data-type='text' data-pk=" + data.DictionaryList[i].DictionaryId + " data-original-title='Dil Değeri Giriniz'>" + data.DictionaryList[i].Value + "</a></td>" +
                                        "</tr>"
                }

                $('#users tbody').html(html);
            }
        });
        $.ajax({
            url: '/Language/GetLanguageDetail/' + deger,
            type: 'POST',
            data: {},
            dataType: 'json',
            contentType: 'application/json; chatset=utf-8;',
            success: function (data) {
                $("#activelanguage").html('<img src="/Areas/Admin/img/blank.gif" class="' + data.Language.ClassName + '" alt="' + data.Language.Title + '"><span>' + data.Language.Title + '</span> <i class="fa fa-angle-down"></i>');
            }
        });
    });
</script>*@

