.owl-carousel {
	position: relative;
	height: 100%;
	div:not(.owl-controls) {
		height: 100%;
	}
	
	.owl-slide {
		background-image: url('https://images.unsplash.com/photo-1437915015400-137312b61975?fit=crop&fm=jpg&h=800&q=80&w=1200');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	
	div.owl--text {
	position: absolute;
	bottom: 4em;
	left: 2em;
	width: 20em;
	height: 8em;
		padding: 1em;
	background: rgba(255,255,255,.5);
		border-radius: 4px;
}
	
	.owl-controls {
		position: absolute;
		top: 50%;
		left: 0;
		right:0;
		
		.owl-buttons {
			
			div {
				position: absolute;
				top:0;
				bottom: 0;
   			display: inline-block;
    		zoom: 1;
    		margin: 0;
				width: 50px;
				height: 30px;
				line-height: 25px;
				text-align: center;
    		font-size: .9em;
    		border-radius: 3px;
				color: #FFF;
    		background: #000;
    		opacity: .6;
				text-transform: capitalize;
			} 
			
			.owl-prev {
				left: 5px;
			}
			.owl-next {
				right: 5px;
			}
		}
	}
}


* { box-sizing: border-box; }

body, html {
  height: 100%;
	margin: 0;
	font-family: futura, arial, sans-serif;
}

