﻿@{
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);

    foreach (var item in (ViewBag.odaSeo as List<Lissiya_Otel.Models.ServiceLanguages>).Where(x => x.LanguageID == languageId).ToList())
    {
        ViewBag.Title = @item.SeoTitle;

    }
    //ViewBag.Title = "Detay";

}
@using Lissiya_Otel.Functions
@using Lissiya_Otel.Models

@section metasection
{
    @foreach (var item in (ViewBag.odaSeo as List<Lissiya_Otel.Models.ServiceLanguages>).Where(x => x.LanguageID == languageId).ToList())
    {
        <meta name="description" content="@Html.Raw(item.SeoDescription)" />
        <meta name="keywords" content="@Html.Raw(item.SeoKeywords)" />

        <meta property="og:description" content="@Html.Raw(item.SeoDescription)" />
        <meta property="og:title" content="@Html.Raw(item.SeoTitle)" />
    }

}

<div class="container">
    <div class="md-body md-room-detail clearfix" style="padding-top: 30px;">
        <div class="grid_9 md-main">
            <div class="row">
                <!--  Slide Preview Room --><!-- InstanceBeginEditable name="Galeri" -->
                <div class="row slide-preview-room">
                    <div id="sliderBig">
                        <ul>
                            @foreach (var item in (ViewBag.odaResimleri as List<Lissiya_Otel.Models.ServiceImageLanguages>).ToList())
                            {
                                <li class="slideshow-photo" style="float: none; list-style: none; position: absolute; width: 876px; z-index: 0; display: none;"><img src="/media/images/@item.ImageName" alt=""></li>
                            }
                        </ul>
                    </div>
                    <div id="sliderThumb">
                        <ul>
                            @{
                                int i = 0;
                                foreach (var item in (ViewBag.odaResimleri as List<Lissiya_Otel.Models.ServiceImageLanguages>).ToList())
                                {
                                    <li slideindex="@i"><a href="#"><img src="/media/images/thumbnails/@item.ImageName" alt=""></a></li>
                                    {
                                        i = i + 1;
                                    }
                                }
                            }

                            @*<li slideindex="1"><a href="#"><img src="img/standart-oda/standar-2-t.jpg" alt=""></a></li>*@
                        </ul>
                    </div>
                </div>
                <!-- InstanceEndEditable --><!-- InstanceBeginEditable name="icerik" -->
                <div class="preview-content">

                    @if (languageId == 2)
                    {
                        if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 2)
                        {
                            <p>Our room of 30 m2 living room, a bathroom and a private terrace with sea views. The marble tiled walk-in shower in the bathroom with fine detail .</p>
                            <p> All our rooms as standard in our rooms, and is designed to be independent of each other to see each other.</p>
                        }
                        else if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 3)
                        {
                            <p>Suite 2 is the number of our rooms, each independently, houses to see each other, which is located in the forefront of the integrity of the wood degradation by nature are designed with modern çiizgi. Suite Our rooms 40 m, one bedroom consists of lounge and bathroom. Sea view rooms have a private terrace overlooking the sea and nature, fireplace, dual air conditioning, a bathroom with double jacuzzi.</p>
                        }
                        else if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 4)
                        {
                            <p>Deluxe Suite Rooms 2 and the quantities, soothing color tones, laminate flooring or our guests with elegant and spacious atmosphere in comfortable and modern design with a refreshing light up your house in our room with carpet comfort and convenience are decorated keeping the first priority ...</p>
                            <p>In particular, our preferred Honeymooners, specially designed deluxe en-suite rooms with sea views, meeting with the quality of comfort in the lap of nature. Our Deluxe Suite Room 50 m2 and consists of a bedroom and lounge. Our rooms have a private terrace and private garden overlooking the sea and nature. Fireplace, dual air conditioning, in one of the rooms, the bedroom with double jacuzzi in our room and the other is that you can choose in all seasons with jacuzzi overlooking the garden, ideal for a honeymoon room.</p>
                            <p>Thelife will be private for you in all of its senses at Lissiya with its houses that had been designed in a way that they do not face each other in independent locations.…</p>
                        }
                    }
                    else
                    {
                        if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 2)
                        {
                            <p>30 m2 büyüklüğündeki odalarımız salon, banyo ve deniz manzaralı özel terastan oluşuyor. İnce detaylarla döşenmiş mermer banyoda duşakabin bulunmakta...</p>
                            <p> Tüm odalarımız gibi Standart Odalarımızda, birbirinden bağımsız ve birbirlerine görmeyecek şekilde tasarlanmıştır.</p>
                            <p>&nbsp;</p>
                        }
                        else if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 3)
                        {
                            <p>Suit Odalarımız  2 adet olup, Birbirinden bağımsız, evler birbirini görmeyecek şekilde , doğa ile bütünlüğün bozulmadığı ahşabın ön planda yer aldığı modern çiizgilerle  tasarlanmışlardır.  Suit Odalarımız 40 m', bir yatak odası,  salon ve banyodan oluşmaktadır. Deniz ve doğa manzaralı odalarımızda özel deniz manzaralı teras, şömine, çift klima, banyoda  çift kişilik jakuzi  bulunmaktadır.</p>
                        }
                        else if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 4)
                        {
                            <p>Deluxe Suit Odalarımız  2 adet olup, sakinleştirici renk tonları, laminat parke veya halı olan odalarımızda içinizi ferahlatan aydınlatma ile rahat ve modern tasarım içerisinde şık ve ferah atmosferi ile misafirlerimizin konfor ve rahatlığı ilk öncelik tutularak dekore edilmiştir...</p>
                            <p>
                                Özellike Balayı çiftlerimizin tercih ettiği, özel tasarlanmış Deluxe Suit Oda deniz manzaralı, doğanın kucağında kalite ile konforun buluşması. Deluxe Suit Odalarımız 50 m2 olup, bir yatak odası ve salondan oluşmaktadır. Deniz ve doğa manzaralı odalarımızda özel teras ve özel bahçe bulunmaktadır. Şömine, çift klima, odalardan birinde, yatak odasında bulunan  çift kişilik jakuzi ve diğerr odamızda ise bahçe içerisinde manzaralı jakuzi ile her mevsim tercih edebileceğiniz, ideal bir balayı odası.
                            </p>
                            <p> Birbirinden bağımsız konumlarda birbirlerini görmeyecek şekilde tasarlanan evleri ile sizi her anlamıyla önemseyen Lissiya’da yaşam her anlamıyla size özel…</p>
                        }
                    }

                    <h4 class="h4">
                        @if (languageId == 2)
                        {
                            foreach (var item in (ViewBag.odaIsmi as List<Lissiya_Otel.Models.ServiceLanguages>).Where(x => x.LanguageID == 2).ToList())
                            {
                                @item.Title <span>Price</span>
                            }
                        }
                        else
                        {
                            foreach (var item in (ViewBag.odaIsmi as List<Lissiya_Otel.Models.ServiceLanguages>).Where(x => x.LanguageID == 1).ToList())
                            {
                                @item.Title <span>Fiyatı</span>
                            }
                        }
                    </h4><br><div class="line"></div>

                    @foreach (var item in (ViewBag.odaFiyatlari as List<Lissiya_Otel.Models.FiyatLanguages>).Where(x => x.LanguageId == languageId).ToList())
                    {
                        <div class="row-room clearfix">
                            <div class="col-thumbnail-room">
                                <span class="day-arrival">@item.Tarih1</span><br>
                            </div>
                            <div class="col-info-room">
                                <span class="day-departure">@item.Tarih2</span>
                            </div>
                            <div class="col-info-room">
                                <span class="number">@item.Fiyat</span>
                            </div>
                        </div>
                        <div class="line"></div>
                    }

                    @*@foreach (var item in ViewBag.odaFiyatlari as List<Lissiya_Otel.Models.FiyatLanguages>)
                        {
                            <div class="row-room clearfix">
                                <div class="col-thumbnail-room">
                                    <span class="day-arrival">@item.Tarih1</span><br>
                                </div>
                                <div class="col-info-room">
                                    <span class="day-departure">@item.Tarih2</span>
                                </div>
                                <div class="col-info-room">
                                    <span class="number">@item.Fiyat</span>
                                </div>
                            </div>
                            <div class="line"></div>
                        }*@

                    @*<div class="row-room clearfix">
                            <div class="col-thumbnail-room">
                                <span class="day-arrival">01-05-2015</span><br>
                            </div>
                            <div class="col-info-room">
                                <span class="day-departure">31-05-2015</span>
                            </div>
                            <div class="col-info-room">
                                <span class="number">900 TL</span>
                            </div>
                        </div>	<div class="line"></div>*@

                    @*<div class="row-room clearfix">
                            <div class="col-thumbnail-room">
                                <span class="day-arrival">01-06-2015</span><br>
                            </div>
                            <div class="col-info-room">
                                <span class="day-departure">30-06-2015</span>
                            </div>
                            <div class="col-info-room">
                                <span class="number">1000 TL</span>
                            </div>
                        </div>*@
                    <br>
                    <ul class="list list-check">
                        @foreach (var item in (ViewBag.odaMaddeleri as List<Lissiya_Otel.Models.MaddeLanguages>).Where(x => x.LanguageId == languageId).ToList())
                        {
                            <li>@item.Baslik</li>
                        }
                    </ul>
                    @if (languageId == 2)
                    {
                        <p class="font_d"> Please don’t hesitate to contact with us if you have any extra questions or requests <a href="/contact" title="Contact Us"> Contact Us....</a></p>
                    }
                    else if (languageId == 1)
                    {
                        <p class="font_d"> Herhangi bir sorunuz veya isteğinizi varsa bizimle irtibata geçmekten çekinmeyin<a href="/iletisim" title="İletişim "> iletişim için..</a></p>
                    }
                </div>
                <!-- InstanceEndEditable -->
            </div>
        </div><!-- /.md-main -->
        <aside class="grid_3 md-sidebar md-sidebar-pt">
            <!-- InstanceBeginEditable name="ozellikler" -->
            <section class="box-sidebar">
                <h2 class="h3 header-sidebar">
                    @foreach (var item in (ViewBag.odaIsmi as List<Lissiya_Otel.Models.ServiceLanguages>).Where(x => x.LanguageID == languageId).ToList())
                    {
                        @item.Title
                    }
                </h2>

                <ul class="list list-check">

                    @foreach (var item in (ViewBag.odaTipleri as List<Lissiya_Otel.Models.OzellikLanguages>).Where(x => x.LanguageId == languageId).ToList())
                    {
                        <li>@item.Baslik</li>
                    }

                    @*@foreach (var item in ViewBag.odaTipleri as List<Lissiya_Otel.Models.OzellikLanguages>)
                        {
                            <li>@item.Baslik</li>
                        }*@

                    @*<li>Ücretsiz Wİ-Fİ Bağlantısı</li>
                        <li>Smart TV (internet bağlantılı, film paketli)</li>
                        <li>Telefon</li>
                        <li>Oda servisi</li>
                        <li>Mini bar</li>
                        <li>Kasa</li>
                        <li>Saç kurutma makinesi</li>
                        <li>Full ortopedik yatak</li>
                        <li>Çevreye duyarlı LED ışıklandırma</li>
                        <li>Deniz manzarası ve teras</li>*@
                </ul>
            </section>
            <!-- InstanceEndEditable -->
        </aside>
        <figure> <img class="logo" alt="" src="/Content/Site/img/news/booking_lissiyahotel.png"> </figure>
        <p>&nbsp;</p>
        <figure> <a href="http://www.tripadvisor.com/Hotel_Review-g298031-d4065040-Reviews-Lissiya_Hotel-Fethiye_Mugla_Province_Turkish_Aegean_Coast.html" target="_blank"><img class="logo" alt="" src="/Content/Site/images/tripadvisor-main.png"></a> </figure><!-- /.md-sidebar -->
    </div><!-- /.md-testimonail -->
</div>