﻿@{
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
    ViewBag.Title = (language == "en" ? @GeneralFunctions.GetSettingValue("SeoTitle") : @GeneralFunctions.GetSettingValue("SeoTitle"));
}
@using Lissiya_Otel.Functions
@model List<Lissiya_Otel.Models.ServiceLanguages>

@section metasection
    {
      <meta name="description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
        <meta name="keywords" content="@GeneralFunctions.GetSettingValue("SeoKeywords")" />
        <meta property="og:description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
        <meta property="og:title" content="@GeneralFunctions.GetSettingValue("SeoTitle")" />
    
}

<!-- Slider with Jquery bxslider -->
<!-- InstanceBeginEditable name="Banner" -->
<section class="md-slide-wrapper-banner md-slide-home md-slide-banner">
    <!-- Slide Image-->
    <ul id="" class="md-slide-banner clearfix">
        <li> <img src="/Content/Site/img/banner/konalama-main.jpg" alt=""> </li>
    </ul>
</section>
<!-- InstanceEndEditable --><!-- Slider End -->
<!-- Body -->
<div class="md-body-wrapper">
    <section class="container">
        <div class="md-body md-accomodation" style="padding-top:30px;">
            <section class="row md-accomodation-available clearfix">
                <div class="grid_3 align-center">
                    <article class="media">

                        <figure> <img class="logo" alt="" src="/Content/Site/images/lissiya-logo-sl.png"> </figure>
                        <!-- InstanceBeginEditable name="Baslik" -->
                        <div class="decription-override">
                            <h3 class="media-header h4">
                                @if (languageId ==1)
                                {
                                    <span>KONAKLAMA</span>
                                }
                                else
                                {
                                    <span style="font-size: 28px;">ACCOMMODATION</span>
                                }
                            </h3>
                        </div>
                        <!-- InstanceEndEditable -->
                        </header>
                </div>
                <!-- InstanceBeginEditable name="content" -->
                <div class="grid_9">
                    <section class="md-booking">
                        @if (language != 1)
                        {
                            <p>
                                Thelife will be private for you in all of its senses at Lissiya with its houses that had been designed in a way that they do not face each other in independent locations.…scover yourself and meet with yourself...
                            </p>
                            <p>&nbsp;</p>
                            <p>All of the houses, which are buried inside of the valley and which are designed as the extension of the nature and where all of them have the sea view, brings its guests together with unique quality and comfort and the nature.   Lissiya, which provides its services through 2 Deluxe Suits, 2 Suits and 6 Standard rooms in total, provides you the unique watching of the endless blue and the sky that is full of stars during the night from its balconies that are available in all of the rooms while it provides the best service in all of the seasons in its suits that have fireplace, double air conditioning and a whirlpool. </p>
                            <p>&nbsp;</p>
                        }
                        else 
                        {
                            <p>LİSSİYA'da Birbirinden bağımsız konumlarda birbirlerini görmeyecek şekilde tasarlanan evleri ile sizi her anlamıyla önemseyen Lissiya&rsquo;da yaşam her anlamıyla size özel…</p>


                            <p>Vadinin içine gömülü, doğanın bir uzantısı olarak tasarlanmış  evlerinin tamamı deniz manzaralı olan Lissiya, misafirlerini doğayla birlikte eşsiz bir kalite ve konforla buluşturuyor. Toplamda 2 suit ve 6 double odasıyla hizmet veren Lissiya, suitlerindeki şömine, çift klima ve jakuzi ile her mevsim en iyi hizmeti sağlarken bütün odalarda bulunan balkonlarla size sonsuz mavinin ve gece yıldızlarla kaplı gökyüzünün eşsiz seyrini sunuyor. </p>
                            <p>&nbsp;</p>
                        }
                    </section>
                    <!-- /.md-booking -->
                </div>
                <!-- InstanceEndEditable -->
            </section>
            <!-- InstanceBeginEditable name="alan-detay" -->
            <section class="md-accomodation-content">
                <div class="row clearfix">

                    @if (languageId != 1)
                    {
                        foreach (var item in Model.Where(x => x.LanguageID == languageId).ToList())
                        {
                            <div class="grid_4">
                                <article class="media">
                                    <figure> <img src="/media/images/@item.ImageName" alt="@item.Title" class="media-object"> </figure>
                                    <section class="media-body">
                                        <h3 class="media-header h4"><a href="/service-detail/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.ServiceID">@item.Title</a></h3>
                                        <p class="media-content">@item.Summary</p>
                                        <a class="btn btn-small btn-border btn-border-brown" href="/service-detail/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.ServiceID">Details</a>
                                    </section>
                                </article>
                            </div>
                        }
                    }
                    else
                    {
                        foreach (var item in Model.Where(x => x.LanguageID == languageId).ToList())
                        {
                            <div class="grid_4">
                                <article class="media">
                                    <figure> <img src="/media/images/@item.ImageName" alt="@item.Title" class="media-object"> </figure>
                                    <section class="media-body">
                                        <h3 class="media-header h4"><a href="/servis-detay/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.ServiceID">@item.Title</a></h3>
                                        <p class="media-content">@item.Summary</p>
                                        <a class="btn btn-small btn-border btn-border-brown" href="/servis-detay/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.ServiceID">Detay için</a>
                                    </section>
                                </article>
                            </div>
                        }
                    }

                    @*@foreach (var item in ViewBag.KonaklamaYerleri as List<Lissiya_Otel.Models.ServiceLanguages>)
                        {
                            <div class="grid_4">
                                <article class="media">
                                    <figure> <img src="/media/images/@item.ImageName" alt="@item.Title" class="media-object"> </figure>
                                    <section class="media-body">
                                        <h3 class="media-header h4"><a href="standart-oda.html">@item.Title</a></h3>
                                        <p class="media-content">30 m2 büyüklüğündeki odalarımızda oturma alanı ve yatak odası bir arada yer alıyor. İince detaylarla döşenmiş mermer banyoda duşakabin bulunmakta. </p>
                                        <a class="btn btn-small btn-border btn-border-brown" href="@Url.Action("Detay", "Konaklama", item.ServiceID)">Detay için</a>
                                    </section>
                                </article>
                            </div>
                        }*@

                        @*<div class="grid_4">
                                <article class="media">
                                    <figure> <img src="/Content/Site/img/main-page/suit-oda-1.jpg" alt="" class="media-object"> </figure>
                                    <section class="media-body">
                                        <h3 class="media-header h4"><a href="suit-oda.html">SUIT ODA  </a></h3>
                                        <p class="media-content">40 m2 büyüklüğündeki Suit odalarımız yatak odası ve oturma odası olarak ayrı alanlara sahip. Suit Odalarımızda ayrıca jakuzili banyo ve teras bulunmakta. </p>
                                        <a class="btn btn-small btn-border btn-border-brown" href="suit-oda.html">Detay için</a>
                                    </section>
                                </article>
                            </div>
                            <div class="grid_4">
                                <article class="media">
                                    <figure> <img src="/Content/Site/img/main-page/deluxe-suit-oda-1.jpg" alt="" class="media-object"> </figure>
                                    <section class="media-body">
                                        <h3 class="media-header h4"><a href="deluxe-suit-oda.html">DELUXE SUIT ODA </a></h3>
                                        <p class="media-content">40 m2 büyüklüğündeki Deluxe Suit odalarımız, yatak odası ve oturma odası olarak ayrı alanlara sahip. Jakuzili banyo, özel teras ve özel bahça bulunmakta. </p>
                                        <a class="btn btn-small btn-border btn-border-brown" href="deluxe-suit-oda.html">Detay için</a>
                                    </section>
                                </article>
                            </div>*@
                    </div>
                </section>
                <!-- InstanceEndEditable -->
            </div><!-- /.md-accomodation -->
        </section><!-- /.md-wrapper  -->
    </div>
