﻿@{
    Layout = null;
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
    string language = ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"].ToString() : "en";
}
@model List<Lissiya_Otel.Models.MenuLanguages>
@using Lissiya_Otel.Functions

<ul id="main-menu" class="md-menu foot footul">
    @if (Model.Count > 0 && Model != null)
    {
        int sayac = 1;
        foreach (var item in Model.Where(x => x.LanguageId == languageId).ToList())
        {

            if (!string.IsNullOrEmpty(item.Url) && item.Type == 2)
            {
                <li><a href="@item.Url">@item.Title</a></li>
            }
            else
            {
                <li><a href="/@language/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.MenuId">@item.Title</a></li>
            }

        }
    }
</ul>