﻿@{
    Layout = null;
    int languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
}
@model List<Lissiya_Otel.Models.MenuLanguages>
@using Lissiya_Otel.Functions

<ul id="main-menu" class="md-menu foot footul">
    @if (Model.Count > 0 && Model != null)
    {
        int sayac = 1;
        foreach (var item in Model.Where(x => x.LanguageId == languageId).ToList())
        {

            if (!string.IsNullOrEmpty(item.Url) && item.Type == 2)
            {
                <li><a href="@item.Url">@item.Title</a></li>
            }
            else
            {
                <li><a href="#@GeneralFunctions.ReplaceUrlRouting(item.Title)" class="myBtn" data-MenuLanguageId="@item.MenuLanguageId" data-LanguageId="@item.LanguageId" data-MenuId="@item.MenuNames.MenuId" data--Type="@item.Type" data-ContentId="@item.ContentId" data-Status="@item.Status" data-SliderId="@item.SliderId">@item.Title</a></li>
            }

        }
    }
</ul>