﻿@{
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
    ViewBag.Title = (languageId == 1 ? "Oyster & Muhteşem doğa-Romantik Tatil" : "Oyster & Muhteşem doğa-Romantik Tatil");

    MenuLanguages special = ViewBag.menuSpecialsEng;
    MenuLanguages reservation = ViewBag.menuReservationsEng;
}
@using Lissiya_Otel.Models
<div class="md-body">
    <div class="slideshows">
        <div class="slide-preview-room fullscreen">
            <div class="main-div">
                <div class="banner-content">

                    <a href="http://oysterresidences.com"><p class="stilContent" align="center">SPECIAL OFFERS</p></a>

                    @*<a href="#" class="myBtn" data-MenuLanguageId="@special.MenuLanguageId" data-LanguageId="@special.LanguageId" data-MenuId="@special.MenuNames.MenuId" data--Type="@special.Type" data-ContentId="@special.ContentId" data-Status="@special.Status" data-SliderId="@special.SliderId"><p class="stilContent" align="center">SPECIAL OFFERS</p></a>*@

                    <p align="center"><img src="/Content/Site/images/9.png" alt="" style="width:initial;padding-bottom:10px"></p>
                </div>
                <p></p>
                <div class="banner-content2">

                    @*<span class="stil3">B</span> OOK <span class="stil3">N</span> OW*@
                    <a href="#" class="myBtn" data-MenuLanguageId="@reservation.MenuLanguageId" data-LanguageId="@reservation.LanguageId" data-MenuId="@reservation.MenuNames.MenuId" data--Type="@reservation.Type" data-ContentId="@reservation.ContentId" data-Status="@reservation.Status" data-SliderId="@reservation.SliderId"><p class="stilContent" align="center">BOOK NOW</p></a>

                    <p align="center"><img src="/Content/Site/images/9.png" alt="" style="width:initial;padding-bottom:10px"></p>
                    <p class="stilContent" align="center">00 90 252 617 07 65</p>
                </div>
            </div>

            @*<div class="md-footer">*@

            @*</div>*@
            <div class="slide-wrapper">
                <ul id="bxslider" class="bxslider">

                    @foreach (var item in ViewBag.Sliderlar as List<Lissiya_Otel.Models.SliderImages>)
                    {
                        @*<li style="width:100%;background-image: url('../../media/images/@item.ImageName');">*@
                        <li>
                            <img src="~/media/images/@item.ImageName" alt="Oyster hotel">
                            <div class="content-slide">
                                <div class="description-content">
                                    <h2>@item.Title</h2>
                                </div>
                            </div>
                        </li>
                        @*</li>*@
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="md-footer xs" style="position:fixed;bottom:0; min-height:126px;">
    <div class=" grid_12" style="font-style: italic;  color:white;   font-size: 14px;font-family: Helvetica,Arial,sans-serif !important;">
        <div>
            <div>
                <p style="text-align:center">Children under 14 years are not allowed in Oyster Residences</p>
            </div>
            <div>
                <p style="text-align:center">Oyster Residences otelimize 14 yaş altı çocuk alınmamaktadır</p>
            </div>
        </div>
    </div>
    <div class="  grid_12" style="margin-top:10px;">

        <div class="footer-social">
            <div class="social-inner">

                <span class="social-group">
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("FacebookAddress")" target="_blank"><i class="icon icon-facebook"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TwitterAddress")" target="_blank"><i class="icon icon-twitter"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("YoutubeAddress") " target="_blank">  <i class="icon icon-youtube"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TripadvisorAddress")" target="_blank"><i class="icon icon-tripadvisor"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("GooglePlusAddress")" target="_blank"><i class="icon icon-google"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("InstegramAddress")" target="_blank"><i class="icon icon-instagram"></i></a>
                </span>
            </div>
        </div>
    </div>
</footer>
<footer class="md-footer md" style="position:fixed;bottom:0; top:none;display:table">

    <div class=" social grid_3">

        <div class="footer-social">
            <div class="social-inner">

                <span class="social-group">
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("FacebookAddress")" target="_blank"><i class="icon icon-facebook"></i></a>
                    @*<a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TwitterAddress")" target="_blank"><i class="icon icon-twitter"></i></a>*@
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("YoutubeAddress") " target="_blank">  <i class="icon icon-youtube"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TripadvisorAddress")" target="_blank"><i class="icon icon-tripadvisor"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("GooglePlusAddress")" target="_blank"><i class="icon icon-google"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("InstegramAddress")" target="_blank"><i class="icon icon-instagram"></i></a>
                </span>
            </div>
        </div>
    </div>

    <div class="menus grid_4" style="float: none;    display: table-cell; vertical-align:middle">

        <nav id="main-nav">

            @Html.Action("FotMenuPage", "Home")
        </nav>
        <div style="font-family: Helvetica,Arial,sans-serif;font-size: 11px; width:100%; color:white; display:inline-block;">
            Oyster Residences Belcekız mevki 224 sok.No:1 Ölüdeniz Fethiye/TÜRKİYE
        </div>
    </div>
    <div class="duyuru" style="display:table-cell;vertical-align:middle;float:none;font-style: italic;    font-size: 14px;">
        <div>
            <div>
                <p>Children under 14 years are not allowed in Oyster Residences</p>
            </div>
            <div>
                <p>Oyster Residences otelimize 14 yaş altı çocuk alınmamaktadır</p>
            </div>
        </div>
    </div>
    <div class="Arge" style="float: none;    display: table-cell; vertical-align:middle;     padding-right: 10px;">

        <a href="/" target="AnaKatman"><img border="0" src="/Content/Site/images/7.png" /></a>
    </div>
</footer>

<!-- #region modal -->
<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content" id="text1">
        <div class="modal-header">
            <span class="close">
                <img src="~/Content/Site/images/x.png" style="position:absolute;cursor:pointer;width:inherit;">
                ×
            </span>
        </div>
        <div class="modal-body">
            <div class="scroll" id="text">
                @{

                    @*@Html.Raw(@ViewBag.Modaltitle);*@
                    @Html.Raw(ViewBag.Modaldescription);

                }
                @*<a href="https://www.reseliva.com/hotel/Oyster-Residences/reservation.php" class="btn btn-small btn-border btn-border-brown btn-book" id="submit-contact" style="float: right;">Book Now</a>*@
            </div>
        </div>
        <div class="modal-footer">
            @*  <p align="center"><img src="/Content/Site/images/9.png" alt="" style="width:initial;padding-bottom:10px"></p>*@
        </div>
    </div>
</div>
<!-- #endregion -->
<!-- #region contactform -->
<div id="contactModal" class="modal">
    <div class="modal-content cnc" id="text1">
        <div class="modal-header">
            <span class="contactclose">
                <img src="~/Content/Site/images/x.png" style="position:absolute;cursor:pointer;width:inherit;">
                ×
            </span>
        </div>
        <div class="modal-body">
            <div class="scroll" id="text" style="height: auto;">
                <div class="row form-contact">
                    @if (languageId == 2)
                    { <form id="contact-form" class="basic-grey" action="@Url.Action("Index", "Home")" method="post" role="form" lang="en">
                        <h1>

                            Book a Table
                        </h1>
                        <input type="hidden" value="en" name="language" />
                        @*<input type="hidden" value="Book a Table || Reservation" name="Subject" />*@

                        <label>
                            <span>Name</span>
                            <input type="text" name="NameSurname" id="name" required data-errormessage-value-missing="Please fill in this field" data-errormessage-type-mismatch="Please fill in this field." data-errormessage="Please fill in this field">
                        </label>
                        <label>
                            <span>Tel</span>
                            <input type="text" name="Tel" id="tel" required data-errormessage-value-missing="Please fill in this field" data-errormessage-type-mismatch="Please fill in this field." data-errormessage="Please fill in this field">
                        </label>
                        <label>
                            <span>E-Mail</span>
                            <input type="email" name="Email" id="email" required data-errormessage-value-missing="Please fill in this field" data-errormessage-type-mismatch="Please enter a valid email address" data-errormessage="Please fill in this field">
                        </label>
                        <input type="hidden" name="Subject" id="Subject" value="" />
                        <div id="hidden_divB" style="display: none;">
                            <label>
                                <span>DateTime</span>
                                <input type="date" name="Date" id="Date" required min="@DateTime.Now.ToString("yyyy-MM-dd")" data-errormessage-value-missing="Please fill in this field" data-errormessage-type-mismatch="Please enter a valid date" data-errormessage="Please fill in this field">
                            </label>
                        </div>
                        <div id="hidden_divR" style="display: none;">
                            <label>
                                <span>Time Entry</span>
                                <input type="datetime-local" name="DateGiris" id="DateGiris" required data-errormessage-value-missing="Please fill in this field"
                                       data-errormessage-type-mismatch="Please enter a valid date" data-errormessage="Please fill in this field" min="@DateTime.Now.ToString("yyyy-MM-dd")">
                            </label>
                            <label>
                                <span>Time Out</span>
                                <input type="datetime-local" name="DateCikis" id="DateCikis" required data-errormessage-value-missing="Please fill in this field" data-errormessage-type-mismatch="Please enter a valid date" data-errormessage="Please fill in this field" min="@DateTime.Now.ToShortDateString()">
                            </label>
                        </div>

                        <label>
                            <span>Detail</span>
                            <textarea name="Message" id="message" required data-errormessage-value-missing="Please fill in this field" data-errormessage-type-mismatch="Please fill in this field." data-errormessage="Please fill in this field"></textarea>
                        </label>

                        <label>
                            <span>&nbsp;</span>
                            <button type="submit" class="button">Send Message</button>
                        </label>
                    </form>
                    }
                    else
                    {
                        <form id="contact-form" class="basic-grey" action="@Url.Action("Index", "Home")" method="post" role="form">
                            <h1>

                                <span>Please fill all the texts in the fields.</span>
                            </h1>
                            <input type="hidden" value="tr" name="language" />
                            @*<input type="hidden" value="Book a Table || Reservation" name="Subject" />*@

                            <label>
                                <span>Name</span>
                                <input type="text" name="NameSurname" id="nametr" required>
                            </label>
                            <label>
                                <span>E-Mail</span>
                                <input type="email" name="Email" id="email" required>
                            </label>
                            <label>
                                <span>E-Mail</span>
                                <input type="email" name="Email" id="emailtr" required>
                            </label>
                            <input type="hidden" name="Subject" id="Subject" value="" />
                            <div id="hidden_divB" style="display: none;">
                                <label>
                                    <span>DateTime</span>
                                    <input type="datetime-local" name="Date" id="DateTimetr">
                                </label>
                            </div>
                            <div id="hidden_divR" style="display: none;">
                                <label>
                                    <span>Giriş Tarihi</span>
                                    <input type="datetime-local" name="DateGiris" id="name">
                                </label>
                                <label>
                                    <span>Çıkış Tarihi</span>
                                    <input type="datetime-local" name="DateCikis" id="name">
                                </label>
                            </div>

                            <label>
                                <span>Detail</span>
                                <textarea name="Message" id="messagetr"></textarea>
                            </label>

                            <label>
                                <span>&nbsp;</span>
                                <button type="submit" class="button">Send Message</button>
                            </label>
                        </form>

                    }
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <p align="center"><img src="/Content/Site/images/9.png" alt="" style="width:initial;padding-bottom:10px"></p>
        </div>
    </div>
</div>
<!-- #endregion -->
<div id="Mailsend" class="modal">
    <div class="modal-content cnc" id="text1">
        <div class="modal-header">
            <span class="contactclose" id="mailsendclose">
                <img src="~/Content/Site/images/x.png" style="position:absolute;cursor:pointer;width:inherit;">
                ×
            </span>
        </div>
        <div class="modal-body">

            <div class="row form-contact">
                @if (languageId == 2)
                {
                    if (ViewBag.MailSend != null && ViewBag.MailSend == true)
                    {

                        <p style="height: 100px;text-align: center; padding-top: 46px; font-size: 20px;">  Your request is successful.</p>

                    }
                    else if (ViewBag.MailSend != null && ViewBag.MailSend == false)
                    {
                        <p style="height: 100px;text-align: center; padding-top: 46px; font-size: 20px;"> Something went wrong.</p>
                    }

                }
                else
                {
                    if (ViewBag.MailSend != null && ViewBag.MailSend == true)
                    {

                        <p style="height: 100px;text-align: center; padding-top: 46px; font-size: 20px;"> Talebiniz başarılı bir şekilde alınmıştır.</p>

                    }
                    else if (ViewBag.MailSend != null && ViewBag.MailSend == false)
                    {
                        <p style="height: 100px;text-align: center; padding-top: 46px; font-size: 20px;">  Gönderim sırarasında bir hata oluştu.</p>
                    }

                }
            </div>
        </div>
        <div class="modal-footer">
            <p align="center"><img src="/Content/Site/images/9.png" alt="" style="width:initial;padding-bottom:10px"></p>
        </div>
    </div>
</div>

<div id="rezervasyon" class="modal">
    <div class="modal-content cnc" id="text1">
        <div class="modal-header">
            <span class="contactclose" id="rezclose">
                <img src="~/Content/Site/images/x.png" style="position:absolute;cursor:pointer;width:inherit;">
                ×
            </span>
        </div>
        <div class="modal-body">
            <div class="scroll" id="text" style="height: auto;">
                <div class="row form-contact">
                    <h1>

                        Reservation
                    </h1>
                    <div id="res_r_box" align="center">
                        <div id="res_r_box_h">
                            <a href="http://www.reseliva.com/for-hotels/booking-engine/">Reseliva Booking Engine</a><noscript>
                                <br />Please enable javascript in your browser<BR /><a href="http://www.reseliva.com/hotel/Oyster-Residences/">Online Reservation</a>
                            </noscript>
                        </div>
                    </div>
                    <script language="javascript1.2"> var res_h_name = "Oyster-Residences"; var res_t_width = 250; var res_lan = "en"; var res_extra = 0; var res_people = 1; var res_target = "r"; var res_new_window = 1; var res_upside = 0; var res_max_people = 2; var res_theme = 9; (function () { var zu = document.createElement('script'); zu.type = 'text/javascript'; zu.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'www.reseliva.com/ReselivaBox/JS/js.js'; var sc = document.getElementsByTagName('script')[0]; sc.parentNode.insertBefore(zu, sc); })(); </script>
                    <style type="text/css">
                        .chzn-single {
                            /*display: none !important;*/
                        }

                        #anchorA > img, #anchorB > img {
                            display: none;
                        }

                        #res_r_box td, #res_r_box td strong, #res_r_box_a a {
                            color: #fff !important;
                        }

                        #res_r_box_h_table {
                            padding: 5px 10px !important;
                        }

                        #res_r_box td, #res_r_box td strong {
                            font-size: 12px;
                        }

                        tr:nth-child(2n) {
                            background: none !important;
                        }

                        #btnShowPrices {
                            -moz-user-select: none !important;
                            background-image: none !important;
                            border: 1px solid transparent !important;
                            border-radius: none;
                            cursor: pointer !important;
                            display: inline-block !important;
                            font-size: 14px !important;
                            font-weight: bolder !important;
                            line-height: 1.42857 !important;
                            margin-bottom: 0 !important;
                            padding: 6px 12px !important;
                            text-align: center !important;
                            vertical-align: middle !important;
                            white-space: nowrap !important;
                            background-color: #F8BC21 !important;
                            border-color: #F7B716 !important;
                            color: #fff !important;
                            text-transform: uppercase;
                            margin-top: 7px;
                        }

                            #btnShowPrices:hover {
                                color: #ffffff !important;
                                background-color: #B38500 !important;
                                border-color: #B38500 !important;
                            }

                        #tmpCheckInDate2, #tmpCheckOutDate2, #tmp_numAdults_0 {
                            display: inline !important;
                            height: 42px !important;
                            width: 50% !important;
                            padding: 1px 1px !important;
                            text-align: center !important;
                            font-size: 12px !important;
                            line-height: 1.42857143 !important;
                            color: #555555 !important;
                            background-color: #ffffff !important;
                            background-image: none !important;
                            border: 1px solid #cccccc !important;
                            border-radius: none;
                            -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
                            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
                            -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s !important;
                            -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
                            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s !important;
                            margin-top: 7px;
                        }

                        #tmp_numAdults_0 {
                            width: 25% !important;
                        }

                        div.icerikdiv {
                            margin-top: 0px !important;
                        }

                        div.col-md-12 {
                            padding-left: 0px;
                        }

                        #res_bordered_row input {
                            width: 150px !important;
                        }

                        #res_r_box_h_table input {
                            width: 229px !important;
                        }

                        #res_r_box_h_table table {
                            padding: 11px;
                        }

                        #res_r_box_h_table table {
                            background-color: #554131;
                            border: 2px solid #554131;
                        }

                        #res_r_box_a img {
                            position: relative !important;
                        }

                        #tmp_numAdults_0 {
                            width: 100% !important;
                        }
                    </style>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <p align="center"><img src="/Content/Site/images/9.png" alt="" style="width:initial;padding-bottom:10px"></p>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="~/Content/Site/js/validate.js"></script>
<script type="text/javascript" src="/Content/Site/js/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/Content/Site/js/jquery.magnific-popup.map.js"></script>
@if (ViewBag.Modaldescription == null)
{

    <script>
        $(document).ready(function () {
            //popup başladı
            $.magnificPopup.open({
                items:
                {
                    src: '/Content/Site/images/d343c218-45a6-4e93-8523-ef0f80559b28.jpg'
                },
                type: 'image',
                callbacks: {

                    updateStatus: function () {

                        var mfp = jQuery.magnificPopup.instance;

                        jQuery('.mfp-img').click(function () {

                            window.open('http://www.reseliva.com/hotel/Oyster-Residences/?code=OYSTER15', '_blank');
                        });

                    }, //updateStatus

                }

            }, 0);
            setTimeout(function () {
                $.magnificPopup.close(
                    {

                        removalDelay: 160

                    })
            }, 6000)
            //popup bitti
        });
    </script>

}
<script>

        var modal = document.getElementById('myModal');
        var Contactmodal = document.getElementById('contactModal');

        var btn = document.getElementById("myBtn");
        //var contactbtn = document.getElementById("contactBtn");

        var span = document.getElementsByClassName("close")[0];
        var contactspan = document.getElementsByClassName("contactclose")[0];
        var content1 = document.getElementsByClassName("banner-content")[0];
        var content2 = document.getElementsByClassName("banner-content2")[0];
        function closeMe() {
            var container = document.getElementById('mp-pusher');
            classie.remove(container, 'mp-pushed');
            classie.remove(container, 'mp-pusher');
            container.style.transform = "translate3d(0px, 0px, 0px)";

            //scrollToAnchor('#services');
        }

        $(document).ready(function () {

            windowHeight = $(window).height();
            var windowWidth = $(window).width();
            headerHeight = $(".md-header").height();
            if (windowWidth > 1024) {

                footerHeight = $(".md-footer.md").height();
                $("#text1").css("max-height", (windowHeight - headerHeight - footerHeight - 2) + "px").css("height", "auto");
                $("#text").css("max-height", (windowHeight - headerHeight - footerHeight - 20) + "px").css("height", "auto");
                $(".bg-contact").css("height", (windowHeight - headerHeight - footerHeight - 20) + "px");
            }
            else {
                headerHeight = $(".md-header").height();
                footerHeight = $(".md-footer.xs").height();
                $("#text1").css("max-height", (windowHeight - headerHeight - footerHeight - 2) + "px").css("height", "auto");
                $(".bg-contact").css("height", (windowHeight - headerHeight - footerHeight - 20) + "px");
            }

            $(".myBtn").click(function (event) {
                var MenuLanguageId = $(this).attr('data-MenuLanguageId');
                var LanguageId = $(this).attr('data-LanguageId');
                var MenuId = $(this).attr('data-MenuId');
                var Type = $(this).attr('data-Type');
                var ContentId = $(this).attr('data-ContentId');
                var Status = $(this).attr('data-Status');
                var SliderId = $(this).attr('data-SliderId');

                var MenuLanguages = {
                    MenuLanguageId: MenuLanguageId,
                    LanguageId: LanguageId,
                    MenuId: MenuId,
                    ContentId: ContentId,
                    Status: Status,
                    SliderId: SliderId
                }
                var slider = $('.bxslider').bxSlider({
                    //mode: 'horizontal'
                });
                content1.style.display = "none";
                content2.style.display = "none";
                $("#rezervasyon").hide();

                $.ajax({
                    url: '/Home/asd',
                    contentType: 'application/json',
                    type: 'GET',
                    dataType: 'json',
                    async: false,
                    data: MenuLanguages,
                    success: function (data) {
                        $("#Mailsend").hide();
                        if (windowWidth < 1025) {
                            closeMe();
                        }
                        $(".bxslider").empty();
                        //$('#text1').html(data.title)
                        $.each(data.sliderImages, function (i, x) {
                            var cmt = "";
                            if (LanguageId == 1) {
                                cmt = x.Title;
                            }
                            else {
                                cmt = x.Description;
                            }
                            var html = ' <li><div class="item-img" style="background-image: url(/media/images/' + x.ImageName + ')"></div> <img src="/media/images/' + x.ImageName + '" alt="Oyster hotel">       </li>';
                            $('.bxslider').append(html);
                        });
                        if (data.sliderImages.length === 1)
                            slider.reloadSlider({ auto: false, speed: 500, pager: false, controls: false, mode: 'fade' });
                        else
                            slider.reloadSlider({ auto: true, speed: 500, pager: false, controls: false, mode: 'fade' });

                        if (MenuId == 17 || MenuId == 29) {
                            modal.style.display = "none";
                            if (MenuId == 17)//book a table ise
                            {
                                Contactmodal.style.display = "block";

                                document.getElementById('hidden_divR').style.display = "none";
                                document.getElementById('hidden_divB').style.display = "block";
                                $("#Date").attr("required", "required");
                                $('#Subject').val("Book a Table");
                                $("#DateGiris").removeAttr("required");
                                $("#DateCikis").removeAttr("required");
                            }
                            else {
                                //document.getElementById('hidden_divB').style.display = "none";
                                //document.getElementById('hidden_divR').style.display = "block";
                                //$("#hidden_divR input").attr("type","date");
                                //$("#Date").removeAttr("required");
                                //$("#DateGiris").attr("required","required");
                                //$("#DateCikis").attr("required","required");
                                //$('#Subject').val("Reservation");
                                Contactmodal.style.display = "none";
                                $("#rezervasyon").show();
                            }
                        }
                        else {
                            $('#text').html(data.description);
                            // modal.style.display = "block";
                            Contactmodal.style.display = "none";

                        }
                    }

                });
            });
        });
        span.onclick = function () {
            modal.style.display = "none";
            content1.style.display = "block";
            content2.style.display = "block";
        }
        contactspan.onclick = function () {
            Contactmodal.style.display = "none";
            content1.style.display = "block";
            content2.style.display = "block";

        }
        $("#mailsendclose").on("click", function () {
            $("#Mailsend").hide();
        });
        $("#rezclose").on("click", function () {
            $("#rezervasyon").hide();
        });
</script>

@{
    if (ViewBag.Modaldescription != null)
    {
        if (ViewBag.MenuId == 17 || ViewBag.MenuId == 29)
        {
            <script>
                $(document).ready(function () {
                   var slider = $('.bxslider').bxSlider({   });
                  if(@((ViewBag.Sliderlar as  List<Lissiya_Otel.Models.SliderImages>).Count())===1)
                setTimeout(function(){
                   $('.bxslider').bxSlider({ auto: false, speed: 500, pager: false, controls: false, mode: 'fade' });

                },5000)

                    content1.style.display = "none";
                    content2.style.display = "none";

                    if (@ViewBag.MenuId == 17)//book a table ise
                    {  Contactmodal.style.display = "block";
                        document.getElementById('hidden_divR').style.display = "none";
                        document.getElementById('hidden_divB').style.display = "block";
                        $("#Date").attr("required","required");
                        $('#Subject').val("Book a Table");
                        $("#DateGiris").removeAttr("required");
                        $("#DateCikis").removeAttr("required");
                    }
                    else {
                        //document.getElementById('hidden_divB').style.display = "none";
                        //document.getElementById('hidden_divR').style.display = "block";
                        //$("#hidden_divR input").attr("type","date");
                        //$("#Date").removeAttr("required");
                        //$("#DateGiris").attr("required","required");
                        //$("#DateCikis").attr("required","required");
                        //$('#Subject').val("Reservation");
                        Contactmodal.style.display = "none";
                        $("#rezervasyon").show();
                    }

                });
            </script>
        }
        else
        {
            <script>
                $(document).ready(function () {
                    content1.style.display = "none";
                    content2.style.display = "none";
                    modal.style.display = "block";

                });
            </script>
        }

    }
    if (ViewBag.MailSend != null)
    {
        <script>
                $(document).ready(function () {
                    $("#Mailsend").show();

                });
        </script>

    }
}
<script>
                $('#DateGiris').on('change', function () {
                    $('#DateCikis').attr("min", $(this).val());
                })
</script>