﻿@{
    Layout = null;
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
}
@model List<Lissiya_Otel.Models.MenuLanguages>
@using Lissiya_Otel.Functions

@if (languageId == 2)
{
    if (Model.Count > 0 && Model != null)
    {
        foreach (var item in Model.Where(x => x.LanguageId == 2).ToList())
        {
            if ((ViewBag.MenuList as List<Lissiya_Otel.Models.MenuLanguages>).Where(x => x.MenuNames.TopMenuId == item.MenuId && x.LanguageId == 2).ToList().Count > 0)
            {
                <li class="has-sub">
                    <a href="#">@item.Title</a>
                    <div class="mp-level">
                        <h2>OYSTER</h2>
                        <a class="mp-back" href="#">< BACK</a>
                        <ul>
                            @{

                                var Submenus = (ViewBag.MenuList as List<Lissiya_Otel.Models.MenuLanguages>).Where(x => x.MenuNames.TopMenuId == item.MenuId && x.LanguageId == 2).ToList();
                            }
                            @foreach (var sitem in Submenus)
                            {
                                if (!string.IsNullOrEmpty(sitem.Url) && item.Type == 2)
                                {
                                    <li><a href="@sitem.Url" class="myBtn">@sitem.Title</a></li>
                                }
                                else
                                {
                                    <li><a href="#@GeneralFunctions.ReplaceUrlRouting(sitem.Title)" class="myBtn" data-MenuLanguageId="@sitem.MenuLanguageId" data-LanguageId="@sitem.LanguageId" data-MenuId="@sitem.MenuNames.MenuId" data--Type="@sitem.Type" data-ContentId="@sitem.ContentId" data-Status="@sitem.Status" data-SliderId="@sitem.SliderId">@sitem.Title</a></li>
                                }
                            }
                            <li>
                        </ul>
                    </div>
                </li>
                                }
                                else
                                {
                                    if (!string.IsNullOrEmpty(item.Url) && item.Type == 2)
                                    {
                                        <li><a href="@item.Url" class="myBtn">@item.Title</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="#@GeneralFunctions.ReplaceUrlRouting(item.Title)" class="myBtn" data-MenuLanguageId="@item.MenuLanguageId" data-LanguageId="@item.LanguageId" data-MenuId="@item.MenuNames.MenuId" data--Type="@item.Type" data-ContentId="@item.ContentId" data-Status="@item.Status" data-SliderId="@item.SliderId">@item.Title</a></li>
                                                }
                                            }
                                        }
                                    }
                                }
                                else
                                {
                                    if (Model.Count > 0 && Model != null)
                                    {
                                        foreach (var item in Model.Where(x => x.LanguageId == languageId).ToList())
                                        {
                                            if ((ViewBag.MenuList as List<Lissiya_Otel.Models.MenuLanguages>).Where(x => x.MenuNames.TopMenuId == item.MenuId && x.LanguageId == languageId).ToList().Count > 0)
                                            {
                                                <li class="has-sub">
                                                    <a href="#">@item.Title</a>
                                                    <div class="mp-level">
                                                        <h2>OYSTER</h2>
                                                        <a class="mp-back" href="#">< GERİ</a>
                                                        <ul>
                                                            @{

                                                                var Submenus = (ViewBag.MenuList as List<Lissiya_Otel.Models.MenuLanguages>).Where(x => x.MenuNames.TopMenuId == item.MenuId && x.LanguageId == languageId).ToList();
                                                            }
                                                            @foreach (var sitem in Submenus)
                                                            {
                                                                if (!string.IsNullOrEmpty(sitem.Url) && item.Type == 2)
                                                                {
                                                                    <li><a href="@sitem.Url" class="myBtn">@sitem.Title</a></li>
                                                                }
                                                                else
                                                                {
                                                                    <li><a href="#@GeneralFunctions.ReplaceUrlRouting(sitem.Title)" class="myBtn" data-MenuLanguageId="@sitem.MenuLanguageId" data-LanguageId="@sitem.LanguageId" data-MenuId="@sitem.MenuNames.MenuId" data--Type="@sitem.Type" data-ContentId="@sitem.ContentId" data-Status="@sitem.Status" data-SliderId="@sitem.SliderId">@sitem.Title</a></li>
                                                                }
                                                            }
                                                            <li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                                }
                                                                else
                                                                {
                                                                    if (!string.IsNullOrEmpty(item.Url) && item.Type == 2)
                                                                    {
                                                                        <li><a href="@item.Url" class="myBtn">@item.Title</a></li>
                                                                    }
                                                                    else
                                                                    {
                                                                        <li><a href="#@GeneralFunctions.ReplaceUrlRouting(item.Title)" class="myBtn" data-MenuLanguageId="@item.MenuLanguageId" data-LanguageId="@item.LanguageId" data-MenuId="@item.MenuNames.MenuId" data--Type="@item.Type" data-ContentId="@item.ContentId" data-Status="@item.Status" data-SliderId="@item.SliderId">@item.Title</a></li>
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
@*<li class="has-sub">
        <a href="#">LİSSİYA</a>
        <div class="mp-level">
            <h2>LİSSİYA</h2>
            <a class="mp-back" href="#">< GERİ</a>
            <ul>
                <li><a href="lissiya.html">HAKKIMIZDA</a></li>
                <li><a href="lokasyon.html">LOKASYON</a></li>
                <li><a href="gezilecek-cevre.html">GEZİLECEK ÇEVRE</a></li>
                <li><a href="haberler.html">BİZDEN HABERLER</a></li>
            </ul>
        </div>
    </li>

    <li><a href="konaklama.html">KONAKLAMA</a></li>
    <li><a href="rahatlama.html">RAHATLAMA</a></li>
    <li><a href="restaurant.html">RESTAURANT & BAR</a></li>
    <li><a href="yorumlar.html">YORUMLAR</a></li>

    <li><a href="galery.html">GALERİ</a></li>
    <li><a href="iletisim.html">İLETİŞİM</a></li>

    <li><a href="http://www.reseliva.com/hotel/Lissiya-Hotel/index.php?lang=tr">REZERVASYON</a></li>*@

<!-- Language Bar -->
@*<div class="language-bar2">
        <span><a href="/Home"><img src="/Content/Site/images/english.png" alt="english"></a></span>
        <span><a href="/ana-sayfa"><img src="/Content/Site/images/turkce.png" alt="türkçe"></a></span>
    </div>*@
@*</li>*@