﻿@{
    Layout = null;
    int languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
    string language = ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"].ToString() : "en";

}
@model List<Lissiya_Otel.Models.MenuLanguages>
@using Lissiya_Otel.Functions

<link href="~/Content/Site/css/mobile-menu.css" rel="stylesheet" />
<nav class="mobnew">

    <label for="drop" class="toggle btn-toogle-res-menu pull-right" style="font-size:20px"></label>
    <input type="checkbox" id="drop" />
    <ul class="menu" id="mobmenu">

        @{
        int sayac = 1;
        foreach (var item in Model.Where(p => p.MenuNames.TopMenuId == 0 && p.LanguageId == languageId).ToList())
        {
            if (Model.Where(p => p.MenuNames.TopMenuId == item.MenuNames.MenuId && p.LanguageId == languageId).ToList().Count() > 0)
            {
                <li>
                    <!-- First Tier Drop Down -->
                    <label for="drop-@sayac" class="toggle">@item.Title +</label>
                    @*<a href="#">@item.Title</a>*@
                    <input type="checkbox" id="drop-@sayac" />
                    <ul>

                        @foreach (var item2 in Model.Where(p => p.MenuNames.TopMenuId == item.MenuNames.MenuId && p.LanguageId == languageId).ToList())
                    {
                        if (!string.IsNullOrEmpty(item2.Url) && item.Type == 2)
                        {
                            <li><a href="@item2.Url">@item2.Title</a></li>
                    }
                    else
                    {
                        <li><a href="/@language/@GeneralFunctions.ReplaceUrlRouting(item2.Title)/@item2.MenuId">@item2.Title</a></li>
                }
            }
                    </ul>
                </li>

        }
        else
        {
            if (!string.IsNullOrEmpty(item.Url) && item.Type == 2)
            {
                <li><a href="@item.Url">@item.Title</a></li>
                    }
                    else
                    {
            <li><a href="/@language/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.MenuId">@item.Title</a></li>
    }
}
sayac++;
}
        }
        <li><a href="/contact">CONTACT US</a></li>
        <li><a href="/en/location/39">Location</a></li>
        <li><a href="/en/special-offers/40">Special Offers</a></li>
        <li><a href="/en/policies--guest-servies/41">Policies &amp; Guest Servies</a></li>
        <li><a href="/comments/">Guest Book</a></li>
        <li>
            <span>
                <a style="display:inline" href="/tr">TR</a>
                <a style="display:inline"  href="/en">ENG</a>
                <a  style="display:inline" href="/ru">RU</a>
                <a style="display:inline"  href="/jp">JP</a>
                <a style="display:inline"  href="/zh">ZH</a>
            </span>
        </li>
    </ul>
</nav>

@*<nav>

        <label for="drop" class="toggle btn-toogle-res-menu pull-right"></label>
        <input type="checkbox" id="drop" />
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li>
                <!-- First Tier Drop Down -->
                <label for="drop-1" class="toggle">Service +</label>
                <a href="#">Service</a>
                <input type="checkbox" id="drop-1" />
                <ul>
                    <li><a href="#">Service 1</a></li>
                    <li><a href="#">Service 2</a></li>
                    <li><a href="#">Service 3</a></li>
                </ul>
            </li>
            <li>

                <!-- First Tier Drop Down -->
                <label for="drop-2" class="toggle">Portfolio +</label>
                <a href="#">Portfolio</a>
                <input type="checkbox" id="drop-2" />
                <ul>
                    <li><a href="#">Portfolio 1</a></li>
                    <li><a href="#">Portfolio 2</a></li>
                    <li>

                        <!-- Second Tier Drop Down -->
                        <label for="drop-3" class="toggle">Works +</label>
                        <a href="#">Works</a>
                        <input type="checkbox" id="drop-3" />
                        <ul>
                            <li><a href="#">HTML/CSS</a></li>
                            <li><a href="#">jQuery</a></li>
                            <li><a href="#">Python</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Submit</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
        </ul>
    </nav>*@