﻿<section class="md-slide-wrapper md-slide-home">
    <!-- Slide Image-->
    <ul id="md-slide-fade" class="md-slide clearfix">
        <li class="slideshow-photo">
            <img src="LissiyaHotelForm/img/galery/photo-00.jpg" alt="lissiya hotel">
            <div class="content-slide">
                <div class="home-content">
                    <h2 class="slide-title alter"> </h2>
                    <h3 class="slide-title alter">Hayatın kargaşasından uzak...</h3>


                </div>
            </div>
        </li>
        </li>
        <li class="slideshow-photo">
            <img src="LissiyaHotelForm/img/galery/photo-36.jpg" alt="lissiya hotel">
            <div class="content-slide">
                <div class="home-content">
                    <h2 class="slide-title alter"> </h2>
                    <h3 class="slide-title alter">Sakin, Keyifli bir tatil...</h3>


                </div>
            </div>
        </li>
        <li class="slideshow-photo">
            <img src="LissiyaHotelForm/img/galery/photo-05.jpg" alt="lissiya hotel">
            <div class="content-slide">
                <div class="home-content">
                    <h2 class="slide-title alter"> </h2>
                    <h3 class="slide-title alter">Gökyüzü sizi hiç böyle kucaklamadı...</h3>


                </div>
            </div>
        </li>
        <li class="slideshow-photo">
            <img src="LissiyaHotelForm/img/galery/photo-15.jpg" alt="lissiya hotel">
            <div class="content-slide">
                <div class="home-content">
                    <h2 class="slide-title alter"> </h2>
                    <h3 class="slide-title alter">Milyonlarca yıldız ve ay sizleri bekliyor.. .</h3>


                </div>
            </div>
        </li>
        <li>
            <img src="LissiyaHotelForm/img/galery/photo-22.jpg" alt="lissiya hotel">
            <div class="content-slide">
                <div class="home-content">
                    <h2 class="slide-title alter"> </h2>
                    <h3 class="slide-title alter">Rüzgar en güzel şarkıları size fısıldasın...</h3>


                </div>
            </div>
        </li>
        <li>
            <img src="LissiyaHotelForm/img/galery/photo-03.jpg" alt="lissiya hotel - faralya">
            <div class="content-slide">
                <div class="home-content">
                    <h2 class="slide-title alter"> </h2>
                    <h3 class="slide-title alter">Sadece hayal edin..</h3>


                </div>
            </div>
        </li>
        <li>
            <img src="LissiyaHotelForm/img/galery/photo-14.jpg" alt="lissiya hotel - faralya">
            <div class="content-slide">
                <div class="home-content">
                    <h2 class="slide-title alter"> </h2>
                    <h3 class="slide-title alter">Eşşsiz doğa, gökyüzü, deniz ve siz...</h3>


                </div>
            </div>
        </li>
        <li>
            <img src="LissiyaHotelForm/img/galery/photo-17.jpg" alt="lissiya hotel - faralya">
            <div class="content-slide">
                <div class="home-content">
                    <h2 class="slide-title alter"> </h2>
                    <h3 class="slide-title alter">Huzurlu bir güzel cennet...</h3>


                </div>
            </div>
        </li>
        <li>
            <img src="LissiyaHotelForm/img/galery/photo-28.jpg" alt="lissiya hotel - faralya">
            <div class="content-slide">
                <div class="home-content">
                    <h2 class="slide-title alter"> </h2>
                    <h3 class="slide-title alter">Deniz ve gökyüzünün eşsiz buluşması...</h3>


                </div>
            </div>
        </li>
        <li>
            <img src="LissiyaHotelForm/img/galery/photo-37.jpg" alt="lissiya hotel - faralya">
            <div class="content-slide">
                <div class="home-content">
                    <h2 class="slide-title alter"> </h2>
                    <h3 class="slide-title alter">Işık Ülkesinde eşsiz bir tatil sizleri bekliyor...</h3>


                </div>
            </div>
        </li>
        <li>
            <img src="LissiyaHotelForm/img/galery/photo-23.jpg" alt="lissiya hotel - faralya">
            <div class="content-slide">
                <div class="home-content1">
                    <h2 class="slide-title alter"> </h2>
                    <h3 class="slide-title alter">Unutamayacağınız bir tatile hazır mısınız?</h3>

                </div>
            </div>
        </li>
    </ul>
</section>