﻿@{
    Layout = null;
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
}
@model List<Lissiya_Otel.Models.MenuLanguages>
@using Lissiya_Otel.Functions
<div class="grid_2 logom">
   
</div>

<a href="/" target="AnaKatman" class="logom"><img height="50" border="0" style="width: 108px;" src="/Content/Site/images/oyster-residences-logo.png" /></a>

<nav id="main-nav" class="nav-collapse" style="margin: 0 auto;    display: inline-block;    position: relative;    float: initial;">
    @{
        int konum = ((Model.Where(x => x.LanguageId == languageId).Count() + 5) / 2);
        <ul id="main-menu" class="md-menu">
            @if (Model.Count > 0 && Model != null)
            {
                int sayac = 1;
                foreach (var item in Model.Where(x => x.LanguageId == languageId).ToList())
                {

                    if ((ViewBag.MenuList as List<Lissiya_Otel.Models.MenuLanguages>).Where(x => x.MenuNames.TopMenuId == item.MenuId && x.LanguageId == languageId).ToList().Count > 0)
                    {

                        <li class="have-submenu">
                            @{
                                string kelime = item.Title;
                                string newkelime = "";
                                string basharf = "";
                                int say = 0;
                                foreach (var s in kelime)
                                {

                                    if (say == 0)
                                    {
                                        basharf = s.ToString();
                                        //newkelime += "/";
                                    }
                                    else
                                    {
                                        newkelime += s.ToString();
                                    }

                                    say++;
                                }

                            }
                            @*<a href="#"><span class="stil3">@basharf </span> @newkelime</a>*@
                            @{ if (item.MenuId == 31)
                                {
                                    <a href="#" id="name">

                                        <img src="~/Content/Site/images/27.png" id='imageid' />
                                    </a>
                                }
                                else
                                {
                                    <a href="#"><span class="stil3">@basharf </span> @newkelime</a>
                                }
                            }

                            <div class="sub-menu">
                                <ul class="sub-menu-inner">
                                    @{

                                        var Submenus = (ViewBag.MenuList as List<Lissiya_Otel.Models.MenuLanguages>).Where(x => x.MenuNames.TopMenuId == item.MenuId && x.LanguageId == languageId).ToList();
                                    }
                                    @foreach (var sitem in Submenus)
                                    {
                                        if (!string.IsNullOrEmpty(sitem.Url) && sitem.Type == 2)
                                        {
                                            @*<li><a href="@sitem.Url" class="myBtn" data-MenuLanguageId="@item.MenuLanguageId" data-LanguageId="@item.LanguageId" data-MenuId="@item.MenuNames.MenuId" data--Type="@item.Type" data-ContentId="@item.ContentId" data-Status="@item.Status" data-SliderId="@item.SliderId">@sitem.Title</a></li>*@

                                            <li><a href="@sitem.Url">@sitem.Title</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="#@GeneralFunctions.ReplaceUrlRouting(sitem.Title)" class="myBtn" data-MenuLanguageId="@sitem.MenuLanguageId" data-LanguageId="@sitem.LanguageId" data-MenuId="@sitem.MenuNames.MenuId" data--Type="@sitem.Type" data-ContentId="@sitem.ContentId" data-Status="@sitem.Status" data-SliderId="@sitem.SliderId">@sitem.Title</a></li>
                                            @*<li><a href="/content-detail/@GeneralFunctions.ReplaceUrlRouting(sitem.Title)/@sitem.ContentId">@sitem.Title</a></li>*@
                                        }
                                    }
                                    if (sayac == konum)
                                    {
                                    <li>

                                        <a href="/" style="margin: 0px;       z-index: 2;    padding-top: 0px;position: relative;    display: block;">
                                            <img src="/Content/Site/images/oyster-residences-logo.png" class="pull-left-logo">
                                        </a>
                                    </li>

                                    }
                                    sayac++;

                                    }
                                    }

                                    <li>
                                </ul>
                            </div>
                        </li>

                                        }
                                        else
                                        {
                                            if (!string.IsNullOrEmpty(item.Url))
                                            {
                                                <li><a href="@item.Url">@item.Title</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="#@GeneralFunctions.ReplaceUrlRouting(item.Title)" class="myBtn" data-MenuLanguageId="@item.MenuLanguageId" data-LanguageId="@item.LanguageId" data-MenuId="@item.MenuNames.MenuId" data--Type="@item.Type" data-ContentId="@item.ContentId" data-Status="@item.Status" data-SliderId="@item.SliderId">@item.Title</a></li>
                                            }

                                        }
    </ul>
                                        }
</nav>

<script>
    $('#name img').hover(function () {
        $(this).attr('src', '/Content/Site/images/28.png');
    }, function () {
        $(this).attr('src', '/Content/Site/images/27.png');
    });
</script>