﻿@{
    ViewBag.Title = "Medya Döküman Güncelle";
    ViewBag.Controller = "Medya Döküman Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Medya Döküman Ekle
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Medya Döküman Ekle</h2>
                    </header>

                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <div class="widget-body">
                                        <form id="documentlanguage-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Gallery/CreateGalleryDocument/@ViewContext.RouteData.Values["id"]" method="post" novalidate="novalidate">
                                            <fieldset>
                                                <section>
                                                    <label class="label">Medya Dili Seçiniz</label>
                                                    <label class="select">
                                                        <select name="GalleryLanguageId">
                                                            <option value="0" selected="" disabled="">Medya Dili Seçiniz</option>
                                                            @foreach (var item in ViewBag.GalleryLanguageList as List<Lissiya_Otel.Models.GalleryLanguages>)
                                                            {
                                                                <option value="@item.GalleryLanguageId">@item.Title</option>
                                                            }
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                 <section>
                                                    <label class="label">Döküman</label>
                                                    <div class="input input-file">
                                                        <span class="button">
                                                            <input type="file" id="file" name="file" multiple="multiple" onchange="this.parentNode.nextSibling.value = this.value">Dosya Seç</span><input type="text" placeholder="Döküman Seçiniz" readonly="">
                                                    </div>
                                                </section>
                                            </fieldset>
                                            <footer>
                                                <button type="submit" class="btn btn-primary">
                                                    Kaydet
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    Vazgeç
                                                </button>
                                            </footer>
                                        </form>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        pageSetUp();
        var $checkoutForm = $('#documentlanguage-form').validate({
            // Rules for form validation
            rules: {
                GalleryLanguageId: {
                    required: true
                }
            },
            messages: {
                GalleryLanguageId: {
                    required: 'Medya Dili Seçiniz'
                }

            }
        })
    });
</script>