﻿@{
    ViewBag.Title = "CreateGalleryImage";
    ViewBag.Controller = "Medya Fotoğraf Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!-- Dropzone -->
<script src="~/Content/Admin/js/plugin/dropzone/dropzone.min.js"></script>
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Medya Fotoğraf Ekle
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Medya Fotoğraf Ekle</h2>
                    </header>

                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <div class="widget-body">
                                        <div class="smart-form">
                                            <fieldset>
                                                <section id="galleryselection">
                                                    <label class="label">Galeri Listesi</label>
                                                    <label class="label" id="Galleryerror" style="display: none; color: red">Galeri Seçiniz</label>
                                                    <div class="inline-group">
                                                        @foreach (var item in ViewBag.GalleryList as List<Lissiya_Otel.Models.GalleryNames>)
                                                        {
                                                            <label class="checkbox">
                                                                <input type="checkbox" data-id="@item.GalleryId" name="Galleries" id="Galleries" value="@item.GalleryId">
                                                                <i></i>@item.Name</label>    
                                                        }
                                                    </div>
                                                </section>
                                                <section id="languageselection">
                                                    <label class="label">Dil Listesi</label>
                                                    <label class="label" id="Languageerror" style="display: none; color: red;">Dil Seçiniz</label>
                                                    <div class="inline-group">
                                                        @foreach (var item in ViewBag.LanguageList as List<Lissiya_Otel.Models.Languages>)
                                                        {
                                                            <label class="checkbox">
                                                                <input type="checkbox" data-id="@item.LanguageId" name="Languages" id="Languages"  value="@item.LanguageId">
                                                                <i></i>@item.Title</label>    
                                                        }
                                                    </div>
                                                </section>
                                                <footer>
                                                    <button type="button" class="btn btn-primary" id="confirmbutton">
                                                        Onayla
                                                    </button>
                                                    <a href="/Admin/Gallery/CreateGalleryImage/" class="btn btn-default">
                                                        Yenile
                                                    </a>
                                                </footer>
                                                <form class="dropzone" action="/Admin/Gallery/CreateGalleryImage" method="post" style="display: none" enctype="multipart/form-data">
                                                    <input type="hidden" id="hdfGallery" name="GalleryIds" />
                                                    <input type="hidden" id="hdfLanguage" name="LanguageIds" />
                                                </form>
                                            </fieldset>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#divdropzone").dropzone({

            addRemoveLinks: false,
            maxFilesize: 256,
            dictDefaultMessage: '<span class="text-center"><span class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span class="font-lg"><i class="fa fa-caret-right text-danger"></i> Yükleme için<span class="font-xs">dosya sürükleyin</span></span><span>&nbsp&nbsp<h4 class="display-inline"> (ya da  tıklayın)</h4></span>',
            dictResponseError: 'Dosya Yüklenirken Hata Oluştu!',
            error: function (a, b, C) {
                return a.previewElement.classList.add("dz-error"), a.previewElement.querySelector("[data-dz-errormessage]").textContent = "Dosya yüklenirken bir hata oluştu"
            },
            complete: function () {
                $('#detailassets').css({ "display": "block" });
            },
            processing: function () {
                $('#detailassets').css({ "disabled": "disabled" });
            }

        });

        $("[name = 'Galleries']").click(function () {
            var galleryCheckboxes = $("[name = 'Galleries']");
            var values = "";
            for (var i = 0; i < galleryCheckboxes.length; i++) {
                if (galleryCheckboxes[i].checked) {
                    values += galleryCheckboxes[i].value + ",";
                }
            }
            $("#hdfGallery").val(values);
        });

        $("[name = 'Languages']").click(function () {

            var LanguagesCheckboxes = $("[name = 'Languages']");
            var values = "";
            for (var i = 0; i < LanguagesCheckboxes.length; i++) {
                if (LanguagesCheckboxes[i].checked) {
                    values += LanguagesCheckboxes[i].value + ",";
                }
            }
            $("#hdfLanguage").val(values);
        });

        $('#confirmbutton').click(function () {
            $("#Galleryerror").css({ "display": "none" });
            $("#Languageerror").css({ "display": "none" });
            if (CheckGallery() && CheckLanguage()) {
                $(".dropzone").css({ "display": "block" });
                $("[name = 'Galleries']").attr({ "disabled": "disabled" });
                $("[name = 'Languages']").attr({ "disabled": "disabled" });
            }

        });

        function CheckGallery() {
            var galleryCheckboxes = $("[name = 'Galleries']");
            var result = 0;
            for (var i = 0; i < galleryCheckboxes.length; i++) {
                if (galleryCheckboxes[i].checked) {

                    result += 1;
                }
            }

            if (result > 0) {
                return true;
            }
            else {
                $("#Galleryerror").css({ "display": "block" });
                return false
            }
        }

        function CheckLanguage() {
            var languageCheckboxes = $("[name = 'Languages']");
            var result = 0;
            for (var i = 0; i < languageCheckboxes.length; i++) {
                if (languageCheckboxes[i].checked) {

                    result += 1;
                }
            }
            if (result > 0) {
                return true;
            }
            else {
                $("#Languageerror").css({ "display": "block" });
                return false
            }
        }

    })
</script>
