﻿@{
    ViewBag.Title = "GalleryVideos";
    ViewBag.Controller = "Medya Video Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Admin/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
<script>
    function vimeoLoadingThumb(id) {
        var id_img = "#vimeo-" + id;
        var id_link = "#vimeolink-" + id;
        $.ajax({
            type: 'GET',
            url: 'http://vimeo.com/api/v2/video/' + id + '.json',
            jsonp: 'callback',
            dataType: 'jsonp',
            success: function (data) {
                $(id_img).attr('src', data[0].thumbnail_medium);
                $(id_img).attr('data-img', data[0].thumbnail_medium);
                $(id_link).attr('data-img', data[0].thumbnail_medium);
            }
        });

    }

    function showThumb(data) {
        var id_img = "#vimeo-" + data[0].id;
        $(id_img).attr('src', data[0].thumbnail_medium);
    }

</script>
@model List<Lissiya_Otel.Models.GalleryVideoLanguages>
<div id="content">

    <div class="row hidden-mobile">

        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align-right">
            <div class="page-title">
                <a href="/Admin/Gallery/CreateGalleryVideo/@ViewContext.RouteData.Values["id"]" class="btn btn-default">Medyaya Video Yükle</a>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="row">
        <section id="widget-grid" class="">
            <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section>
                                <label class="select">
                                    <select name="GalleryLanguageId" id="GalleryLanguageId">
                                        <option value="0">Tümü</option>
                                        @foreach (var item in ViewBag.GalleryLanguageList as List<Lissiya_Otel.Models.GalleryLanguages>)
                                        {
                                            <option value="@item.GalleryLanguageId">@item.Title</option>
                                        }
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </section>
        <div class="superbox col-sm-12">
            <div id="divlist">
                @foreach (var item in Model)
                {
                    
                    <div class="superbox-list" data-lang="@item.GalleryLanguageId" data-order="@item.GalleryVideoLanguageId">
                        <!--Video Type 1 = Yotube -->
                        @if (item.VideoType == 1)
                        {
                            <img src="http://img.youtube.com/vi/@item.VideoIdentity/0.jpg"  data-delete="/Admin/Gallery/DeleteGalleryVideo/@item.GalleryVideoLanguageId" data-update="/Admin/Gallery/UpdateGalleryVideo/@item.GalleryVideoLanguageId" data-img="http://img.youtube.com/vi/@item.VideoIdentity/0.jpg" data-id="@item.GalleryVideoLanguageId" alt="@item.Description" title="@item.Title" class="superbox-img" style="cursor:move;" />
                            <a style="cursor:pointer;" data-img="http://img.youtube.com/vi/@item.VideoIdentity/0.jpg" alt="@item.Description" title="@item.Title"  data-order="@item.GalleryVideoLanguageId"><i class="fa fa-lg fa-fw fa-caret-square-o-down"></i>Detay</a>
                        }
                        else
                        {
                            <img  data-id="@item.GalleryVideoLanguageId" id="vimeo-@item.VideoIdentity"  alt="@item.Description" title="@item.Title" class="superbox-img" style="cursor:move;" data-delete="/Admin/Gallery/DeleteGalleryVideo/@item.GalleryVideoLanguageId" data-update="/Admin/Gallery/UpdateGalleryVideo/@item.GalleryVideoLanguageId" />
                            <a style="cursor:pointer;"  alt="@item.Description" title="@item.Title"  data-order="@item.GalleryVideoLanguageId" id="vimeolink-@item.VideoIdentity"><i class="fa fa-lg fa-fw fa-caret-square-o-down"></i>Detay</a>
                            <script type="text/javascript">
                                vimeoLoadingThumb(@item.VideoIdentity);
                            </script>
                        }
                    </div>
                }
            </div>
            <div class="superbox-show" style="height: 300px; display: none"></div>

        </div>

    </div>
    <!-- END MAIN CONTENT -->
</div>
<script>

    $(function () {
        $('#GalleryLanguageId').on('change', function () {

            var gallerylanguageid = $(this).val();
            if (gallerylanguageid > 0) {

                var divs = $(".superbox >  #mCSB_1 > #mCSB_1_container> #divlist > .superbox-list");

                for (var i = 0; i < divs.length; i++) {
                    var langid = divs[i].dataset.lang;
                    if (langid == gallerylanguageid) {
                        $(divs[i]).css({ "display": "inline-block" });
                    }
                    else {
                        $(divs[i]).css({ "display": "none" });
                    }
                }
            }
            else {
                var divs = $(".superbox >  #mCSB_1 > #mCSB_1_container> #divlist > .superbox-list").css({ "display": "inline-block" });;
            }
        });
    })

</script>

<script src="~/Content/Admin/js/jquery.mCustomScrollbar.min.js"></script>
<script>
    (function ($) {
        $(window).load(function () {

            $(".superbox").mCustomScrollbar({
                setHeight: 450,
                theme: "dark-2",
                scrollButtons: { enable: true }
            });



        });
    })(jQuery);

    $(document).ready(function () {

        $("#divlist").sortable({
            opacity: 0.7,
            revert: true,
            scroll: true,
            handle: $(".superbox-list").add(".superbox-list img"),
            stop: function (event, ui) {
                var serialized = $("#divlist").sortable('toArray', { attribute: "data-order" });
                var data = { Ids: serialized };
                var json = JSON.stringify(data);

                $.ajax({
                    url: "/Admin/Gallery/Videosort",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    data: json,
                    success: function (response) {
                    }
                });
            }

        });

        $("#sortable").disableSelection();
        $('.superbox').SuperBox();
        $(".coverpic").hide();
    });


</script>

