﻿@{
    ViewBag.Title = "UpdateGalleryVideo";
    ViewBag.Controller = "Medya Video Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Lissiya_Otel.Models.GalleryVideoLanguages
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Medya Video Güncelle
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Medya Video Güncelle</h2>
                    </header>

                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <div class="widget-body">
                                        <form id="video-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Gallery/UpdateGalleryVideo/@Model.GalleryVideoLanguageId" method="post" novalidate="novalidate">
                                            <fieldset>
                                                <section>
                                                    <label class="label">Video Sitesi Seçiniz</label>
                                                    <label class="select">
                                                        <select name="VideoType" id="VideoType">
                                                            <option value="0" selected="" disabled="">Video Sitesi Seçiniz</option>
                                                            @if (Model.VideoType == 1)
                                                            {
                                                            <option value="1" selected="selected">Yotube</option>
                                                            <option value="2">Vimeo</option>    
                                                            }
                                                            else
                                                            {
                                                            <option value="1">Yotube</option>
                                                            <option value="2" selected="selected">Vimeo</option>        
                                                            }                                                            
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Link (Adres çubuğundaki linki kopyalayıp yapıştırınız.)
                                                    </label>
                                                    <label class="input">
                                                        @if (Model.VideoType == 1)
                                                        {
                                                        <input type="text" name="VideoIdentity" class="input-sm" required="required" value="http://www.youtube.com/watch?v=@Model.VideoIdentity">    
                                                        }
                                                        else
                                                        {
                                                                <input type="text" name="VideoIdentity" class="input-sm" required="required" value="@Model.VideoIdentity">    
                                                        }
                                                        
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Başlık
                                                    </label>
                                                    <label class="input">
                                                        <input type="text" name="Title" class="input-sm" value="@Model.Title">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Açıklama
                                                    </label>
                                                    <label class="textarea textarea-resizable">
                                                        <textarea rows="3" name="Description" class="custom-scroll" style="margin-top: 0px; margin-bottom: 0px; height: 77px;">@Model.Description</textarea>
                                                    </label>
                                                </section>
                                            </fieldset>
                                            <footer>
                                                <button type="submit" class="btn btn-primary">
                                                    Kaydet
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    Vazgeç
                                                </button>
                                            </footer>
                                        </form>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        pageSetUp();
        var $checkoutForm = $('#video-form').validate({
            // Rules for form validation
            rules: {
                GalleryLanguageId: {
                    required: true
                },
                VideoIdentity: {
                    required: true
                },
                VideoType: {
                    required: true
                }
            },
            messages: {
                GalleryLanguageId: {
                    required: 'Medya Dili Seçiniz.'
                },
                VideoIdentity: {
                    required: 'Link kısmını boş geçmeyiniz.'
                },
                VideoType: {
                    required: 'Video sitesi seçiniz.'
                }
            }
        })
    });
</script>
