﻿@{
    ViewBag.Title = "NewsLetters";
    ViewBag.Controller = "E-Bülten Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model  List<Lissiya_Otel.Models.NewsLetter>
<section id="widget-grid" class="">

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
    <article class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-deletebutton="false" data-widget-editbutton="false">
            <header>
                <span class="widget-icon"><i class="fa fa-table"></i></span>
                <h2>E-Bülten Listesi</h2>
            </header>
            <div>
                <div class="jarviswidget-editbox">
                </div>
                <div class="widget-body no-padding">
                    <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th data-hide="phone">ID</th>
                                <th data-class=""><i class="fa fa-fw fa-envelope  text-muted hidden-md hidden-sm hidden-xs"></i>E-Posta</th>
                                <th data-hide="phone,tablet">Aksiyon</th>
                            </tr>
                        </thead>
                        <tbody id="tinner">
                            @foreach (var item in Model)
                            {
                                <tr data-order="@item.Id">
                                    <td>@item.Id</td>
                                    <td>@item.Email</td>
                                    <td>
                                        <a href="#" data-content="@item.Email" data-href="/Admin/NewsLetter/Delete/@item.Id" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default txt-color-blueLight" title="Sil"><i class="fa fa-trash-o fa-lg"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                        <a href="/Admin/NewsLetter/ExportData" class="btn btn-success pull-right"><span class="btn-label">
                        <i class="glyphicon glyphicon-save"></i></span>EXCEL ÇIKTISI AL</a>
                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>

    </article>


</section>
<!-- end widget grid -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Silmek istediğinize emin misiniz?</h4>
            </div>
            <div class="modal-body">
                <h4 id="body-h4"></h4>
                E-Bülten kullanıcısını silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <a href="#" class="btn btn-danger danger">Sil</a>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Admin/js/plugin/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatables/dataTables.colVis.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatables/dataTables.tableTools.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
<script>
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;

    var breakpointDefinition = {
        tablet: 1024,
        phone: 480
    };



    $('#datatable_tabletools').dataTable({

        // Tabletools options:
        //   https://datatables.net/extensions/tabletools/button_options
     
        "autoWidth": true,
        "preDrawCallback": function () {
            // Initialize the responsive datatables helper once.
            if (!responsiveHelper_datatable_tabletools) {
                responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
            }
        },
        "rowCallback": function (nRow) {
            responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
        },
        "drawCallback": function (oSettings) {
            responsiveHelper_datatable_tabletools.respond();
        },
        "language": {
            "url": "//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Turkish.json"
        }
    });

    $("document").ready(function () {

        $("#ToolTables_datatable_tabletools_0").click(function () {
            window.location = '/Admin/NewsLetter/ExportData';
        });
    });

    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
        $('#body-h4').text($(e.relatedTarget).data('content'));
        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.danger').attr('href') + '</strong>');
    })


</script>

