﻿@{
    ViewBag.Title = "CreateClient";
    ViewBag.Controller = "Müşteri Yorumu Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Müşteri Yorumu Ekle
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Müşteri Yorumu Ekle</h2>
                    </header>
                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <div class="widget-body">
                                        <form id="Client-form" class="smart-form" enctype="multipart/form-data" action="/Admin/ClientTestimonials/CreateClient" method="post" novalidate="novalidate">
                                            <fieldset>
                                                <section>
                                                    <label class="label">
                                                        Başlık
                                                    </label>
                                                    <label class="input"><i class="icon-prepend fa fa-user"></i>
                                                        <input type="text" name="Client" class="input-sm" required="required">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        İçerik
                                                    </label>
                                                    <label class="textarea textarea-resizable"><i class="icon-prepend fa fa-quote-left"></i>
                                                        <textarea rows="3" name="Testimonial" class="custom-scroll" style="margin-top: 0px; margin-bottom: 0px; height: 77px;"></textarea>
                                                    </label>
                                                </section>

                                                <section>
                                                    <label class="label">
                                                        Yazar Bilgisi
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-user"></i>
                                                        <input type="text" name="Yazar" class="input-sm" required="required">
                                                    </label>
                                                </section>
                                                 <section>
                                                    <label class="label">
                                                        Tarih
                                                    </label>
                                                    <label class="input">
                                                        <i class="icon-prepend fa fa-calendar"></i>
                                                        <input type="text" name="CommentDate" id="Date">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Dil Seçiniz
                                                    </label>
                                                    <label class="input">                                                        
                                                        <select name="DilSecenegi" id="TopContentId">
                                                            <option value="1">Türkçe</option>
                                                            <option value="2">İngilizce</option>
                                                        </select>
                                                    </label>
                                                </section>

                                            </fieldset>
                                            <footer>
                                                <button type="submit" class="btn btn-primary">
                                                    Kaydet
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    Vazgeç
                                                </button>
                                            </footer>
                                        </form>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>

<script>
    $(document).ready(function () {

        pageSetUp();

        var $checkoutForm = $('#Client-form').validate({
            // Rules for form validation
            rules: {
                Client: {
                    required: true
                }
            },
            messages: {
                Client: {
                    required: 'Başlık kısmını boş geçmeyiniz'
                }

            }
        })
    });

    jQuery(function ($) {
        $.datepicker.regional['tr'] = {
            closeText: 'kapat',
            prevText: '&#x3c;',
            nextText: '&#x3e',
            currentText: 'bugün',
            monthNames: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran',
            'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
            monthNamesShort: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz',
            'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara'],
            dayNames: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
            dayNamesShort: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
            dayNamesMin: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
            weekHeader: 'Hf',
            dateFormat: 'dd.mm.yy',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: '',
            changeMonth: true,
            changeYear: true
        };
    });

    $(function () {
        $("#Date").datepicker($.datepicker.regional["tr"]);
    });
</script>


