﻿@{
    ViewBag.Title = "CreateMenuLanguage";
    ViewBag.Controller = "Menü Dil Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Menü Dil Ekle
            </h1>
        </div>
    </div>
 
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Menü Dil Ekle</h2>
                    </header>
                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <div class="row">
                                    <div class="col-md-12">
                                         <div class="alert alert-warning fade in" id="ltrlalert" style="display: none;">
                                            <button class="close" data-dismiss="alert">
                                                ×
                                            </button>
                                            <i class="fa-fw fa fa-info"></i>
                                            <strong>Bilgi !</strong> Lütfen Dil Seçiniz.
                                        </div>
                                        <ul class="header-dropdown-list hidden-xs" style="float: left; font-size: 20px;">
                                            <li>
                                                <a id="activelanguage" href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: black;">
                                                    <img src="/Areas/Admin/img/blank.gif" class="flag" alt="Türkiye"><span>Dil Seçiniz</span> <i class="fa fa-angle-down"></i></a>

                                                <ul class="dropdown-menu" id="dropcountry">
                                                    @foreach (var item in ViewBag.LanguageList as List<Lissiya_Otel.Models.Languages>)
                                                    {
                                                        <li data-id="@item.LanguageId" class="languages">
                                                            <a href="javascript:void(0);">
                                                                <img src="/Areas/Admin/img/blank.gif" class="@item.ClassName" alt="@item.ShortTitle">
                                                                @item.Title</a>
                                                        </li>
                                                    }
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <fieldset>
                                    <div class="widget-body">
                                        <form id="menulanguage-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Menu/CreateMenuLanguage" method="post" novalidate="novalidate">
                                            <input type="hidden" name="LanguageId" id="LanguageId" />
                                            <input type="hidden" name="MenuId" id="MenuId" value="@ViewContext.RouteData.Values["id"]" />
                                            <fieldset>
                                                <section>
                                                    <label class="label">Menü Bağlantı Seçeneği</label>
                                                    <label class="select">
                                                        <select name="Type" id="Type">
                                                            <option value="0" selected="" disabled="">Menü Bağlantı Tipi Seçiniz</option>
                                                            <option value="1">Bir İçeriğe Bağlamak İstiyorum</option>
                                                            <option value="2">Url Vermek İstiyorum</option>
                                                            <option value="3">Döküman Eklemek İstiyorum</option>
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section id="cont-sec" style="display: none;">
                                                    <label class="label">İçerik Seçeneği</label>
                                                    <label class="select">
                                                        <select name="ContentId" id="ContentId">
                                                            <option value="0" selected="" disabled="">İçerik Seçiniz</option>
                                                            @foreach (var item in ViewBag.ContentList as List<Lissiya_Otel.Models.ContentNames>)
                                                            {
                                                                <option value="@item.ContentId">@item.Name</option>
                                                            }
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section id="url-section" style="display: none;">
                                                    <label class="label">
                                                        Url
                                                    </label>
                                                    <label class="input"><i class="icon-prepend fa fa-anchor"></i>
                                                        <input type="text" name="Url" class="input-sm" required="required">
                                                    </label>
                                                </section>
                                                <section id="doc-section" style="display: none;">
                                                    <label class="label">Döküman</label>
                                                    <div class="input input-file">
                                                        <span class="button">
                                                            <input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Dosya Seç</span><input type="text" placeholder="Döküman Seçiniz" readonly="">
                                                    </div>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Başlık
                                                    </label>
                                                    <label class="input"><i class="icon-prepend fa fa-book"></i>
                                                        <input type="text" name="Title" class="input-sm" required="required">
                                                    </label>
                                                </section>
                                            </fieldset>
                                            <footer>

                                                <a type="submit" class="btn btn-primary" id="myButton">Kaydet
                                                </a>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    Vazgeç
                                                </button>
                                            </footer>
                                        </form>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script type="text/javascript">
    $("#dropcountry li").click(function () {
        var deger = $(this).data("id");
        $("#LanguageId").val(deger);
        $.ajax({
            url: '/Language/GetLanguageDetail/' + deger,
            type: 'POST',
            data: {},
            dataType: 'json',
            contentType: 'application/json; chatset=utf-8;',
            success: function (data) {
                $("#activelanguage").html('<img src="/Areas/Admin/img/blank.gif" class="' + data.Language.ClassName + '" alt="' + data.Language.Title + '"><span>' + data.Language.Title + '</span> <i class="fa fa-angle-down"></i>');
            }
        });

    });
</script>

<script>
    $(document).ready(function () {

        pageSetUp();

        var $checkoutForm = $('#menulanguage-form').validate({
            // Rules for form validation
            rules: {
                Title: {
                    required: true
                },
                Type: {
                    required: true
                }
            },
            messages: {
                Title: {
                    required: 'Başlık kısmını boş geçmeyiniz'
                },
                Type: {
                    required: 'Menü Bağlantı Tipi Seçiniz'
                }
            }
        });
        $("#myButton").click(function () { // validate on button click for this example
            if ($("#menulanguage-form").valid()) {
                if ($('#LanguageId').val() == "") {
                    $('#ltrlalert').css({ "display": "block" });
                    $('#activelanguage').trigger('click');
                    $('#dropcountry').focus();
                }
                else {
                    $("#menulanguage-form").submit();
                }

            }
            else {
                $checkoutForm.focusInvalid();
            }
        });

    });

    $(function () {
        $('#Type').on('change', function () {

            var Type = $(this).val();
            if (Type > 0) {
                if (Type == 1) {
                    $('#cont-sec').css({ "display": "block" });
                    $('#url-section').css({ "display": "none" });
                    $('#doc-section').css({ "display": "none" });
                }
                else if (Type == 2) {
                    $('#cont-sec').css({ "display": "none" });
                    $('#url-section').css({ "display": "block" });
                    $('#doc-section').css({ "display": "none" });
                }
                else {
                    $('#cont-sec').css({ "display": "none" });
                    $('#url-section').css({ "display": "none" });
                    $('#doc-section').css({ "display": "block" });
                }

            }
        });
    })
</script>
