﻿@{
    ViewBag.Title = "UpdateOzellikNames";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Lissiya_Otel.Models.OzellikNames

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Özellik Güncelle
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Özellik Güncelle</h2>
                    </header>
                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <form id="Newsname-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Services/UpdateOzellikNames/@Model.OzellikId" method="post" novalidate="novalidate">
                                    <fieldset>
                                        <section>
                                            <label class="label">Başlık</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-book"></i>
                                                <input type="text" name="Name" class="input-sm" value="@Model.Name">
                                            </label>
                                        </section>
                                    </fieldset>
                                    <footer>
                                        <button type="submit" class="btn btn-primary">
                                            Kaydet
                                        </button>
                                        <button type="button" class="btn btn-default" onclick="window.history.back();">
                                            Vazgeç
                                        </button>
                                    </footer>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        pageSetUp();
        var $checkoutForm = $('#Newsname-form').validate({
            // Rules for form validation
            rules: {
                Name: {
                    required: true
                }
            },
            messages: {
                Name: {
                    required: 'Başlık kısmını boş geçmeyiniz'
                }

            }
        })
    });
</script>
