﻿@{
    ViewBag.Title = "İletişim Form Listesi";
    ViewBag.Controller = "İletişim Form Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model  List<Lissiya_Otel.Models.ContactForm>
<section id="widget-grid" class="">

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
    <article class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-deletebutton="false" data-widget-editbutton="false">
            <!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
            <header>
                <span class="widget-icon"><i class="fa fa-table"></i></span>
                <h2>İletişim Form Listesi</h2>
            </header>

            <div>

                <div class="jarviswidget-editbox">
                </div>

                <!-- widget content -->
                <div class="widget-body no-padding">
                    <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th data-hide="phone">ID</th>
                                <th data-class=""><i class="fa fa-fw fa-list-alt  text-muted hidden-md hidden-sm hidden-xs"></i>E-Posta</th>
                                <th data-class=""><i class="fa fa-fw fa-user  text-muted hidden-md hidden-sm hidden-xs"></i>Ad Soyad</th>
                                <th data-hide="phone,tablet">Aksiyon</th>
                            </tr>
                        </thead>
                        <tbody id="tinner">
                            @foreach (var item in Model)
                            {
                                <tr data-order="@item.ContactFormId">
                                    <td>@item.ContactFormId</td>
                                    <td>@item.Email</td>
                                    <td>@item.NameSurname</td>
                                    <td>
                                        <a href="#" data-email="@item.Email" data-namesurname="@item.NameSurname" data-message="@item.Message" data-ip="@item.Ip"  data-toggle="modal" data-target="#confirm-detail" class="btn btn-default txt-color-blueLight" title="Görüntüle"><i class="fa fa-crosshairs fa-lg"></i></a>
                                        <a href="#" data-content="@item.Email" data-href="/Admin/ContactForm/Delete/@item.ContactFormId" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default txt-color-blueLight" title="Sil"><i class="fa fa-trash-o fa-lg"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                      <a href="/Admin/ContactForm/ExportData" class="btn btn-success pull-right"><span class="btn-label">
                        <i class="glyphicon glyphicon-save"></i></span>EXCEL ÇIKTISI AL</a>
                </div>

            </div>

        </div>

    </article>

</section>

<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Silmek istediğinize emin misiniz?</h4>
            </div>
            <div class="modal-body">
                <h4 id="body-h4"></h4>
                İletişim formunu silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <a href="#" class="btn btn-danger danger">Sil</a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirm-detail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Silmek istediğinize emin misiniz?</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <td>Ad Soyad : </td>
                        <td>
                            <label id="modalnamesurname"></label>
                        </td>
                    </tr>
                    <tr>
                        <td>E-Posta : </td>
                        <td><label id="modalemail"></label></td>
                    </tr>
                    <tr>
                        <td>IP : </td>
                        <td><label id="modalip"></label></td>
                    </tr>
                    <tr>
                        <td>Mesaj : </td>
                        <td><label id="modalMessage"></label></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Admin/js/plugin/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatables/dataTables.colVis.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatables/dataTables.tableTools.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
<script>

    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;

    var breakpointDefinition = {
        tablet: 1024,
        phone: 480
    };



    $('#datatable_tabletools').dataTable({

        // Tabletools options:
        //   https://datatables.net/extensions/tabletools/button_options
  
        "autoWidth": true,
        "preDrawCallback": function () {
            // Initialize the responsive datatables helper once.
            if (!responsiveHelper_datatable_tabletools) {
                responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
            }
        },
        "rowCallback": function (nRow) {
            responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
        },
        "drawCallback": function (oSettings) {
            responsiveHelper_datatable_tabletools.respond();
        }, "language": {
            "url": "//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Turkish.json"
        }
    });


    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
        $('#body-h4').text($(e.relatedTarget).data('content'));
        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.danger').attr('href') + '</strong>');
    })

    $('#confirm-detail').on('show.bs.modal', function (e) {
        $('.modal-title').text($(e.relatedTarget).data('namesurname'));
        $('#modalnamesurname').text($(e.relatedTarget).data('namesurname'));
        $('#modalemail').text($(e.relatedTarget).data('email'));
        $('#modalip').text($(e.relatedTarget).data('ip'));
        $('#modalMessage').text($(e.relatedTarget).data('message'));
    })

</script>

