﻿@{
    ViewBag.Title = "Site Ayarları";
    ViewBag.Controller = "Site Ayarları";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script src="~/Content/Admin/js/plugin/bootstrap-tags/bootstrap-tagsinput.min.js"></script>
<style type="text/css">
    .bootstrap-tagsinput .label {
        color: #FFF;
        display: inline-block;
    }
</style>
<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Site Ayarları
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Site Ayarları</h2>
                    </header>
                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <form id="reference-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Setting/UpdateSetting" method="post" novalidate="novalidate">
                                    <fieldset>
                                        <section>
                                            <label class="label">Site Başlığı</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-header"></i>
                                                <input type="text" name="SiteTitle" class="input-sm" value="@ViewBag.SiteTitle">
                                            </label>
                                        </section>
                                        <section>
                                            <label class="label">İletişim Formu Mail</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-envelope"></i>
                                                <input type="text" name="ContactMail" class="input-sm" value="@ViewBag.ContactMail">
                                            </label>
                                        </section>
                                        <section>
                                            <label class="label">Seo Başlık</label>
                                            <label class="input">
                                                <i class="icon-prepend fa fa-google"></i>
                                                <input type="text" name="SeoTitle" class="input-sm" value="@ViewBag.SeoTitle">
                                            </label>
                                        </section>
                                        <section>
                                            <label class="label">Seo Açıklama</label>
                                            <label class="textarea textarea-resizable">
                                                <i class="icon-prepend fa fa-google"></i>
                                                <textarea rows="3" id="SeoDescription" name="SeoDescription" class="custom-scroll">@ViewBag.SeoDescription</textarea>
                                            </label>
                                        </section>
                                        <section>
                                            <label class="label">Seo Anahtar Kelime</label>
                                            <div class="form-group">
                                                <label class="input">
                                                    <input class="form-control tagsinput input-xs" id="SeoKeywords" name="SeoKeywords" data-role="tagsinput" value="@ViewBag.SeoKeywords" />
                                                </label>
                                            </div>
                                        </section>
                                        <section>
                                            <label class="label">Facebook Adres</label>
                                            <div class="form-group">
                                                <label class="input">
                                                    <i class="icon-prepend fa  fa-facebook"></i>
                                                    <input class="form-control input-sm" id="FacebookAddress" name="FacebookAddress" value="@ViewBag.FacebookAddress" />
                                                </label>
                                            </div>
                                        </section>
                                        <section>
                                            <label class="label">Twitter Adres</label>
                                            <div class="form-group">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-twitter"></i>
                                                    <input class="form-control input-sm" id="TwitterAddress" name="TwitterAddress" value="@ViewBag.TwitterAddress" />
                                                </label>
                                            </div>
                                        </section>
                                        <section>
                                            <label class="label">Linkedin Adres</label>
                                            <div class="form-group">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-linkedin"></i>
                                                    <input class="form-control input-sm" id="LinkedinAddress" name="LinkedinAddress"  value="@ViewBag.LinkedinAddress" />
                                                </label>
                                            </div>
                                        </section>
                                        <section>
                                            <label class="label">Google+ Adres</label>
                                            <div class="form-group">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-google-plus"></i>
                                                    <input class="form-control input-sm" id="GooglePlusAddress" name="GooglePlusAddress" value="@ViewBag.GooglePlusAddress" />
                                                </label>
                                            </div>
                                        </section>
                                        <section>
                                            <label class="label">Panel Site Title</label>
                                            <div class="form-group">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-header"></i>
                                                    <input class="form-control input-sm" id="txtPanelTitle" name="PanelTitle" value="@ViewBag.PanelTitle" />
                                                </label>
                                            </div>
                                        </section>
                                        <section>
                                            <label class="label">Panel Footer Text</label>
                                            <div class="form-group">
                                                <label class="input">
                                                    <i class="icon-prepend fa fa-terminal"></i>
                                                    <input class="form-control input-sm" id="PanelFooterText" name="PanelFooterText" value="@ViewBag.PanelFooterText" />
                                                </label>
                                            </div>
                                        </section>

                                        <section>
                                            <label class="label">Panel Logo</label>
                                            <div class="input input-file">
                                                <span class="button">
                                                    <input type="file" id="filepanellogo" name="filepanellogo" onchange="this.parentNode.nextSibling.value = this.value">Dosya Seç</span><input type="text" placeholder="Dosya Seçiniz" readonly="">
                                            </div>
                                        </section>
                                        <section>
                                            <label class="label">Favicon</label>
                                            <div class="input input-file">
                                                <span class="button">
                                                    <input type="file" id="favicon" name="favicon" onchange="this.parentNode.nextSibling.value = this.value">Dosya Seç</span><input type="text" placeholder="Dosya Seçiniz" readonly="">
                                            </div>
                                        </section>
                                        <section>
                                            <label class="label">Google Analytics Code</label>
                                            <textarea id="Description" name="GoogleAnalytics">@ViewBag.GoogleAnalytics</textarea>
                                        </section>
                                    </fieldset>
                                    <footer>
                                        <button type="submit" class="btn btn-primary">
                                            Kaydet
                                        </button>
                                        <button type="button" class="btn btn-default" onclick="window.history.back();">
                                            Vazgeç
                                        </button>
                                    </footer>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
        </div>


    </section>
</div>
<script src="~/Ckeditor/ckeditor.js"></script>
<script src="~/Ckeditor/adapters/jquery.js"></script>
<script type="text/javascript">

    // DO NOT REMOVE : GLOBAL FUNCTIONS!

    $(document).ready(function () {

        CKEDITOR.replace('Description');

    });

</script>
