﻿@{
    //ViewBag.Title = "Detay";
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);

    foreach (var item in Model.Where(x => x.LanguageId == languageId).ToList())
    {
        ViewBag.Title = @item.SeoTitle;
    }

}
@using Lissiya_Otel.Functions
@using Lissiya_Otel.Models
@model List<Lissiya_Otel.Models.ContentLanguages>

@section metasection
{

    @foreach (var item in (ViewBag.icerikSeo as List<Lissiya_Otel.Models.ContentLanguages>).Where(x => x.LanguageId == languageId).ToList())
    {
        <meta name="description" content="@item.SeoDescription" />
        <meta name="keywords" content="@item.SeoKeywords" />
            <meta property="og:description" content="@item.SeoDescription" />
            <meta property="og:title" content="@item.SeoTitle" />
    }

}

<!-- Slider with Jquery bxslider -->
<!-- InstanceBeginEditable name="Banner" -->
<section class="md-slide-wrapper-banner md-slide-home md-slide-banner">
    <!-- Slide Image-->
    <ul id="" class="md-slide-banner clearfix">
        <li> <img src="/Content/Site/img/banner/lissiya-main.jpg" alt=""> </li>
    </ul>
</section>
<!-- InstanceEndEditable --><!-- Slider End -->
<!-- Body -->

<div class="md-body-wrapper">
    <section class="container">
        <div class="md-body md-accomodation" style="padding-top:30px;">
            <section class="row md-accomodation-available clearfix">
                <div class="grid_3 align-center">
                    <article class="media">

                        <figure> <img class="logo" alt="" src="/Content/Site/images/lissiya-logo-sl.png"> </figure>
                        <!-- InstanceBeginEditable name="Baslik" -->
                        <div class="decription-override">

                            <h3 class="media-header h4">@Model.Where(x => x.LanguageId == languageId).SingleOrDefault().Title</h3>
                        </div>
                        <!-- InstanceEndEditable -->
                    </article>
                </div>
                <!-- InstanceBeginEditable name="content" -->
                <div class="grid_9">
                    <section class="md-booking">
                        @foreach (var item in Model.Where(x => x.LanguageId == languageId).ToList())
                        {
                            <p>@Html.Raw(item.Description)</p>
                        }
                    </section>
                    <!-- /.md-booking -->
                </div>
                <!-- InstanceEndEditable -->
            </section>
            <!-- InstanceBeginEditable name="alan-detay" -->
            <!-- InstanceEndEditable -->
        </div><!-- /.md-accomodation -->
    </section><!-- /.md-wrapper  -->
</div>