﻿@{
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
    ViewBag.Title = (languageId != 1 ? "Rezervation" : "Rezervasyon");
}

<section class="md-contact">
    <figure class="bg-contact">
        <img src="/Content/Site/img/bg-contact.jpg" alt="">
        <div class="bg-pattern"></div>
    </figure>
    <div class="contact-wrap">
        <div class="layout-left">
            <span>
                @if (ViewContext.RouteData.Values["id"] == null)
                {

                }
                else
                {
                    <span style="color:green;">Formunuz başarıyla tarafımıza ulaştırıldı.</span>
                }
                
            </span>
            <header class="box-heading heading-large">
                <div class="decription-override">

                    <h2 class="h1">
                        @(languageId != 1 ? "CONTACT US" : "BİZE ULAŞIN")
                    </h2>

                </div>
            </header>
            <div class="row form-contact">
                <form id="!!!contact-form" class="label-placeholder" action="/Rezervasyon/Index" method="post">
                    <div class="row clearfix">
                        <div class="form-group">
                            <input id="contact-name" type="text" name="namesurname" class="input-control" placeholder="@(languageId!= 1 ? "Name Surname" : "Ad Soyad")">
                        </div>
                        <div class="form-group">
                            <input id="contact-email" type="text" name="email" class="input-control" placeholder="@(languageId != 1 ? "E-mail" : "Size ulaşabileceğimiz E Posta")">
                        </div>
                    </div>

                    <div class="form-group" style="display: inline-block;">
                        <!--<label class="label-control">Varış Tarihi</label>-->
                        <div class="booking-form select-black">
                            <label class="collapse input">
                                <input type="text" id="arrival-date" name="VarisTarihi" class="input-control border-black" placeholder="@(languageId != 1 ? "Arrival Date" : "Varış Tarihi")" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group" style="display: inline-block;">
                        <!--  <label class="label-control">Ayrılış Tarihi</label>-->
                        <div class="booking-form select-black">
                            <label class="collapse input">
                                <input type="text" id="departure-date" name="AyrilisTarihi" class="input-control border-black" placeholder="@(languageId != 1 ? "Date Of Departure" : "Ayrılış Tarihi")" />
                            </label>
                        </div>
                    </div>
                    <div class="form-group row clearfix" style="display: inline-table;">
                        <!--  <div class="col-right">-->
                        <div class="form-group">
                            <label class="label-control" id="personcountlabel">@(languageId != 1 ? "People Number" : "Kişi Sayısı")</label>
                            <div class="input-group select-black">
                                <label class="collapse">
                                    <select class="form-select" name="KisiSayisi" id="personcount" style="padding: 8px 126px 8px 14px">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </label>
                            </div>
                            <!--  </div>-->
                        </div>
                        <div class="col-right">
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea id="contact-textarea" class="input-control" placeholder="@(languageId != 1 ? "Your message" : "Bize iletmek istedikleriniz")" name="message"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="label-control"></label>
                        <input type="submit" id="send" class="btn btn-large btn-darkbrown" style="cursor: pointer;" value="@(languageId != 1 ? "Submit" : "Gönder")">
                    </div>
                </form>
            </div>
            <!-- /.form-contact -->
            <div class="address-wrap clearfix">
                <div class="address-info">
                    <ul>
                        <li>Web sitemiz üzerinden bizlere ulaşarak rezervasyon yaptırabilirsiniz. En kısa sürede sizlere dönüş yapılacaktır.</li>

                    </ul>
                </div>
            </div>
        </div>

</section>
<!-- /.md-wrapper  -->
