﻿@{
    ViewBag.Title = "Blog Listesi";
    ViewBag.Controller = "Blog Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model  List<Lissiya_Otel.Models.BlogNames>
<section id="widget-grid" class="">

    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
    <article class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

        <!-- Widget ID (each widget will need unique ID)-->
        <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-deletebutton="false" data-widget-editbutton="false">
            <!-- widget options:
								usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
				
								data-widget-colorbutton="false"
								data-widget-editbutton="false"
								data-widget-togglebutton="false"
								data-widget-deletebutton="false"
								data-widget-fullscreenbutton="false"
								data-widget-custombutton="false"
								data-widget-collapsed="true"
								data-widget-sortable="false"
				
								-->
            <header>
                <span class="widget-icon"><i class="fa fa-table"></i></span>
                <h2>Blog Listesi</h2>
            </header>

            <div>

                <div class="jarviswidget-editbox">
                

                </div>

                <!-- widget content -->
                <div class="widget-body">
                    <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                        <thead>
                            <tr>
                                <th data-hide="phone">ID</th>
                                <th data-class=""><i class="fa fa-fw fa-file-text  text-muted hidden-md hidden-sm hidden-xs"></i>Başlık</th>
                                <th data-class=""><i class="fa fa-fw fa-globe text-muted hidden-md hidden-sm hidden-xs"></i>Dil Seçenekleri</th>
                                <th data-hide="phone,tablet">Aksiyon</th>
                            </tr>
                        </thead>
                        <tbody id="tinner">
                            @foreach (var item in Model)
                            {
                                <tr data-order="@item.BlogId">
                                    <td>@item.BlogId</td>
                                    <td>@item.Name</td>
                                    <td>
                                        @foreach (var langitem in ViewBag.LanguageList as List<Lissiya_Otel.Models.Languages>)
                                        {
                                            <a href="/Admin/Blog/UpdateBlogLanguage/@item.BlogId?LangId=@langitem.LanguageId">
                                                <img src="/Areas/Admin/img/blank.gif" class="@langitem.ClassName" alt="@langitem.ShortTitle"></a>
                                        }
                                    </td>
                                    <td>
                                           <div class="smart-form" style="margin-left: 35px;">
                                                 <label class="toggle">
                                                    @if (item.Status == 1)
                                                    {
                                                        <input type="checkbox" name="checkbox-toggle" checked="checked">
                                                        <i data-swchoff-text="Pasif" data-status="@item.Status" data-swchon-text="Aktif" data-id="@item.BlogId" class="check_Click"></i>
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="checkbox-toggle" checked="checked">
                                                        <i data-swchon-text="Pasif" data-status="@item.Status" data-swchoff-text="Aktif" data-id="@item.BlogId" class="check_Click"></i>
                                                    }

                                                </label>
                                            </div>
                                        <a href="/Admin/Blog/UpdateBlogNames/@item.BlogId" class="btn btn-default txt-color-blueLight" title="Güncelle"><i class="fa fa-gear fa-lg"></i></a>
                                        <a href="#" data-content="@item.Name" data-href="/Admin/Blog/Delete/@item.BlogId" data-toggle="modal" data-target="#confirm-delete" class="btn btn-default txt-color-blueLight" title="Sil"><i class="fa fa-trash-o fa-lg"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
                <!-- end widget content -->

            </div>
            <!-- end widget div -->

        </div>

    </article>


</section>
<!-- end widget grid -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Silmek istediğinize emin misiniz?</h4>
            </div>
            <div class="modal-body">
                <h4 id="body-h4"></h4>
                Blogu silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <a href="#" class="btn btn-danger danger">Sil</a>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/Admin/js/plugin/datatables/jquery.dataTables.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatables/dataTables.colVis.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatables/dataTables.tableTools.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatables/dataTables.bootstrap.min.js"></script>
<script src="~/Content/Admin/js/plugin/datatable-responsive/datatables.responsive.min.js"></script>
<script>
    var responsiveHelper_dt_basic = undefined;
    var responsiveHelper_datatable_fixed_column = undefined;
    var responsiveHelper_datatable_col_reorder = undefined;
    var responsiveHelper_datatable_tabletools = undefined;

    var breakpointDefinition = {
        tablet: 1024,
        phone: 480
    };



    $('#datatable_tabletools').dataTable({

        // Tabletools options:
        //   https://datatables.net/extensions/tabletools/button_options
     
        "autoWidth": true,
        "preDrawCallback": function () {
            // Initialize the responsive datatables helper once.
            if (!responsiveHelper_datatable_tabletools) {
                responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
            }
        },
        "rowCallback": function (nRow) {
            responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
        },
        "drawCallback": function (oSettings) {
            responsiveHelper_datatable_tabletools.respond();
        }
        , "language": {
        "url": "//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Turkish.json"
        }
    });

    $("document").ready(function () {
        $(".check_Click").click(function () {
            var id = $(this).data("id");
            var status = $(this).data("status");
            if (status == 1) {
                status = 2
            }
            else {
                status = 1
            }
            var element = $(this);
            $.ajax({
                url: "/Admin/Blog/ChangeStatus",
                data: { id: id, Status: status },
                dataType: "Json",
                type: "POST",
                success: function (data) {
                    if (data.Ok == "BAD") {
                        window.location.reload();
                    }
                    else { location = "/Admin/Blog/BlogNames" }
                },
                error: function (data) {
                    window.location.reload();
                }

            });


        });

    });

    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
        $('#body-h4').text($(e.relatedTarget).data('content'));
        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.danger').attr('href') + '</strong>');
    })

    $(document).ready(function () {
        $("#tinner").sortable({
            axis: 'y',
            stop: function (event, ui) {
                var serialized = $("#tinner").sortable('toArray', { attribute: "data-order" });
                var data = { Ids: serialized };
                var json = JSON.stringify(data);

                $.ajax({
                    url: "/Admin/Blog/Sort",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    data: json,
                    success: function (response) {
                    }
                });
            }
        });

        $("#sortable").disableSelection();
    })
</script>
