﻿body {
}
@media (min-width:360px) and (max-width: 411px) {
     .modal-content {
            width: 92%;
    height: 84%;
    overflow-y: auto;
}
    
    .banner-content {
        top:25%;
        width:inherit;
        margin-left: 2%;
    }
    .banner-content2 {
        top:49%;
        width:inherit;
        margin-left: 2%;
    }
    .md-header{
        margin-top:24px;
        height:2%;

    }
    div.scroll {
        overflow:hidden;
    }
     .social {
    margin-right: 12px;
    border-top-width: 0px;
    /* margin-top: 25px; */
    width: inherit;
    /* float: right; */
}
    .menus {
        display:none;
    }
    .duyuru {
        display:none;
    }
}
@media (min-width:411px) and (max-width: 435px) {
     .modal-content {
            width: 92%;
    height: 84%;
    overflow-y: auto;

    }
    .banner-content {
        top:25%;
        width:inherit;
        margin-left: 2%;
    }
    .banner-content2 {
        top:49%;
        width:inherit;
        margin-left: 2%;
    }
    .md-header{
        margin-top:24px;
        height:2%;

    }
    div.scroll {
        overflow:hidden;
    }
     .social {
    margin-right: 12px;
    border-top-width: 0px;
    /* margin-top: 25px; */
    width: inherit;
    /* float: right; */
}
    .menus {
        display:none;
    }
    .duyuru {
        display:none;
    }
}
@media (min-width:435px) and (max-width: 500px) {
     .modal-content {
            width: 92%;
    height: 84%;
    overflow-y: auto;

    }
    .banner-content {
        top:25%;
        width:inherit;
        margin-left: 2%;
    }
    .banner-content2 {
        top:49%;
        width:inherit;
        margin-left: 2%;
    }
    div.scroll {
        overflow:hidden;
    }
     .social {
    margin-right: 12px;
    border-top-width: 0px;
    /* margin-top: 25px; */
    width: inherit;
    /* float: right; */
}