﻿



nav.mobnew  .toggle,nav.mobnew  [id^=drop] {
 display: none;
}

nav.mobnew  {
  margin: 0;
  padding: 0;
  background-color: #254441;
 position:fixed;
 right:0;
 top:0;
 z-index:999999;
     background-color: transparent;
         font-family: Helvetica,Arial,sans-serif;
         font-size: .9em;
}


nav.mobnew:after {
  content: "";
  display: table;
  clear: both;
}

nav.mobnew  ul {
  float: right;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
    
}

nav.mobnew  ul li {
  margin: 0px;
  display: inline-block;
  float: left;
     background-color: rgb(112, 103, 90);
}

nav.mobnew  a {
  display: block;
  padding: 0 20px;
  color: #FFF;
   font-size: .9em;
  line-height: 35px;
  text-decoration: none;
   text-transform: uppercase;
}

nav.mobnew  ul li ul li:hover {  background-color: rgba(119, 94, 71, 0.68); }

nav.mobnew  a:hover {  background-color: rgba(119, 94, 71, 0.68); }

nav.mobnew  ul ul {
  display: none;
  position: absolute;
  top: 60px;
}

nav.mobnew  ul li:hover > ul { display: inherit; }

nav.mobnew  ul ul li {
  width: 170px;
  float: none;
  display: list-item;
  position: relative;
}

nav.mobnew  ul ul ul li {
  position: relative;
  top: -60px;
  left: 170px;
}

nav.mobnew  li > a:after { content: ' +'; }

nav.mobnew   li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 768px) {



nav.mobnew  { margin: 0; }

nav.mobnew   .toggle + a,
nav.mobnew  .menu { display: none; }

nav.mobnew  .toggle {
  display: block;
   background-color:transparent;
  padding: 0 20px;
  color: #FFF;
   font-size: .9em;
  line-height: 35px;
  text-decoration: none;
  border: none;
}

nav.mobnew  .toggle:hover { background-color: transparent; }

nav.mobnew  [id^=drop]:checked + ul { display: block; }

nav.mobnew  ul li {
  display: block;
  width: 100%;
}

nav.mobnew  ul ul .toggle,
 nav.mobnew  ul ul a { padding: 0 40px; }

nav.mobnew  ul ul ul a { padding: 0 80px; }

nav.mobnew  a:hover,
 nav.mobnew  ul ul ul a {  background-color: rgba(119, 94, 71, 0.68); }

nav.mobnew  ul li ul li .toggle,
 nav.mobnew  ul ul a { background-color: rgba(119, 94, 71, 0.68); }

nav.mobnew  ul ul {
  float: none;
  position: static;
  color: #ffffff;
}

nav.mobnew  ul ul li:hover > ul,
nav.mobnew  ul li:hover > ul { display: none; }

nav.mobnew  ul ul li {
  display: block;
  width: 100%;
}

nav.mobnew  ul ul ul li { position: static;

}
}

@media all and (max-width : 330px) {

nav.mobnew  ul li {
  display: block;
  width: 100%;
}

}
@media all and (min-width : 769px) {

nav.mobnew   {
  display: none;
 
}

}

