
/* RESET
----------------------------------------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
    height: 100%;
}

ul {
    list-style: none;
    color: #333;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after {
        content: '';
        content: none;
    }

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: #614e30;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

    a:hover {
        color: #a29061;
    }

    a:active,
    a:focus {
        outline: none;
    }

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    color: #67481c;
}

input {
    padding: 0;
    margin: 0;
}

button {
    border: 0;
}

select,
textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}


/*::selection {background: #A29061; color: #FFF;}*/
::-moz-selection {
    background: #A29061;
    color: #FFF;
}

/* GRID
----------------------------------------------------------------------------------------------------*/

/* Grid >> Global */

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
    display: inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;
}

/* Grid >> 12 Columns */

.grid_1 {
    width: 6.333%;
}

.grid_2 {
    width: 14.667%;
}

.grid_3 {
    width: 23%;
    margin-top: 0px;
}

.grid_4 {
    width: 31.333%;
}

.grid_5 {
    width: 39.667%;
}

.grid_6 {
    width: 48.0%;
}

.grid_7 {
    width: 56.333%;
}

.grid_8 {
    width: 64.667%;
}

.grid_9 {
    width: 73.0%;
}

.grid_10 {
    width: 81.333%;
}

.grid_11 {
    width: 89.667%;
}

.grid_12 {
    width: 98.0%;
}

.container {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}

.row {
    clear: both;
}

/* Ext typo
----------------------------------------------------------------------------------------------------*/
/* Shape effects */
.circle {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.rounded {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* Aligning */
.alignleft,
img.alignleft {
    text-align: left;
}

.alignright,
img.alignright {
    text-align: right;
}

.aligncenter,
img.aligncenter {
    text-align: center;
}

.alignnone,
img.alignnone {
    text-align: inherit;
}

img.alignleft {
    display: inline-block;
    float: left;
    margin-right: 25px;
    margin-bottom: 25px;
}

img.alignright {
    display: inline-block;
    float: right;
    margin-left: 25px;
    margin-bottom: 25px;
}

img.aligncenter {
    display: block;
    margin: 0 auto 25px;
}

img:after {
    clear: both;
}

/* Margins */
.no-margin {
    margin-top: 0;
    margin-bottom: 0;
}

.margin-all {
    margin: 25px;
}

.margin {
    margin-top: 25px;
    margin-bottom: 25px;
}

.margin-top {
    margin-top: 25px;
}

.margin-bottom {
    margin-bottom: 25px;
}

.margin-big {
    margin-top: 50px;
    margin-bottom: 50px;
}

.margin-all-big {
    margin: 50px;
}

.margin-top-big {
    margin-top: 50px;
}

.margin-bottom-big {
    margin-bottom: 50px;
}

.margin-small {
    margin-top: 10px;
    margin-bottom: 10px;
}

.margin-all-small {
    margin: 10px;
}

.margin-top-small {
    margin-top: 10px;
}

.margin-bottom-small {
    margin-bottom: 10px;
}

.no-uppercase {
    text-transform: none;
}

.uppercase {
    text-transform: uppercase;
}

.letterspace {
    letter-spacing: 0.1em;
}

.italic,
em {
    font-style: italic;
}

.bold,
strong,
b {
    font-weight: 900;
}

.thin {
    font-weight: 300;
}

/* Layout Style
----------------------------------------------------------------------------------------------------*/

#preloader {
    position: fixed;
    background-color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

    #preloader.zoomOut {
        opacity: 0;
        visibility: hidden;
        -webkit-transform: scale(0.5);
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }

    #preloader .loader {
        left: 50%;
        position: absolute;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    #preloader .loader {
        display: block;
        font-family: 'mongolian_baitiregular';
        font-size: 30px;
        font-weight: 400;
        overflow: hidden;
        padding-bottom: 5px;
        line-height: 1em;
    }

        #preloader .loader:before {
            content: attr(data-loading-text);
            text-transform: uppercase;
            color: #a29061;
        }

        #preloader .loader:after {
            content: attr(data-loading-text);
            position: absolute;
            top: 0;
            color: #293042;
            text-transform: uppercase;
            display: block;
            line-height: 1em;
            opacity: 1;
            overflow: hidden;
            width: 0;
            -webkit-animation: anim 5s infinite;
            -moz-animation: anim 5s infinite;
            -ms-animation: anim 5s infinite;
            animation: anim 5s infinite;
        }

@-webkit-keyframes anim {
    0% {
        width: 0;
    }

    50% {
        height: 100%;
        width: 100%;
    }

    100% {
        height: 0;
        width: 100%;
    }
}

@-moz-keyframes anim {
    0% {
        width: 0;
    }

    50% {
        height: 100%;
        width: 100%;
    }

    100% {
        height: 0;
        width: 100%;
    }
}

@-ms-keyframes anim {
    0% {
        width: 0;
    }

    50% {
        height: 100%;
        width: 100%;
    }

    100% {
        height: 0;
        width: 100%;
    }
}

@keyframes anim {
    0% {
        width: 0;
    }

    50% {
        height: 100%;
        width: 100%;
    }

    100% {
        height: 0;
        width: 100%;
    }
}

.md-body {
    padding-top: 30px;
    padding-right: 0;
    padding-bottom: 0px;
    padding-left: 0;
}

.md-checkout .col-left, .md-checkout .col-right {
    width: 45.454545%;
    float: left;
}

.md-checkout .col-left {
    margin-right: 9.07029478%;
}

/* Common style */
img {
    width: 100%;
    vertical-align: middle;
}

.logo {
    width: 230px;
}

.box-heading .head {
    font-size: 24px;
    line-height: 26px;
    color: #242424;
    overflow: hidden;
}

.md-button-alert .head {
    margin-bottom: 45px;
}

.box-heading .headline {
    position: relative;
}

.headline:after {
    border-top: 1px solid #000;
    content: "";
    top: 13px;
    position: absolute;
    width: 100%;
    margin-left: 15px;
}

.box-heading .headborder {
    padding-bottom: 25px;
    border-bottom: 1px solid #000;
}

.row-alter-110 {
    margin-bottom: 110px;
}

.box-alter-40 {
    margin-bottom: 40px;
}

.box-alter-80 {
    margin-bottom: 80px;
}

.align-center {
    text-align: center;
}

/* Typography style */
.tags-post > a {
    color: #A29061;
}

    .tags-post > a:hover {
        color: #242424;
    }

.media-header-big {
    font-size: 65px;
    line-height: 46px;
    margin-bottom: 11px;
}

h2, h3, h4 {
    font-family: 'mongolian_baitiregular';
}

h5, h6 {
    font-family: 'Open Sans';
}

h1, h3, h4, h5 {
 
}
.scroll h1{
    font-family: "Monotype Corsiva",Calibri;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid #666666;
    color: #EFEFEF;
    margin: 12px 0 5px;
    padding: 0 0 8px;
    padding-bottom:5px;
}
p, label {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 14px;
    /*color: #666;*/
}
.scroll p,.scroll label {
    font-family: Helvetica,Arial,sans-serif;
    font-weight: 400;
    line-height: 18px;
    font-size: 12px;
    /*color: #666;*/
}
h2.h2 {
    font-size: 40px;
}

h3, .h3 {
    font-size: 24px;
}

h4, .h4 {
    font-size: 20px;
}

h5, .h5 {
    font-size: 16px;
}

h6, .h6 {
    font-size: 14px;
}

.media-header {
    color: #242424;
    font-size: 26px;
}

    .media-header:hover {
        color: #a29061;
        font-family: "mongolian_baitiregular";
        font-size: 26px;
    }

.md-hotel #mp-pusher .md-body-wrapper .md-home .row.check-availability .container.clearfix .grid_3 img {
    width: 203px;
    margin-top: 13px;
}

.heading-large {
    position: relative;
    font-size: 323px;
    line-height: 230px;
    color: #333;
    z-index: 1;
    display: inline-block;
    font-family: 'mongolian_baitiregular';
}

.decription-override {
    background-color: #FFF;
    text-align: center;
    top: auto;
    width: 100%;
    z-index: 9;
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 0;
    float: left;
    margin-top: 70px;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
}

.h1 {
    font-size: 26px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-left: 10px;
}

.decription-override > p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}

.text-bold {
    font-weight: bold;
}

.text-hightlight {
    background: #a29061;
    color: #FFF;
}

    .text-hightlight:hover {
        background: #a29061;
        color: #e8d091;
    }

.text-line-through {
    text-decoration: line-through;
}

.text-underline {
    text-decoration: underline;
}

.number {
    font-family: 'Georgia';
    font-size: 18px;
    font-style: italic;
    color: #a29061;
}

.number-big {
    font-size: 30px;
}

.number-room {
    color: #333;
}

.amount-night, .day-arrival, .day-departure {
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 22px;
    color: #666;
}

.amount-night {
    color: #333;
}

.one-night {
    color: #666;
    font-size: 13px;
}

/* Container style */
.md-home {
    background-color: #FFF;
}

.md-home-body {
    background-color: #f1f3f2;
    overflow: hidden;
}

    .md-home-body .md-sidebar {
        position: relative;
        padding-top: 45px;
    }

        .md-home-body .md-sidebar:after,
        .md-home-body .md-sidebar:before {
            content: "";
            position: absolute;
            background-color: #FFF;
        }

        .md-home-body .md-sidebar:after {
            width: 1000px;
            right: 100%;
            top: 0;
            height: 10000px;
        }

        .md-home-body .md-sidebar:before {
            height: 10000px;
            top: 100%;
            width: 100%;
        }

.row-article {
    padding: 31px 0;
}

/* Footer Style */
/*.md-footer {
    background-color: #171005;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 1px;
    padding-left: 0;
}*/
/*.md-footer {
    position: absolute;
    /*top: 15%;
    left: 0.51052%;
    z-index: 999;
    color: #FFF;
    max-width: 100px;//
    padding-top: 5px;
    padding-right: 0;
    /*padding-bottom: 1px;//
    padding-left: 0;
    width: 100%;
    height:10%;
    background-color: rgba(119, 94, 71, 0.68);
    z-index: 99999;
        margin-top: 26px;
    /*float: right;//
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom-width: 0px;
    margin-top: 0px;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    

    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    height: 10%;
    /*padding-top: 17px;//
}*/
.md-footer {
    position: absolute;
    /*top: 99%;
    left: 0.51052%;
    z-index: 999;
    color: #FFF;*/
    /*max-width: 100px;*/
    width: 100%;
    z-index: 99999;
    /*float: right;*/
    height: 9%;
        /*margin-top: 771px;*/
        top:96%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    

    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    /* border: 2px solid #a1a1a1; */
    /*padding: 10px 40px;*/
    background: rgba(119, 94, 71, 0.68);
    /*border-radius: 6px;*/
    /*border-left-width: 15px;*/
    /*margin-left: 210px;*/
}

    .md-footer h3 {
        font-size: 16px;
        line-height: 35px;
        color: #69685d;
        letter-spacing: 2px;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }

    .md-footer .footer-column:hover h3 {
        color: #b8b5a0;
    }

.footer-content {
    font-size: 13px;
    color: #69685d;
    text-transform: uppercase;
    font-family: "Open Sans";
}

    .footer-content address {
        padding-bottom: 20px;
        border-bottom: 1px solid #32312b;
        margin-bottom: 10px;
    }

    .footer-content .website {
        font-size: 11px;
        line-height: 25px;
        color: #69685d;
    }

        .footer-content .website:hover {
            color: #B8B5A0;
        }

    .footer-content form {
        margin-top: 12px;
        width: 100%;
    }

.hotel-contact {
    border: solid #32312b;
    border-width: 0 1px 0 1px;
    margin-left: 20px;
    padding: 0 40px;
}

    .hotel-contact .hotel-number {
        font-style: italic;
        color: #614e30;
        line-height: 35px;
        float: right;
        font-size: 10px;
    }

    .hotel-contact li {
        line-height: 35px;
    }


.hotel-news {
    padding-left: 20px;
}

    .hotel-news p {
        font-style: italic;
        line-height: 20px;
        color: #69685d;
    }

    .hotel-news .btn-brown {
        background-color: #32312b;
        color: #b8b5a0;
    }

.social-inner {
    text-align: center;
    margin-top: 2px;
    color: #efefef;
}

.footer-social .social-group > a {
    width: 32px;
    height: 32px;
    background-color: #32312b;
    display: inline-block;
    position: relative;
    border: 1px solid #32312b;
    margin-left: 5px;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

    .footer-social .social-group > a:hover {
        border-color: #787667;
    }

.footer-social h4 {
    color: #bfa369;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 5px;
    display: inline-block;
    vertical-align: 10px;
    margin-right: 10px;
}

.social-group {
    display: inline-block;
}

/* Components Sytle
----------------------------------------------------------------------------------------------------*/


/* Header style */
/*.md-header {
    height: 50px;
    background-color: rgba(90, 63, 20, 0.73);
    z-index: 99999;
    width: 100%;
}*/
.md-header {
    position: absolute;
    /*top: 15%;
    left: 0.51052%;
    z-index: 999;
    color: #FFF;
    max-width: 100px;*/
    width: 100%;
    background-color: rgba(119, 94, 71, 0.68);
    z-index: 99999;
        margin-top: 26px;
    /*float: right;*/


    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    

    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    height: 10%;
    padding-top: 17px;
}
    .md-header .row {
        position: relative;
    }

/* Logo style */
.md-logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 224px;
}
/* Logo style */
.md-logo-left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 224px;
}
/* Menu style */
nav {
    float: right;
}

.md-menu > li {
    float: left;
    margin-left: 20px;
    line-height: 50px;
    position: relative;
}

    .md-menu > li a {
          color: #fff;
    /* text-transform: uppercase; */
    display: inline-block;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 10px;
    letter-spacing: 0px;
   
    }
    .md-menu > li a img{
    margin-top:10px;
   
    }

    .md-menu > li > a {
        padding: 10px 0;
    }

.md-menu li a:hover {
    color: #dac4a4;
     
}

.sub-menu {
    position: absolute;
    top: 74px;
    background-color:rgba(119, 94, 71, 0.68);
    width: 216px;
    padding: 14px 10px;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;
 
}

.have-submenu {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.have-submenu li{
    text-align:left;
}

    .have-submenu:hover .sub-menu {
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

.btn-toogle-res-menu {
    cursor: pointer;
    line-height: 0;
    width: 28px;
    height: 20px;
    float: right;
   
    display: none;
    margin: 15px 0 0 0;
}

#mp-menu, .mp-level > h2 {
    font-family: "Open Sans",sans-serif;
    color: #B2B2B2;
}


/* Top arrow */
.sub-menu-inner::before,
.sub-menu-inner::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    /*border: solid transparent;*/
    bottom: 100%;
    left: 9%;
}

.sub-menu-inner::before {
    border-bottom-color: #524c3a;
    border-width: 15px;
}

.sub-menu-inner::after {
    border-bottom-color: #604723;
    border-width: 14px;
    margin-left: 1px;
}

.sub-menu-inner {
    border: 0px solid #604723;
    padding: 0 15px;
    position: relative;
}

    .sub-menu-inner > li a {
        text-transform: none;
        font-family: 'Open Sans';
        font-size: 11px;
        line-height: 38px;
        border-bottom: 1px solid rgba(52, 50, 44, 0.46);
        display: block;
    }
/* Slide style */
.md-slide li {
    height: 620px;
    max-height: 620px;
}

.md-slide-wrapper {
    position: relative;
    height: 620px;
    overflow: hidden;
}

.md-slide li img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 620px;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.content-slide {
   text-align: center;
    font-family: 'mongolian_baitiregular';
    color: #FFF;
    width: 70%;
    bottom: 0;
    right: 0;
    position: absolute;
    display: table;
    height: 75%;
    float: right;
}

    .content-slide .container {
        height: 100%;
        min-height: 100%;
    }

    .content-slide .home-content {
        display: table-cell;
        vertical-align: middle;
        width: 1200px;
        /*max-width: 1200px;*/
        z-index: 999;
    }

    .content-slide .slide-title {
        line-height: 48px;
        text-transform: uppercase;
    }

    .content-slide h2.slide-title {
        font-size: 100px;
        margin-bottom: 14px;
    }
        /* Alter */
        .content-slide h2.slide-title.alter {
            font-size: 90px;
        }

    .content-slide.dark h2.slide-title {
        color: #350e00;
        font-size: 75px;
        line-height: 48px;
    }
    /* Dark */
    .content-slide.dark .title-inner {
        position: relative;
        font-size: 40px;
        line-height: 48px;
        display: inline-block;
        margin: 0 10px;
        vertical-align: top;
    }

        .content-slide.dark .title-inner:after,
        .content-slide.dark .title-inner:before {
            background-color: #350e00;
            height: 2px;
            left: 0;
            right: 0;
            bottom: 100%;
            content: "";
            position: absolute;
        }

        .content-slide.dark .title-inner:after {
            top: 100%;
        }

    .content-slide h3.slide-title {
        font-size: 50px;
        letter-spacing: 15px;
    }

        .content-slide h3.slide-title.alter {
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 24px;
            line-height: 30px;
            font-weight: 300;
            font-style: italic;
            letter-spacing: 0;
            text-transform: none;
            margin-top: 430px;
            text-indent: 10px;
        }

.dots-line span {
    display: inline-block;
    content: "";
    height: 18px;
    width: 10px;
    background-color: #FFF;
    margin: 16px 5px 14px 0;
    -webkit-transform: skewX(-35deg);
    -moz-transform: skewX(-35deg);
    -ms-transform: skewX(-35deg);
    -o-transform: skewX(-35deg);
    transform: skewX(-35deg);
}

.content-slide .slide-description {
    max-width: 518px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 13px;
}

.content-slide.dark .slide-description {
    color: #3e0402;
}

.content-slide .btn {
    font-size: 20px;
    color: #FFF;
    letter-spacing: 6px;
}

.content-slide.dark .btn {
    color: #3e0402;
    border-color: #6a1c00;
}

    .content-slide.dark .btn:hover {
        color: #FFF;
        border-color: #242424;
    }

/* detay banner style */
.md-slide-banner li {
    height: 275px;
    max-height: 650px;
}

.md-slide-wrapper-banner {
    position: relative;
    height: 275px;
    overflow: hidden;
}

.md-slide-banner li img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 354px;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

/* Form Style */
.form-group {
    margin-bottom: 30px;
}

.label-control {
    display: block;
    font-size: 16px;
    color: #333;
    line-height: 35px;
    margin-bottom: 5px;
}

.box-booking .label-control {
    height: 35px;
    text-align: left;
}

.label-inline {
    display: inline;
    line-height: 44px;
}

.start {
    color: #F00;
    margin-left: 5px;
}

.input-control {
    /*line-height: 45px;*/
    height: 45px;
    /*max-width: 400px;*/
    width: 100%;
    border: 1px solid #a29061;
    vertical-align: middle;
    font-family: "Georgia";
    font-size: 20px;
    padding: 10px;
    color: #999;
    background: transparent;
    -webkit-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    -moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    -ms-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    -o-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

.border-black {
    border-color: #242424;
}

.border-white {
    border-color: #FFF;
}

.input-group {
    height: 45px;
}

.collapse {
    position: relative;
    overflow: hidden;
    width: 100%;
    vertical-align: top;
    display: inline-block;
    height: 100%;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
}

    .collapse:after {
        position: absolute;
        content: "";
        z-index: 1;
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-block;
        top: 0;
        right: 0;
        width: 45px;
        pointer-events: none; /* important */
        bottom: 0;
    }

    .collapse > input.input-control,
    .collapse > select.form-select {
        border: 0;
    }

.select-brown .collapse:after {
    background-image: url('../images/dropdown-2.png');
}

.select-black .collapse:after,
.select-white .collapse:after {
    background-image: url('../images/dropdown-1.png');
}

.select-brown .collapse:after {
    background-color: #a29061;
}

.select-black .collapse:after {
    background-color: #242424;
}

.select-white .collapse:after {
    background-color: #FFF;
}

.collapse.input:after {
    background-image: url("../images/calendar.png");
    bottom: 0;
    cursor: pointer;
    right: 0;
    top: 0;
    width: 45px;
}

.collapse > select {
    background: rgba(0,0,0,0);
    border: 0;
    font-family: "Georgia";
    font-size: 20px;
    cursor: pointer;
    padding: 8px 40px 8px 14px;
    height: 100%;
    width: 100%;
    color: #999;
    position: relative;
    text-overflow: "";
    text-indent: 0.01px;
}

.select-brown .collapse {
    border-color: #a29061;
}

.select-black .collapse {
    border-color: #242424;
}

.select-white .collapse {
    border-color: #FFF;
}


.collapse > select:focus {
    width: 100%;
}

select > option {
    padding: 15px;
}

select option.option-test:hover {
    background-color: #F00;
}

.hotel-news input {
    background-color: #000;
    border: 1px solid #32312b;
    height: 33px;
    color: #69685d;
    padding: 0 10px;
    vertical-align: middle;
    width: 80.898876%;
    float: left;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

    .hotel-news input:focus {
        border-left: 1px solid #b8b5a0;
    }

.input-checkbox {
    display: none;
}

    .input-checkbox[type="checkbox"] + .label-radio,
    .input-checkbox[type="radio"] + .label-radio {
        padding-left: 30px;
        display: inline-block;
        cursor: pointer;
        font-size: 13px;
    }

    .input-checkbox[type="radio"] + .label-radio {
        background: url('../images/radio.png') no-repeat 0 0;
        height: 18px;
        line-height: 18px;
    }

    .input-checkbox[type="checkbox"] + .label-radio {
        background: url('../images/checkbox.png') no-repeat 0 0;
        height: 22px;
        line-height: 22px;
    }

    .input-checkbox[type="radio"]:checked + .label-radio {
        background: url('../images/radio.png') no-repeat 0 -18px;
    }

    .input-checkbox[type="checkbox"]:checked + .label-radio {
        background: url('../images/checkbox.png') no-repeat 0 -22px;
    }

.col-number-room .input-group {
    height: 40px;
}

.col-number-room .select-black select {
    padding: 6px 14px;
}

.form-group.select {
    max-width: 107px;
    width: 100%;
}

.input-control input {
    width: 80%;
    height: 80%;
    border: 0;
}

.label-placeholder .form-group {
    position: relative;
    margin-bottom: 20px;
}

.leave-comment .form-group.input-col {
    float: left;
    width: 48.863636%;
}

.leave-comment .form-group:first-child {
    margin-right: 2.272727%;
}

.label-placeholder .label-control {
    font-size: 14px;
    position: absolute;
    top: 1px;
    left: 10px;
    line-height: 44px;
}

.leave-comment .box-heading {
    margin-bottom: 31px;
}

.label-placeholder textarea {
    width: 100%;
    height: 128px;
}

.leave-comment .form-group:last-child {
    text-align: right;
}

/* Button Style */
.btn {
    display: inline-block;
    text-transform: uppercase;
    font-family: 'mongolian_baitiregular';
    line-height: 45px;
    padding: 0 20px;
    -webkit-transition: all .5s ease-out 0s;
    -moz-transition: all .5s ease-out 0s;
    -ms-transition: all .5s ease-out 0s;
    -o-transition: all .5s ease-out 0s;
    transition: all .5s ease-out 0s;
}

.btn-border {
    border: 1px solid #a29061;
    background-color: transparent;
}

.btn-border-white {
    border-color: #FFF;
    color: #FFF;
    border-width: 2px;
    border-style: solid;
}

.btn-border-brown {
    color: #a29061;
}

.btn-border-black {
    color: #000;
}

.btn-white {
    background-color: #FFF;
    color: #a29061;
}

.btn-black {
    background-color: #000;
    color: #999;
}

.btn-brown {
    background-color: #a29061;
    color: #FFF;
}

.btn-darkbrown {
    background-color: #242424;
    color: #a29061;
}

    .btn-darkbrown:hover {
        color: #d3bc80;
    }

.btn-black:hover {
    color: #FFF;
}

.btn-brown:hover {
    color: #242424;
}

.btn-large {
    font-size: 20px;
}

.btn-medium {
    font-size: 16px;
}

.btn-small {
    font-size: 13px;
}

.btn-alter {
    font-size: 18px;
    line-height: 40px;
    padding: 0 22px;
}

.hotel-news .btn {
    height: 33px;
    line-height: 31px;
    vertical-align: middle;
    width: 19.1011235%;
    font-family: "open Sans";
    font-size: 13px;
    color: #b8b5a0;
    cursor: pointer;
}

.btn-border:hover {
    border-color: #242424;
    background: #242424;
    color: #a29061;
}

/* Icons Style */

.icon {
    background-image: url('../images/sprite.png');
    background-repeat: no-repeat;
    position: absolute;
    display: inline-block;
}

.icon-calendar {
    width: 17px;
    height: 19px;
    background-position: 0 0;
    margin-top: 12px;
    margin-left: 14px;
}

.icon-previous, .icon-next {
    width: 10px;
    height: 17px;
    left: 31px;
    top: 25px;
}

.icon-previous {
    background-position: -75px 0;
}

.icon-next {
    background-position: -90px 0;
}

.icon-facebook {
    width: 7px;
    height: 16px;
    background-position: 0 -45px;
}

.icon-twitter {
    width: 19px;
    height: 15px;
    background-position: -25px -45px;
}

.icon-youtube {
    width: 18px;
    height: 18px;
    background-position: -46px -45px;
}

.icon-tripadvisor {
    width: 20px;
    height: 16px;
    background-position: -75px -45px;
}

.icon-google {
    width: 17px;
    height: 15px;
    background-position: -101px -45px;
}

.icon-instagram {
    width: 18px;
    height: 18px;
    background-position: -121px -45px;
}

.icon-facebook,
.icon-twitter,
.icon-youtube,
.icon-tripadvisor,
.icon-google,
.icon-instagram {
    top: 8px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.post-footer .icon-facebook {
    background-position: 0 -25px;
}

.post-footer .icon-twitter {
    background-position: -25px -25px;
}

.post-footer .icon-youtube {
    background-position: -50px -25px;
}

.post-footer .icon-tripadvisor {
    background-position: -75px -25px;
}

.post-footer .icon-google {
    background-position: -75px -25px;
}

.post-footer .icon-instagram {
    background-position: -75px -25px;
}

.icon-view, .icon-comment {
    position: static;
    margin-right: 5px;
    vertical-align: middle;
}

.icon-view {
    background-position: 0 -65px;
    width: 18px;
    height: 12px;
}

.icon-comment {
    background-position: -25px -65px;
    width: 15px;
    height: 15px;
}

.icon-reply {
    background-position: -50px -65px;
    width: 12px;
    height: 14px;
    left: -19px;
    top: 4px;
}

.icon-payment {
    background: url('../images/payment.png') no-repeat 0 0;
    display: inline-block;
    margin-left: 3px;
    vertical-align: middle;
}

.md-room-detail .slideshow-photo > img {
  width: auto;
}

.icon-ideal-via-mobile {
    background-position: 0 0;
    width: 75px;
    height: 20px;
}

.icon-pay-via-realex {
    background-position: -80px -30px;
    width: 69px;
    height: 30px;
}

.icon-pay-credit-card {
    background-position: 0 -30px;
    width: 65px;
    height: 35px;
}

.icon-zaakpay {
    background-position: -80px -70px;
    width: 25px;
    height: 25px;
}

.icon-skrill {
    background-position: 0 -70px;
    width: 38px;
    height: 24px;
}

.icon-pay-paypal {
    background-position: -40px -70px;
    width: 38px;
    height: 24px;
}

.icon-pay-via-payex {
    background-position: -80px 0;
    width: 52px;
    height: 25px;
}

.icon-payosonline {
    background-position: 0 -100px;
    width: 100px;
    height: 21px;
}

.icon-credit-card-payment {
    background-position: 0 -125px;
    width: 146px;
    height: 22px;
}

.icon-map-white {
    background-position: -50px -80px;
    width: 16px;
    height: 23px;
}

.icon-map-brown {
    background-position: -75px -80px;
    width: 24px;
    height: 32px;
    position: static;
}

.icon-mail {
    background-position: -25px -80px;
    width: 20px;
    height: 14px;
}

.icon-phone {
    background-position: 0 -80px;
    width: 8px;
    height: 24px;
}

/* Booking Style */
.md-home .check-availability {
    height: 80px;
    background-color: #171005;
}

.check-availability .grid_3 {
    background-color: #242424;
    position: relative;
    height: 80px;
}

    .check-availability .grid_3:after, .check-availability .grid_3:before {
        content: "";
        position: absolute;
        width: 1000px;
        top: 0;
        right: 100%;
        bottom: 0;
        height: 100%;
        background-color: #242424;
    }

    .check-availability .grid_3:before {
        border-left: 50px solid transparent;
        border-top: 80px solid #171005;
        border-right: 0;
        content: "";
        position: absolute;
        right: 0;
        width: 0;
        height: 0;
    }

.check-availability .grid_9 {
    position: relative;
}

    .check-availability .grid_9 .md-booking {
        padding-left: 20px;
        color: #3e2a0f;
    }

.title-checkroom {
    color: #a29061;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 1px;
}

    .title-checkroom:before, .title-checkroom:after {
        content: "";
        position: absolute;
        left: 2px;
    }

    .title-checkroom:before {
        top: 24px;
        background-color: #a29061;
    }

    .title-checkroom:after {
        background-color: #333;
        bottom: -24px;
    }

.booking-inline {
    margin-top: 22px;
}

    .booking-inline .form-group {
        display: inline-block;
        vertical-align: middle;
        margin-right: 24px;
        float: left;
    }

        .booking-inline .form-group.last {
            margin-right: 0px;
        }

.booking-form {
    height: 45px;
    position: relative;
}

.booking-inline .booking-form {
    max-width: 200px;
    width: 100%;
}

.btn-datepicker {
    width: 45px;
    height: 45px;
    background-color: #242424;
    position: absolute;
    right: 0;
    top: 0;
}

.booking-stack .col-left, .booking-stack .col-right {
    width: 46.1538461%;
    float: left;
}

.booking-stack .col-left {
    margin-right: 18px;
}

.booking-stack .btn {
    padding: 0 40px;
}

.booking-stack .form-group {
    margin-bottom: 13px;
    max-width: 260px;
    width: 100%;
}

    .booking-stack .form-group.last > .label-control {
        display: none;
    }
/* List Style */
.list li, .list-order-color > li > span {
    font-family: "Open Sans";
    font-size: 13px;
    color: #333;
    margin-bottom: 13px;
    line-height: 20px;
    font-weight: 400;
}

.list-check li {
    background: url('../images/list-check.png') no-repeat left center;
    padding-left: 28px;
}

.md-sidebar .list-check {
    margin-top: 22px;
    font-family: "Open Sans";
    font-size: 13px;
}

.list-triangle li {
    position: relative;
    padding-left: 16px;
}

    .list-triangle li:before {
        content: "";
        position: absolute;
        height: 0;
        width: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 6px solid #999;
        top: 5px;
        left: 0;
    }

.list-triangle-color > li:before {
    border-left-color: #a29061;
}

.list-order-color {
    padding-left: 17px;
}

    .list-order-color > li {
        color: #a29061;
        font-weight: bold;
    }

.list-uppercase {
    text-transform: uppercase;
}

/* Media box style */
.media {
    overflow: hidden;
}

.pull-left {
    float: left;
}

.media > .pull-left {
    margin-right: 20px;
}

.pull-right {
    float: right;
}

.media-body {
    overflow: hidden;
}

.mini {
    width: 150px;
    height: 90px;
    max-width: 100%;
}

.medium {
    width: 202px;
    height: 126px;
    max-width: 100%;
}


/* Text Quote Style */
.box-quote {
    background: url('../images/quote-top.png') no-repeat left top,url('../images/quote-bottom.png') no-repeat right 92%;
    padding: 1px 0 31px;
}

.box-quote-alter {
    background: url('../images/quote-top.png') no-repeat left top;
    padding-bottom: 20px;
}

.box-quote > p {
    color: #666;
    text-transform: uppercase;
    text-indent: 40px;
    margin-bottom: 9px;
}

.box-quote-alter > p {
    font-size: 13px;
    line-height: 22px;
    text-transform: none;
}

/* Article Style (article 2 column, article left, article center) */
.row-home:nth-child(2n) {
    background-color: #FFF;
    position: relative;
}

    .row-home:nth-child(2n):after {
        content: "";
        position: absolute;
        left: 100%;
        width: 1000px;
        top: 0;
        bottom: 0;
        height: 100%;
        background-color: #FFF;
    }

.md-layout-right-inner {
    padding-left: 1.5873015%;
}

.text-link {
    color: #a29061;
    -webkit-transition: color .3s ease-in-out 0s;
    -moz-transition: color .3s ease-in-out 0s;
    -ms-transition: color .3s ease-in-out 0s;
    -o-transition: color .3s ease-in-out 0s;
    transition: color .3s ease-in-out 0s;
}

    .text-link:hover {
        color: #242424;
    }

.link-direct {
    font-size: 13px;
    font-style: italic;
    font-family: 'Open Sans';
    line-height: 25px;
}
/* Sidebar style */
.md-sidebar {
    padding-right: 20px;
    background-color: #fff;
}

.header-sidebar {
    color: #333;
    /*font-size: 22px;*/
    line-height: 35px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.md-sidebar > .header-sidebar {
    margin-top: 60px;
}


/* Alert Style */
.alert {
    border: 1px solid;
    background-repeat: no-repeat;
    background-position: 18px 16px;
    height: auto;
    padding: 9px 30px 20px 56px;
    margin-bottom: 20px;
}

    .alert > .alert-body > p {
        font-size: 13px;
        line-height: 20px;
        color: #333;
    }

.alert-label {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 36px;
}

.alert-attention {
    background-image: url('../images/icon-attention.png');
    background-color: #f7eed8;
    border-color: #f0e2c1;
}

.alert-error {
    background-image: url('../images/icon-error.png');
    background-color: #fff2ea;
    border-color: #f2dbdc;
}

.alert-success {
    background-image: url('../images/icon-success.png');
    background-color: #e1f3ff;
    border-color: #cce6f1;
}

.alert-general {
    background-image: url('../images/icon-general.png');
    background-color: #f9f9f9;
    border-color: #d3d3d3;
}

.button-group > p {
    margin-bottom: 26px;
    text-align: center;
}

    .button-group > p > a {
        margin-right: 30px;
        margin-bottom: 15px;
    }

/* Pagination Style */
.pagination li {
    display: inline-block;
    margin-right: 2px;
}

    .pagination li > a {
        display: inline-block;
        color: #a29061;
        border: 1px solid #a29061;
        padding: 0 15px;
        font-family: "mongolian_baitiregular";
        font-size: 18px;
        line-height: 25px;
        line-height: 38px;
        -webkit-transition: all 0.3s ease-out 0s;
        -moz-transition: all 0.3s ease-out 0s;
        -ms-transition: all 0.3s ease-out 0s;
        -o-transition: all 0.3s ease-out 0s;
        transition: all 0.3s ease-out 0s;
    }

        .pagination li > a:hover {
            background: #a29061;
            color: #FFF;
        }

    .pagination li.first > a, .pagination li.last > a {
        text-transform: uppercase;
        padding: 0 20px;
    }

/* Home Page 
---------------------------------------------------------------*/
.md-home .title-checkroom:after {
    background-color: transparent;
}

.md-home .md-booking .label-control {
    color: #FFF;
}

.md-home .md-booking .btn {
    padding: 0 39px;
    background-color: #FFF;
}

.md-home .input-control,
.md-home select {
    color: #dfcea3;
}

.md-home .header-sidebar {
    font-size: 22px;
    padding-bottom: 16px;
    background: url('../images/have-bg.png') no-repeat bottom center;
}

.row-home {
    padding: 31px 0;
}

    .row-home .media-body {
        float: left;
        padding-left: 10px;
        width: 43.1818%;
    }

    .row-home .pull-left {
        float: left;
    }

    .row-home .media-image {
        padding-left: 22px;
        width: 54.5454%;
        float: left;
    }

    .row-home:nth-child(2n) .media-image {
        float: right;
        margin-right: 0;
    }

    .row-home:nth-child(2n) .media-body {
        padding-left: 22px;
        margin-left: 0;
    }

    .row-home .media-image {
        margin-right: 2.27272%;
    }

.md-home .title-checkroom {
    padding-top: 15px;
}

.md-primary {
    padding: 20px 0 60px;
}

/* Button and Alert Page 
---------------------------------------------------------------*/
.md-typography .box-heading {
    margin-bottom: 30px;
}

.section-alert .alert-body.list > li {
    margin-bottom: 5px;
}

/* Testimonal Page 
---------------------------------------------------------------*/

.md-testimonail > .md-main {
    padding-left: 20px;
}

.md-testimonail .media-object {
    padding-top: 17px;
    max-width: 800px;
    max-height: 800px;
}

.md-testimonail .media {
    margin-bottom: 50px;
}

/* CheckOut Page 
---------------------------------------------------------------*/
.md-checkout .row {
    margin-bottom: 35px;
}

.md-main .row .box-heading {
    margin-bottom: 30px;
}

.row.row-shoping {
    margin-bottom: 20px;
}

.row-shoping .box-heading {
    margin-bottom: 0 !important;
}

.row-room {
    padding: 8px 0 9px;
}

.form-action {
    border-top: 1px solid #000;
    padding-top: 30px;
}

    .form-action .btn {
        margin-top: 40px;
    }

.line {
    border-bottom: 1px solid #c9c9c9;
}

.row-room .h4 {
    margin-bottom: 9px;
    margin-top: -2px;
}

.col-number-room,
.col-number-price,
.col-number-total,
.col-thumbnail-room,
.col-info-room {
    float: left;
}

.col-number-room,
.col-number-price {
    width: 22.6757%;
    /*text-align: right; */
}

.col-info-room {
    width: 34.0909%;
}

.col-thumbnail-room {
    width: 17.2727%;
    margin-right: 2.840909%;
}

.col-number-room > span,
.col-number-price > span,
.col-number-total > span {
    padding-right: 5px;
    padding-top: 40px;
    display: block;
}

.row-payment .form-group {
    margin-bottom: 12px;
}

/* Booking Cart Page 
---------------------------------------------------------------*/
.row-total, .row-checkout {
    text-align: right;
}

.row-total {
    margin-top: 24px;
}

.row-checkout {
    margin-top: 50px;
}

.md-booking-cart .select-black {
    width: 90px;
}

.md-booking-cart .media {
    width: 54.7727272%;
    float: left;
}

.md-booking-cart .col-number-price {
    width: 19.090909%;
    text-align: left;
}

.md-booking-cart .col-number-room {
    width: 17.04545%;
    margin-top: 30px;
}

.md-booking-cart .col-number-total {
    width: 9.090909%;
    text-align: left;
}

.box-heading .col-number-room {
    margin-top: 0;
}

.md-booking-cart select {
    color: #242424;
    font-size: 18px;
    padding: 10px;
}

/* Check available Page 
---------------------------------------------------------------*/
.md-check-available .box-sidebar {
    margin-top: 130px;
}

.result-available {
    font-family: "Georgia";
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 38px;
    font-style: italic;
    color: #333;
    padding-top: 67px;
}

.md-check-available .head {
    font-size: 20px;
}

.room-available {
    font-size: 13px;
    font-family: "Open Sans";
    font-weight: 400;
    color: #666;
    margin-left: 10px;
    text-transform: none;
}

    .room-available:before {
        content: "//";
        font-family: "mongolian_baitiregular";
        font-size: 18px;
        margin-right: 10px;
    }

.md-check-available .row-room {
    padding: 16px 0 46px;
}

.row-room .col {
    float: left;
    width: 25%;
}

.col > span {
    display: block;
}

.row-room .col.media {
    width: 26.59090%;
}

.row-room .col.list {
    width: 28.181818%;
}

.row-room .col.price {
    width: 17.04545%;
    text-align: right;
}

.col.price > .from {
    margin: 7px 0 -8px;
    font-family: "Georgia";
    font-size: 13px;
    font-style: italic;
    color: #666;
}

.col.price > .number-big {
    margin-bottom: 14px;
}

.col.price .btn {
    line-height: 37px;
}



/* Room Detail Page 
---------------------------------------------------------------*/
.md-room-detail .align-center {
    margin-bottom: 605px;
}

.md-slide-home .slideshow-photo > img {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920px;
    height: 100%;
    max-width: none;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.thumb-room-detail a,
.thumb-room-detail li {
    display: block;
    position: relative;
    z-index: 999;
}

#bx-pager {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
}

    #bx-pager .owl-controls {
        margin: 0;
    }

    #bx-pager .owl-wrapper-outer {
        overflow: visible !important;
    }

.thumb-room-detail a:after,
.thumb-room-detail a:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    z-index: 999;
}

.thumb-room-detail a:after {
    background: url('../images/pattern.png');
}

.thumb-room-detail a.active:after {
    background: none;
    border: 4px solid #a29061;
}

.thumb-room-detail a.active:before {
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #a29061;
    height: 0;
    width: 0;
    top: -8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
}

.description-room .current-room {
    height: 100%;
}

.current-room > div {
    width: 100%;
    height: 100%;
}

.current-room > figure > img {
    float: left;
}

.description-room > .preview-room {
    margin-bottom: 30px;
}

.preview-content {
    margin-bottom: 26px;
    margin-top: 30px;
}

    .preview-content > p {
        margin-bottom: 22px;
    }

.md-room-detail .h3 {
    color: #242424;
}

.md-room-detail .number-big {
    font-size: 60px;
}

.md-room-detail .one-night {
    font-size: 24px;
    color: #333;
}

.md-room-detail .booking-inline {
    margin-top: 23px;
}

.md-room-detail .btn {
    padding: 0 28px;
}

.meta-view, .meta-divider, .meta-comment {
    margin-right: 6px;
}

.meta-divider {
    margin-left: 8px;
}
/*.md-room-detail .bxslider li {
    height: 460px;
}
*/
.md-room-detail .slideshow-photo > img {
    width: auto;
}

.md-room-detail .bx-wrapper .bx-controls-direction .bx-prev {
    left: 20px;
}
/* Standar Post Page 
---------------------------------------------------------------*/
.box-sidebar {
    margin-bottom: 52px;
    margin-top: 55px;
}

.md-standar-post .align-center {
    margin-bottom: 64px;
}

.box-sidebar .list a {
    color: #333;
    font-size: 14px;
    -webkit-transition: color .3s ease-out 0s;
    -moz-transition: color .3s ease-out 0s;
    -ms-transition: color .3s ease-out 0s;
    -o-transition: color .3s ease-out 0s;
    transition: color .3s ease-out 0s;
}

    .box-sidebar .list a:hover {
        color: #a29061;
    }

.list-tags li {
    display: inline-block;
    margin-bottom: 5px;
}

.list-tags > li > a {
    font-size: 13px;
    padding: 4px 10px;
    border: 1px solid #a29061;
    color: #333;
    font-family: "open Sans";
    line-height: 20px;
    text-transform: none;
    display: inline-block;
}

    .list-tags > li > a:hover {
        color: #a29061;
    }

.list-tags > li.active-tag > a {
    color: #a29061;
}

.list-relate h4 > a {
    font-size: 14px;
    color: #333;
    line-height: 20px;
    -webkit-transition: color .3s ease-out 0s;
    -moz-transition: color .3s ease-out 0s;
    -ms-transition: color .3s ease-out 0s;
    -o-transition: color .3s ease-out 0s;
    transition: color .3s ease-out 0s;
}

    .list-relate h4 > a:hover {
        color: #a29061;
    }

.list-relate > li {
    margin-bottom: 25px;
}

.time {
    font-size: 13px;
    color: #666;
    font-family: "open Sans";
    line-height: 20px;
}

.post-header > .h2 {
    margin: 11px 0 32px;
}

.post-body .h3 {
    margin: 41px 0 34px;
    text-align: center;
    font-size: 22px;
    padding: 0 110px;
    color: #242424;
    line-height: 28px;
}

.post-body figure {
    margin-bottom: 24px;
}

.media-col .pull-left {
    margin: 0 29px 15px 0;
}

.media-col .media-body {
    overflow: visible;
}

.post-footer {
    padding: 6px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    margin: 36px 0 75px;
}

.author-post, .meta-post, .tags-post {
    display: inline-block;
    color: #666;
}

.post-footer .footer-left {
    float: left;
    position: relative;
}

.post-footer .footer-right {
    float: right;
    font-family: "Open Sans";
    font-size: 13px;
    color: #666;
    margin-top: 4px;
}

.author-post {
    color: #666;
    margin-right: 10px;
}

    .author-post > span {
        color: #333;
    }

.meta {
    color: #666;
}

.tags-post > .tag-post {
    font-style: italic;
}

.footer-right .icon {
    position: static;
}

.footer-right > a {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

    .footer-right > a:last-child {
        margin-right: 0;
    }

.amount-comment {
    color: #666;
}

.list-comment {
    margin-bottom: 33px;
}

    .list-comment > .media {
        border-bottom: 1px solid #c9c9c9;
    }

    .list-comment .media {
        padding: 28px 0;
    }

    .list-comment > .media:first-child {
        padding-bottom: 0;
    }

    .list-comment > .media.last {
        border: 0;
    }

    .list-comment .pull-left {
        margin-right: 20px;
    }

    .list-comment .media-object {
        width: 80px;
        height: 80px;
    }

    .list-comment .header-body {
        margin-bottom: 8px;
        margin-top: -4px;
    }

    .list-comment .header-body {
        font-family: "Open Sans";
        line-height: 20px;
        color: #999;
    }

    .list-comment .left {
        font-size: 14px;
        font-weight: 600;
        color: #333;
    }

        .list-comment .left > .time {
            font-size: 13px;
            font-weight: 400;
            color: #999;
        }

    .list-comment .right {
        float: right;
        position: relative;
        font-size: 13px;
        cursor: pointer;
    }

        .list-comment .right:hover {
            color: #a29061;
        }

            .list-comment .right:hover .icon-reply {
                background-position: -75px -65px;
            }

.child-comment {
    margin-left: 100px;
}

    .child-comment > .media {
        padding-top: 0px;
    }

        .child-comment > .media:first-child {
            padding-top: 30px;
        }

.box-comment .box-heading {
    margin-bottom: 33px;
}


/* Blog Page 
---------------------------------------------------------------*/
.md-main, .md-main {
    float: right;
    position: relative;
}

.md-sidebar-pt {
    padding-top: 65px;
}

.md-blog .media {
    margin-bottom: 52px;
}

.heading-absolute {
    position: absolute;
    top: 0;
    left: -33%;
}

.md-blog .list-article .pull-left {
    width: 39.7727%;
    margin-right: 3.4%;
}

.md-blog .list-article .media-body {
    width: 56.8182%;
}

.media-body > .media-header {
    margin-bottom: 9px;
}

.media-header .meta-header {
    margin-bottom: 8px;
    margin-top: -8px;
}

.media-header .h4 > a {
    line-height: 26px;
    color: #242424;
}

    .media-header .h4 > a:hover {
        color: #A29061;
    }

.md-blog .media-body > .media-content {
    margin-bottom: 7px;
    line-height: 22px;
}

.box-sidebar .list-triangle > li {
    font-size: 14px;
    padding-left: 30px;
}

/* Contact Page 
---------------------------------------------------------------*/

.md-contact {
    /*position: relative;
    overflow: auto;
    padding:20px;*/
}

.bg-contact {
    position: relative;
    left: 0;
    overflow: hidden;
}

.bg-pattern {
    background: url('../images/pattern-kaldirildi.png') repeat 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bg-contact > img {
    width: auto;
    float: left;
}

.contact-wrap {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    left: 50%;
    background: #FFF;
    padding: 70px 0 90px;
    z-index: 999;
}

    .contact-wrap > .layout-left {
        width: 590px;
        padding-left: 40px;
        padding-right: 20px;
    }

.md-contact .heading-large {
    margin-left: -14px;
    margin-bottom: 10px;
}

.description {
    margin-bottom: 22px;
}

.contact-wrap .form-group {
    margin-bottom: 15px;
}

.address-wrap {
    position: absolute;
    top: 15%;
    left: -265px;
}

.address-info > ul,
.address-map {
    float: left;
    height: 189px;
}

.address-info {
    border-style: solid;
    border-color: #a29061;
    border-width: 0px;
    float: left;
    width: 265px;
    padding: 5px 0 5px 5px;
}

    .address-info ul li::-moz-selection {
    }
    /*.address-info  ul li::selection {background: #242424; color: #A29061;}*/

    .address-info > ul {
        height: 25px;
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

.address-map {
    width: 140px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 0;
}

    .address-map > div {
        background: #242424;
        width: 100%;
        height: 250px;
        text-align: center;
        padding-top: 60px;
    }

        .address-map > div > .popup-gmaps {
            font-family: "mongolian_baitiregular";
            font-size: 16px;
            color: #a29061;
            text-transform: uppercase;
            display: block;
            margin-top: 10px;
            cursor: pointer;
        }

.address-info li {
    margin-bottom: 20px;
    color: #fff;
    font-family: "open Sans";
    font-size: 14px;
    line-height: 20px;
}

.address-info .icon {
    position: static;
    margin-right: 17px;
    vertical-align: middle;
    float: left;
    margin-top: 3px;
}

.form-contact .input-control {
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 44px;
}

/* News Deal Page 
---------------------------------------------------------------*/
.media-center {
    text-align: center;
}

    .media-center > .media-body {
        padding: 0 21px;
    }

.md-news-deal .media {
    margin-bottom: 35px;
    width: 380px;
}
/*31.333%*/
.md-news-deal .media-header {
    margin-top: 18px;
    line-height: 26px;
    color: #242424;
}

#md-news-deal {
    margin: auto;
}


/* Accomodation Page 
---------------------------------------------------------------*/
.md-accomodation-content {
    margin-top: 30px;
}

    .md-accomodation-content .row .grid_4 {
        margin-bottom: 50px;
    }

.md-accomodation .media-header {
    font-size: 30px;
    margin: 29px 0 20px;
    color: #67481c;
}

.md-accomodation .media-content {
    margin-bottom: 13px;
}

.md-accomodation .media .btn {
    text-transform: none;
    font-family: "Open Sans";
    padding: 0 18px;
    line-height: 35px;
}

.md-accomodation .booking-inline {
    margin-top: 45px;
}

.md-accomodation .md-booking .btn {
    padding: 0 39px;
}

.md-accomodation .md-booking {
    padding-left: 20px;
}

.md-accomodation .title-checkroom {
    color: #333;
    width: 220px;
}

    .md-accomodation .title-checkroom:before {
        background-color: transparent;
    }


/* World of Flawles Page 
---------------------------------------------------------------*/
/*.md-world-of-flawles  {
    height: 100%;
    width: 100%;
}
.md-world-of-flawles .md-body {
    padding: 0;
    height: 100%;
}
.md-world-of-flawles .slideshows {
    height: 100%;
}
.md-world-of-flawles .md-header {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
}*/
.md-world-of-flawles .md-body {
    padding: 0;
}

.slide-wrapper {
    /* min-height:100%;
    height: 100%;*/
    position: relative;
}
/*.slide-wrapper .bx-viewport,
.slide-wrapper .bx-wrapper,
.slide-wrapper .bxslider,
.slide-wrapper li {
    height: 100%;
}*/
.slideshows .description-room {
    height: 100%;
}

/*.banner-content {
    position: absolute;
    top: 15%;
    left: 0.51052%;
    z-index: 999;
    color: #FFF;
    max-width: 100px;
    width: 70%;
    float: right;


    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    

    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    
}*/
.banner-content {
    color: #FFF;
    width: 100%;
    float: left;
    background: rgba(119, 94, 71, 0.68);
    border-radius: 6px;
    padding-bottom: 20px;
    padding-top: 30px;
}
.banner-content2 {
    color: #FFF;
    width: 100%;
    float: left;
    background: rgba(119, 94, 71, 0.68);
    border-radius: 6px;
    padding-bottom: 30px;
    padding-top: 29px;
    margin-top: 20px;
}

.description-content {
    position: absolute;
    top: 80%;
    right: 4.21052%;
    z-index: 999;
    color: #FFF;
    max-width: 850px;
    width: 90%;
    float: right;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}

    .description-content h2, .description-content p {
        background-color: rgba(0,0,0,0.0);
        margin-bottom: 1px;
        text-align: right;
        padding: 0 10px;
        float: left;
    }

    .description-content h2 {
        font-family: Georgia, "Times New Roman", Times, serif;
        font-size: 24px;
        line-height: 40px;
        font-weight: 300;
        font-style: italic;
        letter-spacing: 1px;
        text-transform: none;
    }

    .description-content p {
        color: #b4b4b4;
        line-height: 22px;
        padding: 10px 10px;
    }

.thumb-room li {
    float: left;
}

.thumb-room-detail:after {
    clear: both;
}

.thumb-room-detail > li > a {
    display: block;
}

.slide-preview-room {
    position: relative;
}

    .slide-preview-room .bxslider li {
        height: 100%;
        width:100% !important;
    }

    .slide-preview-room .bxslider > li img {
        opacity: 0;
        visibility: hidden;
    }

    .slide-preview-room .bxslider li .item-img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        z-index: -3;
    }

/* Typography Page 
---------------------------------------------------------------*/
.box-bullet-list .clear {
    display: none;
}

.box-bullet-list .list {
    padding-bottom: 20px;
}




/* Language Bar 
---------------------------------------------------------------*/

.language-bar {
        /* position: absolute; */
    right: 0;
    top: 100%;
    background-color: transparent;
    z-index: 999;
    padding-top: 20px;
    padding-left: 1499px;
    /* padding-right: initial; */
}

    .language-bar li {
        display: inline-block;
        margin-right: 10px;
    }

        .language-bar li img {
            height: 15px;
            width: auto;
        }

.language-bar2 {
    display: none;
    padding: 0.9em 1em 0.9em 1.4em;
}

    .language-bar2 span {
        display: inline-block;
        margin: 0 0 7px 5px;
    }

        .language-bar2 span img {
            height: 15px;
            width: auto;
        }

/* Custom CSS
---------------------------------------------------------------*/

/* HOME PAGE  jquery bxslider */

.bx-wrapper .bx-controls-direction a {
    width: 68px;
    height: 68px;
    background-color: rgba(0,0,0,0.6);
    display: inline-block;
    margin-top: -32px;
    z-index: 9999;
}

.bx-wrapper .bx-controls-direction .bx-prev {
    right: 89px;
}

.bx-wrapper .bx-controls-direction .bx-next {
    right: 20px;
}

.bx-outer-prev:hover, .bx-outer-next:hover,
.bx-wrapper .bx-prev:hover, .bx-wrapper .bx-next:hover,
.bx-wrapper .bx-prev i,
.bx-wrapper .bx-next i {
    color: rgb(255, 255, 255);
    font-size: 32px;
    line-height: 68px;
}

.bx-outer-prev,
.bx-outer-next,
.bx-wrapper .bx-controls-direction a {
    text-indent: initial !important;
}

#sliderThumb {
    margin-top: 10px;
}

    #sliderThumb li a:after,
    #sliderThumb li a:before {
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 999;
    }

    #sliderThumb li a:after {
        background-color: rgba(255, 255, 255, 0.5);
    }

    #sliderThumb li.active a:after {
        background-color: rgba(255, 255, 255, 0);
    }

/* jquery ui */
#ui-datepicker-div {
    z-index: 999 !important;
}

.ui-datepicker {
    padding: 0;
}


/* Clearfix
--------------------------------------------------------*/
* html .clearfix,
* html .ui-helper-clearfix {
    height: 1%; /* IE5-6 */
}

.clearfix,
.ui-helper-clearfix {
    display: inline-block; /* IE7xhtml*/
}

html .clearfix,
html .ui-helper-clearfix {
    display: block; /* O */
}

.clearfix:after,
.ui-helper-clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    line-height: 0;
    font-size: 1px;
    overflow: hidden;
}

.clear {
    clear: both;
}





/* Custome css */
.md-home-body .widget-home-info {
    margin-bottom: 40px;
}
/* fiyat tablosu css */
.table {
    width: 100%;
    display: table;
}

    .table div {
        display: table-row;
    }

        .table div div {
            display: table-cell;
            text-align: left;
        }

            .table div div.th {
                font-weight: bold;
                text-align: center;
            }

.font_d {
    color: #333;
}

@media (max-width:768px) {
    .page-list-style {
        display: block;
        position: relative;
        bottom: 10px;
        left: 44%;
        margin-bottom:150px;
    }
        .page-list-style .pagination-container .pagination a {
            margin-bottom:0px;
        }
        
}
}
@media only screen and (max-width:731px){
    .banner-content {
        position: absolute;
        top: 20%;
        left: 0.51052%;
        z-index: 999;
        color: #FFF;
        /* max-width: 100px; */
        /* width: 15%; */
        float: right;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: all .3s ease 0s;
        -moz-transition: all .3s ease 0s;
        -ms-transition: all .3s ease 0s;
        -o-transition: all .3s ease 0s;
        transition: all .3s ease 0s;
        /* border: 2px solid #a1a1a1; */
        /* padding: 10px 40px; */
        background: rgba(119, 94, 71, 0.68);
        border-radius: 6px;
        border-left-width: 15px;
        margin-left: 210px;
    }
    .banner-content2 {
    position: absolute;
    top: 19%;
    left: 0.51052%;
    z-index: 999;
    color: #FFF;
    /*max-width: 100px;*/
    width: 15%;
    float: right;

    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    

    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    /* border: 2px solid #a1a1a1; */
    /*padding: 10px 40px;*/
    background: rgba(119, 94, 71, 0.68);
    border-radius: 6px;
    border-left-width: 15px;
    margin-left: 210px;
}
}
@media (min-width:769px) {
    .page-list-style {
        display: block;
        position: relative;
        bottom: 10px;
        left: 47%;
            margin-bottom: 40px;
    }
}
.stil3 {
    font-family: "Monotype Corsiva", Calibri;
    font-size: 18px;
}
.stil16 {
    font-family: "Monotype Corsiva",Calibri;
    font-size: 26px;
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid #666666;
    color: #EFEFEF;
    margin: 12px 0 5px;
    padding: 0 0 8px;
}
.stilContent {
        color: #fff;
    text-transform: uppercase;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 14px;
}
/*#region modal */
/* The Modal (background) */
/*.modal {
    display: none; 
    position: fixed; 
    z-index: 999999; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}*/
.modal {
    display: none;
    position: fixed;
    z-index: 51;
    padding-top: 74px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0,0,0); */
    /* background-color: rgba(0,0,0,0.4); */
}
/* Modal Content */
/*.modal-content {
    position: relative;
    background-color: rgba(119, 94, 71, 0.68);
    margin: auto;
    padding: 0;
    /* border: 1px solid #888; //
    border-radius: 6px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}*/

.modal-content {
    position: relative;
    background-color:rgba(119, 94, 71, 0.57);
    margin: auto;
    padding: 0;
    /* border: 1px solid #888; */
    /* border-radius: 6px; */
    width: 48%;
    overflow-y: auto;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19); */
    /* -webkit-animation-name: animatetop; */
    /* -webkit-animation-duration: 0.4s; */
    /* animation-name: animatetop; */
    /* animation-duration: 0.4s; */
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.contactclose {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.contactclose:hover,
.contactclose:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    color: white;
        /*text-align: center;*/
}

.modal-body {padding: 2px 16px;
                     color: #EFEFEF;
    /*float: left;*/
    font-size: 12px;
    /*left: 76px;*/
    /*padding-left: 12%;*/
    line-height: 18px;
    text-align:left;
}

.modal-footer {
    padding: 2px 16px;
    color: white;
        text-align: center;
}
.stiltrh{
    color: #EFEFEF;
    /*float: left;*/
    font-size: 12px;
    left: 76px;
    line-height: 18px;
    margin: 0 0 0 15px;
    padding: 15px;
    /*position: relative;*/
    /*width: 770px;*/
    font-family: Helvetica,Arial,sans-serif;
}
/*#endregion */
div.scroll {
    /*background-color: #00FFFF;*/
    /*width: 100px;*/
    height: 620px;
    overflow: auto;
}

div.hidden {
    /*background-color: #00FF00;*/
    /*width: 100px;*/
    height: 100px;
    overflow: hidden;
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(119, 94, 71, 0.57); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #dfcea3; 
}
.foot>li>a{
    font-size: 9px;
}
.social{
   display:table-cell;
   vertical-align:middle;
   float:none;
}
.social>div
{
   
}
.social>div>div
{
    float:left;
}
.menus>nav{
float:left;
}
.footul {
    height:18px;
    display:block !important;
}
.footul li{
    line-height:18px;
        height: 18px;
        margin-left:10px;
}
.footul li:first-child{
  margin-left:0;
 
}

.footul li a{
    line-height:18px;
        height: 18px;
padding:0;
}
.menus>div>div>div
{
    padding-right: 30px; font-size: small;padding-left:21px;color: #f8eedf; margin-right:0px;padding-left:0px; padding-left:21px;
}
.duyuru{
    float:right;
}
.duyuru>div
{
    float:left;
}
.duyuru>div>div
{
    padding-right: 30px; font-size: small;padding-left:21px;color: #f8eedf; margin-right:0px;padding-left:0px; padding-left:21px;
}
.scroll>a
{
    color: #EFEFEF;
}
/*#region contactform */
/* Basic Grey */
.basic-grey {
    margin-left: auto;
    margin-right: auto;
   
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
 
}
.basic-grey h1 {
    /*font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;*/
    /*color: #888;*/
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.basic-grey label {
    display: block;
    margin: 0px;
}
.basic-grey label>span {
    float: left;
    width: 25%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    /*color: #888;*/
}
.basic-grey input[type="text"], .basic-grey input[type="email"], .basic-grey input[type="datetime-local"], .basic-grey textarea, .basic-grey select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    /*box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;*/

        background-color: rgba(183, 150, 108, 0.79);
    border: 1px solid #666666;
    color: #000000;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin: 3px 0;
}
.basic-grey textarea{
    padding: 5px 3px 3px 5px;
}
.basic-grey select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
    background-color: rgba(183, 150, 108, 0.79);
}
.basic-grey textarea{
    height:100px;
}
.basic-grey .button {
    background: rgba(183, 150, 108, 0.79);
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px #9E3F3F;
    cursor: pointer;
}
.basic-grey .button:hover {
    background: rgba(152, 109, 55, 0.87);
}


.degisen {
    background-image: url('../images/27.png');
    /*height: 60px;
    width: 60px;*/
}
.degisen:hover {
 background-image: url('../images/28.png');
 /*height: 60px;
 width: 60px;*/
}

.btn-toogle-res-menu {
  position: relative;
  padding-left: 1.25em;
}
.btn-toogle-res-menu:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1em;
  height: 0.15em;
  background:#B2B2B2;
  box-shadow: 
    0 0.25em 0 0 #B2B2B2,
    0 0.5em 0 0 #B2B2B2;
}
.main-div{
    display: inline-block;
    width: 15%;
    position: absolute;
    top: 15%;
    z-index: 555;
    left: 8%;
}
.xs {
        display:none;
    }
.md{
     display:block;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
.footul li:first-child {
    margin-left: 0;
    display: none;
}
 .footul li {
    line-height: 18px;
    height: 18px;
    margin-left: 10px;
}
 .foot>li>a {
    font-size: 8px;
}
    .xs {
        display:block;
    }
    .md{
     display:none !important;
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
 .footul li:first-child {
    margin-left: 0;
    display: none;
}
 .footul li {
    line-height: 18px;
    height: 18px;
    margin-left: 10px;
}
 .foot>li>a {
    font-size: 8px;
}
    .xs {
        display:block;
    }
    .md{
     display:none !important;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
.footul li:first-child {
    margin-left: 0;
    display: block;
}
.logom {
    display: inline-block !important;
}
 .footul li {
    line-height: 18px;
    height: 18px;
    margin-left: 10px;
}
 .foot>li>a {
    font-size: 8px;
}
    .xs {
        display:block;
    }
    .md{
     display:none !important;
}
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) {
.footul li:first-child {
    margin-left: 0;
    display: block;
}
.logom {
    display: inline-block !important;
}
 .footul li {
    line-height: 18px;
    height: 18px;
    margin-left: 10px;
}
 .foot>li>a {
    font-size: 8px;
}
    .xs {
        display:block;
    }
    .md{
     display:none !important;
}
    .md-header {
    margin-top: 22px !important;
}
    .scroll h1 {
    font-family: "Monotype Corsiva",Calibri;
    font-size: 25px !important;
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid #666666;
    color: #EFEFEF;
    margin: 12px 0 5px;
    padding: 0 0 8px;
    padding-bottom: 5px;
}
}
.btn-book{
    border: 1px solid #a29061;
    background-color: #eadede;
    color: #705228 !important;
}
.btn-book:hover{
    border: 1px solid #242424;
    background-color: #242424;
    color: #b99c7a !important;
}
.form-contact{
      display:block;
    margin:0 auto;
    width:480px;
    padding-top: 100px;
}
.layout-left{
    width:50%;
    float:left;
    display:block;
}
.adres-alan{
    display:block;
    margin:0 auto;
    width:480px;
}
.left-panel{
    border-right:solid 1px #9E9E9E;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 768px) {

    .layout-left{
    width:100%;
    float:left;
    display:block;
    padding:10px;
}
    .form-contact{
      display:block;
    margin:0 auto;
    width:100%;
    padding-top: 100px;
}
.right-panel{
   margin-bottom:60px;
}
.adres-alan{
    display:block;
    margin:0 auto;
    width:100%;
}
.left-panel{
    border-right:solid 0px #9E9E9E;
}
}

