﻿@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div id="content">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget" id="wid-id-7" data-widget-editbutton="false">

                <header>
                    <span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
                    <h2>Tarih / Ziyaret Sayısı</h2>
                </header>

                <div>

                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">

                        <div id="non-continu-graph" class="chart no-padding"></div>

                    </div>

                </div>

            </div>

        </article>
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget" id="wid-id-2" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
                    <h2>Gösterilen Sayfa / Adet </h2>

                </header>
                <div>

                    <div class="jarviswidget-editbox">
                    </div>

                    <div class="widget-body no-padding">
                        <div id="bar-graph" class="chart no-padding"></div>
                    </div>

                </div>

            </div>

        </article>

        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget" id="wid-id-1" data-widget-editbutton="false">

                <header>
                    <span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
                    <h2>Tarih / Yeni Ziyaretler</h2>
                </header>

                <div>

                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">

                        <div id="non-continu-graph2" class="chart no-padding"></div>

                    </div>

                </div>

            </div>

        </article>
        <article class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            <div class="jarviswidget" id="wid-id-5" data-widget-editbutton="false">

                <header>
                    <span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
                    <h2>Tarayıcı / Ziyaret Sayısı</h2>
                </header>

                <div>

                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">

                        <div id="donut-graph" class="chart no-padding"></div>

                    </div>

                </div>

            </div>

        </article>

        <article class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

            <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                <header>
                    <span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
                    <h2>Şehir / Ziyaret Sayısı</h2>
                </header>

                <div>

                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">

                        <div id="donut-graph2" class="chart no-padding"></div>

                    </div>

                </div>

            </div>

        </article>

        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget" id="wid-id-3" data-widget-editbutton="false">

                <header>
                    <span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
                    <h2>Tarih / Toplam Sitede Kalma Süresi</h2>
                </header>

                <div>

                    <div class="jarviswidget-editbox">
                    </div>
                    <div class="widget-body no-padding">

                        <div id="time" class="chart no-padding"></div>

                    </div>

                </div>

            </div>

        </article>
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <div class="jarviswidget" id="wid-id-4" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"><i class="fa fa-bar-chart-o"></i></span>
                    <h2>Gösterilen Sayfa / Süre </h2>

                </header>
                <div>

                    <div class="jarviswidget-editbox">
                    </div>

                    <div class="widget-body no-padding">
                        <div id="pagetime-graph" class="chart no-padding"></div>
                    </div>

                </div>

            </div>

        </article>
    </div>

</div>

<!-- Morris Chart Dependencies -->
<script src="~/Content/Admin/js/plugin/morris/raphael.min.js"></script>
<script src="~/Content/Admin/js/plugin/morris/morris.min.js"></script>

@*<script type="text/javascript">

    $(document).ready(function () {

        // DO NOT REMOVE : GLOBAL FUNCTIONS!
        pageSetUp();

        if ($('#non-continu-graph').length) {
            var day_data = new Array();

            $.ajax({
                type: 'GET',
                url: '/Admin/Home/EnterDate',
                contentType: "application/json; charset=utf-8",
                datatype: 'json',
                success: function (response) {
                    for (var i = 0; i < response.data.length; i++) {
                        var obj = new Object();
                        obj = { tarih: response.data[i].date, ziyaret: response.data[i].entrances };
                        day_data.push(obj);
                    }


                    Morris.Area({
                        element: 'non-continu-graph',
                        data: day_data,
                        xkey: 'tarih',
                        ykeys: ['ziyaret'],
                        lineColors: ['#EF0E0E'],
                        labels: ['ziyaret'],
                        /* custom label formatting with `xLabelFormat` */
                        xLabelFormat: function (d) {
                            return (d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear();
                        },
                        /* setting `xLabels` is recommended when using xLabelFormat */
                        xLabels: 'day'
                    });
                }
            });

        }

        if ($('#bar-graph').length) {
            var bar_data = new Array();

            $.ajax({
                type: 'GET',
                url: '/Admin/Home/PageViewsbyPage',
                contentType: "application/json; charset=utf-8",
                datatype: 'json',
                success: function (response) {
                    for (var i = 0; i < response.data.length; i++) {
                        var obj = new Object();
                        obj = { x: response.data[i].pagetitle, y: response.data[i].count };
                        bar_data.push(obj);
                    }

                    Morris.Bar({
                        element: 'bar-graph',
                        data: bar_data,
                        xkey: 'x',
                        ykeys: ['y'],
                        labels: ['Adet']

                    });

                }
            })
        }

        if ($('#non-continu-graph2').length) {
            var visit_data = new Array();

            $.ajax({
                type: 'GET',
                url: '/Admin/Home/NewVisits',
                contentType: "application/json; charset=utf-8",
                datatype: 'json',
                success: function (response) {
                    for (var i = 0; i < response.data.length; i++) {
                        var obj = new Object();
                        obj = { tarih: response.data[i].date, YeniZiyaretçi: response.data[i].count };
                        visit_data.push(obj);
                    }

                    Morris.Line({
                        element: 'non-continu-graph2',
                        data: visit_data,
                        xkey: 'tarih',
                        ykeys: ['YeniZiyaretçi'],
                        labels: ['Yeni Ziyaretçi'],
                        /* custom label formatting with `xLabelFormat` */
                        xLabelFormat: function (d) {
                            return (d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear();
                        },
                        /* setting `xLabels` is recommended when using xLabelFormat */
                        xLabels: 'day'
                    });
                }
            });

        }

        if ($('#donut-graph').length) {

            var browser_data = new Array();
            $.ajax({
                type: 'GET',
                url: '/Admin/Home/VisitbyBrowser',
                contentType: "application/json; charset=utf-8",
                datatype: 'json',
                success: function (response) {
                    for (var i = 0; i < response.data.length; i++) {
                        var obj = new Object();
                        obj = { label: response.data[i].browser, value: response.data[i].count };
                        browser_data.push(obj);
                    }

                    Morris.Donut({
                        element: 'donut-graph',
                        data: browser_data,
                        formatter: function (x) {
                            return x + "%"
                        }
                    });
                }
            });

        }

        if ($('#donut-graph2').length) {

            var city_data = new Array();
            $.ajax({
                type: 'GET',
                url: '/Admin/Home/VisitbyCity',
                contentType: "application/json; charset=utf-8",
                datatype: 'json',
                success: function (response) {
                    for (var i = 0; i < response.data.length; i++) {
                        var obj = new Object();
                        obj = { label: response.data[i].city, value: response.data[i].count };
                        city_data.push(obj);
                    }

                    Morris.Donut({
                        element: 'donut-graph2',
                        data: city_data,
                        formatter: function (x) {
                            return x + "%"
                        }
                    });
                }
            });
        }

        if ($('#time').length) {
            var time_data = new Array();

            $.ajax({
                type: 'GET',
                url: '/Admin/Home/TimeOnSiteDate',
                contentType: "application/json; charset=utf-8",
                datatype: 'json',
                success: function (response) {
                    for (var i = 0; i < response.data.length; i++) {
                        var obj = new Object();
                        obj = { tarih: response.data[i].date, time: response.data[i].time };
                        time_data.push(obj);
                    }


                    Morris.Area({
                        element: 'time',
                        data: time_data,
                        xkey: 'tarih',
                        ykeys: ['time'],
                        lineColors: ['#88D239'],
                        labels: ['Süre'],
                        /* custom label formatting with `xLabelFormat` */
                        xLabelFormat: function (d) {
                            return (d.getMonth() + 1) + '/' + d.getDate() + '/' + d.getFullYear();
                        },
                        /* setting `xLabels` is recommended when using xLabelFormat */
                        xLabels: 'day'
                    });
                }
            });

        }

        if ($('#pagetime-graph').length) {
            var pagetime_data = new Array();

            $.ajax({
                type: 'GET',
                url: '/Admin/Home/TimeOnPage',
                contentType: "application/json; charset=utf-8",
                datatype: 'json',
                success: function (response) {
                    for (var i = 0; i < response.data.length; i++) {
                        var obj = new Object();
                        obj = { x: response.data[i].pagetitle, y: response.data[i].time };
                        pagetime_data.push(obj);
                    }

                    Morris.Bar({
                        element: 'pagetime-graph',
                        data: pagetime_data,
                        xkey: 'x',
                        ykeys: ['y'],
                        labels: ['Süre']

                    });

                }
            })
        }
    })
</script>*@
