﻿@{
    ViewBag.Title = "GoogleAnalytics";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<section id="widget-grid" class="">
    <section id="widget-grid" class="">
        <div class="row">
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
            <article class="col-sm-10 col-md-10 col-lg-10">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Filtreleme</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <form id="google-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Home/GoogleAnalytics" method="post" novalidate="novalidate">
                                <fieldset>
                                    <div class="row">
                                        <section class="col col-md-6">
                                            <label>Başlangıç Tarihi </label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" name="FirstDate" id="FirstDate" placeholder="Başlangıç Tarihi " data-mask="99.99.9999" data-mask-placeholder="-" value="11.02.2015">
                                            </label>
                                        </section>
                                        <section class="col col-md-6">
                                            <label>Bitiş Tarihi</label>
                                            <label class="input">
                                                <i class="icon-append fa fa-calendar"></i>
                                                <input type="text" name="SecondDate" id="SecondDate" placeholder="Bitiş Tarihi" data-mask="99.99.9999" data-mask-placeholder="-" value="11.02.2015">
                                            </label>
                                        </section>
                                    </div>
                                </fieldset>
                                <div class="row">
                                    <section class="col col-md-12">
                                        <div class="col col-md-12" id="Dimensionselection">
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="pagePath" name="Dimension" />
                                                    <i></i>
                                                    Sayfa Url
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="pageTitle" name="Dimension" />
                                                    <i></i>
                                                    Sayfa Başlığı
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="browser" name="Dimension" />
                                                    <i></i>
                                                    Browser
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="browserVersion" name="Dimension" />
                                                    <i></i>
                                                    Browser Versiyon
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="city" name="Dimension" />
                                                    <i></i>
                                                    Şehir
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="connectionSpeed" name="Dimension" />
                                                    <i></i>
                                                    Bağlantı Hızı
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="country" name="Dimension" />
                                                    <i></i>
                                                    Ülke
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="date" name="Dimension" />
                                                    <i></i>
                                                    Tarih
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="daysSinceLastVisit" name="Dimension" />
                                                    <i></i>
                                                    Days Since Last Visit
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="flashVersion" name="Dimension" />
                                                    <i></i>
                                                    Flash Versiyon
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="isMobile" name="Dimension" />
                                                    <i></i>
                                                    Mobil Cihaz
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="hour" name="Dimension" />
                                                    <i></i>
                                                    Saat
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="language" name="Dimension" />
                                                    <i></i>
                                                    Dil
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="latitude" name="Dimension" />
                                                    <i></i>
                                                    Enlem
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="longitude" name="Dimension" />
                                                    <i></i>
                                                    Boylam
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="operatingSystem" name="Dimension" />
                                                    <i></i>
                                                    İşletim Sistemi
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="screenResolution" name="Dimension" />
                                                    <i></i>
                                                    Ekran Çözünürlüğü
                                                </label>
                                            </div>

                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="visitCount" name="Dimension" />
                                                    <i></i>
                                                    Ziyaret Sayısı
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="visitLength" name="Dimension" />
                                                    <i></i>
                                                    Ziyaret Süresi
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="visitorType" name="Dimension" />
                                                    <i></i>
                                                    Ziyaretçi Tipi
                                                </label>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                                <div class="row">
                                    <section class="col col-md-12">

                                        <div class="col col-md-12" id="MetricSelection">
                                           
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="pageviews" name="Metric" />
                                                    <i></i>
                                                    Sayfa Gösterimi
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="bounces" name="Metric" />
                                                    <i></i>
                                                    Sayfa Değiştirme
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="entrances" name="Metric" />
                                                    <i></i>
                                                    Girişler
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="exits" name="Metric" />
                                                    <i></i>
                                                    Çıkışlar
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="newVisits" name="Metric" />
                                                    <i></i>
                                                    Yeni Ziyaretler
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="timeOnPage" name="Metric" />
                                                    <i></i>
                                                    Sayfada Kalma Süresi
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="timeOnSite" name="Metric" />
                                                    <i></i>
                                                    Sitede Kalma Süresi
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="visitors" name="Metric" />
                                                    <i></i>
                                                    Ziyaretçiler
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="visits" name="Metric" />
                                                    <i></i>
                                                    Ziyaretler
                                                </label>
                                            </div>
                                            <div class="col col-2 no-padding">
                                                <label class="checkbox">
                                                    <input type="checkbox" value="uniquePageviews" name="Metric" />
                                                    <i></i>
                                                    Eşsiz Sayfa Gösterimi
                                                </label>

                                            </div>
                                        </div>
                                    </section>

                                </div>
                                <div class="row">
                                    <div class="col col-2">
                                        <label class="label">Kayıt Sayısı</label>
                                        <label class="select">
                                            <select name="Count" id="Count">
                                                <option value="50">50</option>
                                                <option value="100">150</option>
                                                <option value="250">250</option>
                                            </select>
                                            <i></i>
                                        </label>
                                    </div>
                                </div>
                                <input type="hidden" name="Dimensions" id="hdfDimensions" />
                                <input type="hidden" name="Metrics" id="hdfMetrics" />
                                <footer>
                                    <button type="submit" class="btn btn-primary" id="confirmbutton">
                                        Göster
                                    </button>
                                </footer>
                            </form>

                        </div>
                    </div>

                </div>
            </article>
            <div class="col-sm-1 col-md-1 col-lg-1"></div>
        </div>
    </section>

    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <article class="col-xs-10 col-sm-10 col-md-10 col-lg-10">

            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-editbutton="false">

                <header>
                    <span class="widget-icon"><i class="fa fa-table"></i></span>
                    <h2>Sonuç Listesi</h2>
                </header>

                <div>

                    <div class="jarviswidget-editbox">
                    </div>

                    <div class="widget-body no-padding">

                        <table id="datatable_tabletools" class="table table-striped table-bordered table-hover" width="100%">
                            <thead>
                                <tr>
                                    @if (@ViewBag.Row != null)
                                    {
                                        var Data = ViewBag.Row as System.Data.DataTable;

                                        for (int i = 0; i < Data.Columns.Count; i++)
                                        {
                                        <th>@Data.Columns[i].ColumnName</th>
                                        }
                                    }



                                </tr>
                            </thead>
                            <tbody id="tinner">
                                @if (@ViewBag.Row != null)
                                {
                                    var Data = ViewBag.Row as System.Data.DataTable;

                                    for (int i = 0; i < Data.Rows.Count; i++)
                                    {
                                    <tr data-order="">
                                        @for (int k = 0; k < Data.Columns.Count; k++)
                                        {
                                            <td>@Data.Rows[i][k]</td>
                                        }
                                    </tr>
                                    }
                                }


                            </tbody>
                        </table>

                    </div>
                    <!-- end widget content -->

                </div>
                <!-- end widget div -->

            </div>

        </article>

    </div>


</section>

<script type="text/javascript">

    $("[name = 'Dimension']").click(function () {
        var dimensionCheckboxes = $("[name = 'Dimension']");
        var values = "";
        for (var i = 0; i < dimensionCheckboxes.length; i++) {
            if (dimensionCheckboxes[i].checked) {
                values += dimensionCheckboxes[i].value + ",";
            }
        }
        $("#hdfDimensions").val(values);
    });

    $("[name = 'Metric']").click(function () {

        var MetricCheckboxes = $("[name = 'Metric']");
        var values = "";
        for (var i = 0; i < MetricCheckboxes.length; i++) {
            if (MetricCheckboxes[i].checked) {
                values += MetricCheckboxes[i].value + ",";
            }
        }
        $("#hdfMetrics").val(values);
    });

    function CheckDimension() {
        var DimensionCheckboxes = $("[name = 'Dimension']");
        var result = 0;
        for (var i = 0; i < DimensionCheckboxes.length; i++) {
            if (DimensionCheckboxes[i].checked) {

                result += 1;
            }
        }

        if (result > 0) {
            return true;
        }
        else {
            $("#Dimensionerror").css({ "display": "block" });
            return false
        }
    }

    function CheckMetric() {
        var MetricCheckboxes = $("[name = 'Metric']");
        var result = 0;
        for (var i = 0; i < MetricCheckboxes.length; i++) {
            if (MetricCheckboxes[i].checked) {

                result += 1;
            }
        }
        if (result > 0) {
            return true;
        }
        else {
            $("#Metricerror").css({ "display": "block" });
            return false
        }
    }
    $('#confirmbutton').click(function () {
        $("#Metricerror").css({ "display": "none" });
        $("#Dimensionerror").css({ "display": "none" });
        if (CheckGallery() && CheckLanguage()) {
            $("[name = 'Metric']").attr({ "disabled": "disabled" });
            $("[name = 'block']").attr({ "disabled": "disabled" });

            $('#datatable_tabletools').dataTable({

                // Tabletools options:
                //   https://datatables.net/extensions/tabletools/button_options

                "autoWidth": true,
                "preDrawCallback": function () {
                    // Initialize the responsive datatables helper once.
                    if (!responsiveHelper_datatable_tabletools) {
                        responsiveHelper_datatable_tabletools = new ResponsiveDatatablesHelper($('#datatable_tabletools'), breakpointDefinition);
                    }
                },
                "rowCallback": function (nRow) {
                    responsiveHelper_datatable_tabletools.createExpandIcon(nRow);
                },
                "drawCallback": function (oSettings) {
                    responsiveHelper_datatable_tabletools.respond();
                }
      , "language": {
          "url": "//cdn.datatables.net/plug-ins/3cfcc339e89/i18n/Turkish.json"
      }
            });
        }

    });
    $(document).ready(function () {
        $("#google-form").validate({
            rules: {

                Dimension: {
                    required: true,
                    minlength: 1
                },
                Metric: {
                    required: true,
                    minlength: 1
                }

            },
            messages: {
                Dimension: {
                    required: "Dimension Seçiniz!"
                },
                Metric: {
                    required: "Metric Seçiniz!"
                }
            },
            errorPlacement: function (error, element) {
                if ($(element).attr('name') != "Dimension" && $(element).attr('name') != "Metric") {
                    element.addClass('errorField');
                    element.after(error);
                }
                else if ($(element).attr('name') == "Dimension") {
                    $("#Dimensionselection").append(error);
                }
                else if ($(element).attr('name') == "Metric") {
                    $(element).parent().removeClass("state-error");
                    $(element).parent().parent().addClass("state-error");
                    $("#MetricSelection").append(error);
                }
            }
        });

        var responsiveHelper_dt_basic = undefined;
        var responsiveHelper_datatable_fixed_column = undefined;
        var responsiveHelper_datatable_col_reorder = undefined;
        var responsiveHelper_datatable_tabletools = undefined;

        var breakpointDefinition = {
            tablet: 1024,
            phone: 480
        };



  

    });
</script>
