﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Content/Admin/js/libs/jquery-2.0.2.min.js"></script>

    <script src="~/Content/Admin/js/libs/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Content/Editable/jquery.mockjax.js"></script>
    <script src="~/Content/Editable/bootstrap-min.js"></script>
    <script src="~/Content/Editable/bootstrap-editable.js"></script>
    <link href="~/Content/Editable/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/Content/Editable/bootstrap-combined.min.css" rel="stylesheet" />
</head>
<body>
    <p>
        X-editable: create editable column in table.<br>
        As pk is unique in each row, you should put it in data-pk attribute.  
    </p>
    <div style="margin: 150px">
        <table id="users" class="table table-bordered table-condensed">
            <tr>
                <th>#</th>
                <th>name</th>
                <th>age</th>
            </tr>
            <tr>
                <td>1</td>
                <td><a href="#" data-pk="1">Mike</a></td>
                <td>21</td>
            </tr>

            <tr>
                <td>2</td>
                <td><a href="#" data-pk="2">John</a></td>
                <td>28</td>
            </tr>

            <tr>
                <td>3</td>
                <td><a href="#" data-pk="3">Mary</a></td>
                <td>24</td>
            </tr>

        </table>
    </div>
    <script>
        $(document).ready(function () {

            $('#users a').editable({
                type: 'text',
                pk: $(this).data("pk"),
                name: 'username',
                url: '/Admin/Dictionary/UpdateDictionary',
                title: 'Enter username'
            });

            //ajax emulation
            //$.mockjax({
            //    url: '/Admin/Dictionary/UpdateDictionary',
            //    responseTime: 200
            //});

        });


    </script>
</body>
</html>
