﻿@{
    ViewBag.Title = "ContentImages";
    ViewBag.Controller = "İçerik Fotoğraf Listesi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Admin/css/jquery.mCustomScrollbar.css" rel="stylesheet" />
@model List<Lissiya_Otel.Models.ContentImageLanguages>
<div id="content">
    <div class="row hidden-mobile">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-align-right">
            <div class="page-title">
                <a href="/Admin/Content/CreateContentImage/@ViewContext.RouteData.Values["id"]" class="btn btn-default">İçeriğe Fotoğraf Yükle</a>
            </div>
        </div>
    </div>
    <div class="row">
        <section id="widget-grid" class="">
            <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                <div class="widget-body no-padding">
                    <div class="smart-form">
                        <fieldset>
                            <section>
                                <label class="select">
                                    <select name="ContentLanguageId" id="ContentLanguageId">
                                        <option value="0">Tümü</option>
                                        @foreach (var item in ViewBag.ContentLanguageList as List<Lissiya_Otel.Models.ContentLanguages>)
                                        {
                                            <option value="@item.ContentLanguageId">@item.Title</option>
                                        }
                                    </select>
                                    <i></i>
                                </label>
                            </section>
                        </fieldset>
                    </div>
                </div>
            </div>
        </section>
        <div class="superbox col-sm-12">
            <div id="divlist">
                @foreach (var item in Model)
                {
                    
                    <div class="superbox-list" data-lang="@item.ContentLanguageId" data-order="@item.ContentImageLanguageId">
                        <img src="/media/images/@item.ImageName" data-img="/media/images/@item.ImageName" data-id="@item.ContentImageLanguageId" data-delete="/Admin/Content/DeleteContentImage/@item.ContentImageLanguageId" data-update="/Admin/Content/UpdateContentImage/@item.ContentImageLanguageId" alt="@item.Description" title="@item.Title" class="superbox-img" style="cursor:move;" />
                        <a style="cursor:pointer;" data-img="/media/images/@item.ImageName" alt="@item.Description" title="@item.Title"  data-order="@item.ContentImageLanguageId"><i class="fa fa-lg fa-fw fa-caret-square-o-down"></i>Detay</a>
                    </div>
                  
                
                }
            </div>
            <div class="superbox-show" style="height: 300px; display: none"></div>

        </div>

    </div>
    <!-- END MAIN CONTENT -->
</div>
<script>
    $(document).ready(function () {

        pageSetUp();

        $('.superbox').SuperBox();

    });
    $(function () {
        $('#ContentLanguageId').on('change', function () {

            var Contentlanguageid = $(this).val();
            if (Contentlanguageid > 0) {

                var divs = $(".superbox >  #mCSB_1 > #mCSB_1_container> #divlist > .superbox-list");

                for (var i = 0; i < divs.length; i++) {
                    var langid = divs[i].dataset.lang;
                    if (langid == Contentlanguageid) {
                        $(divs[i]).css({ "display": "inline-block" });
                    }
                    else {
                        $(divs[i]).css({ "display": "none" });
                    }
                }
            }
            else {
                var divs = $(".superbox >  #mCSB_1 > #mCSB_1_container> #divlist > .superbox-list").css({ "display": "inline-block" });;
            }
        });
    })

</script>

<script src="~/Content/Admin/js/jquery.mCustomScrollbar.min.js"></script>
<script>
    (function ($) {
        $(window).load(function () {

            $(".superbox").mCustomScrollbar({
                setHeight: 450,
                theme: "dark-2",
                scrollButtons: { enable: true }
            });


        });
    })(jQuery);

    $(document).ready(function () {
        $("#divlist").sortable({
            opacity: 0.7,
            revert: true,
            scroll: true,
            handle: $(".superbox-list").add(".superbox-list img"),
            stop: function (event, ui) {
                var serialized = $("#divlist").sortable('toArray', { attribute: "data-order" });
                var data = { Ids: serialized };
                var json = JSON.stringify(data);

                $.ajax({
                    url: "/Admin/Content/Imagesort",
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    type: "POST",
                    data: json,
                    success: function (response) {
                    }
                });
            }

        });

        $("#sortable").disableSelection();


    });


</script>

