﻿@{
    ViewBag.Title = "CreateContentVideo";
    ViewBag.Controller = "İçerik Video Ekle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                İçerik Video Ekle
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>İçerik Video Ekle</h2>
                    </header>

                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <div class="widget-body">
                                        <form id="video-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Content/CreateContentVideo/@ViewContext.RouteData.Values["id"]" method="post" novalidate="novalidate">

                                            <fieldset>
                                                <section>
                                                    <label class="label">İçerik Dili Seçiniz</label>
                                                    <label class="select">
                                                        <select name="ContentLanguageId">
                                                            <option value="0" selected="" disabled="">İçerik Dili Seçiniz</option>
                                                            @foreach (var item in ViewBag.ContentLanguageList as List<Lissiya_Otel.Models.ContentLanguages>)
                                                            {
                                                                <option value="@item.ContentLanguageId">@item.Title</option>
                                                            }
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">Video Sitesi Seçiniz</label>
                                                    <label class="select">
                                                        <select name="VideoType" id="VideoType">
                                                            <option value="0" selected="" disabled="">Video Sitesi Seçiniz</option>
                                                            <option value="1">Yotube</option>
                                                            <option value="2">Vimeo</option>
                                                        </select>
                                                        <i></i>
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Link (Adres çubuğundaki linki kopyalayıp yapıştırınız.)
                                                    </label>
                                                    <label class="input"><i class="icon-prepend fa fa-anchor"></i>
                                                        <input type="text" name="VideoIdentity" class="input-sm" required="required">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Başlık
                                                    </label>
                                                    <label class="input"><i class="icon-prepend fa fa-book"></i>
                                                        <input type="text" name="Title" class="input-sm">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">
                                                        Açıklama
                                                    </label>
                                                    <label class="textarea textarea-resizable"><i class="icon-prepend fa fa-quote-left"></i>
                                                        <textarea rows="3" name="Description" class="custom-scroll" style="margin-top: 0px; margin-bottom: 0px; height: 77px;"></textarea>
                                                    </label>
                                                </section>
                                            </fieldset>
                                            <footer>
                                                <button type="submit" class="btn btn-primary">
                                                    Kaydet
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    Vazgeç
                                                </button>
                                            </footer>
                                        </form>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<script>
    $(document).ready(function () {
        pageSetUp();
        var $checkoutForm = $('#video-form').validate({
            // Rules for form validation
            rules: {
                ContentLanguageId: {
                    required: true
                },
                VideoIdentity: {
                    required: true
                },
                VideoType: {
                    required: true
                }
            },
            messages: {
                ContentLanguageId: {
                    required: 'İçerik Dili Seçiniz.'
                },
                VideoIdentity: {
                    required: 'Link kısmını boş geçmeyiniz.'
                },
                VideoType: {
                    required: 'Video sitesi seçiniz.'
                }
            }
        })
    });
</script>

