﻿@{
    ViewBag.Title = "İçerik Döküman Güncelle";
    ViewBag.Controller = "İçerik Döküman Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Lissiya_Otel.Models.ContentDocumentLanguages

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                İçerik Döküman Güncelle
            </h1>
        </div>
    </div>
    
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>İçerik Döküman Güncelle</h2>
                    </header>
                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <div class="widget-body">
                                        <form id="bloglanguage-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Content/UpdateContentDocument/@Model.ContentDocumentLanguageId" method="post" novalidate="novalidate">
                                            <fieldset>
                                                <section>
                                                    <label class="label">
                                                        Başlık
                                                    </label>
                                                    <label class="input">
                                                        <input type="text" name="Title" class="input-sm" value="@Model.Title">
                                                    </label>
                                                </section>
                                                <section>
                                                    <label class="label">Döküman</label>
                                                    <div class="input input-file">
                                                        <span class="button">
                                                            <input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Dosya Seç</span><input type="text" placeholder="Döküman Seçiniz" readonly="">
                                                    </div>
                                                </section>
                                            </fieldset>
                                            <footer>
                                                <button type="submit" class="btn btn-primary">
                                                    Kaydet
                                                </button>
                                                <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                    Vazgeç
                                                </button>
                                            </footer>
                                        </form>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>