﻿@using Lissiya_Otel.Functions;
@using Lissiya_Otel.Models;
@using Lissiya_Otel.Areas.Admin.Helpers;
<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <title>@GeneralFunctions.GetSettingValue("PanelTitle")</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Basic Styles -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Admin/css/font-awesome.min.css">

    <!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Admin/css/smartadmin-production.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/Content/Admin/css/smartadmin-skins.min.css">

    <!-- SmartAdmin RTL Support is under construction
			 This RTL CSS will be released in version 1.5
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.min.css"> -->

    <!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

    <!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <!-- BOOTSTRAP JS -->
    <script src="~/Content/Admin/js/bootstrap/bootstrap.min.js"></script>


    <!-- FAVICONS -->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

    <!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
    <link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/splash/touch-icon-iphone-retina.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/splash/touch-icon-ipad-retina.png">

    <!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <script src="~/Content/Admin/js/plugin/superbox/superbox.min.js"></script>
    <!-- Startup image for web apps -->
    <link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
    <link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="screen and (max-device-width: 320px)">
</head>
<body class="smart-style-1">
    <!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->

    <!-- HEADER -->
    <header id="header">
        <div id="logo-group">

            <!-- PLACE YOUR LOGO HERE -->
            <span id="logo" style="margin-top: 0">
                <img src="/media/images/@GeneralFunctions.GetSettingValue("PanelLogo")" alt="" height="30">
            </span>
            <!-- END LOGO PLACEHOLDER -->

            <!-- Note: The activity badge color changes when clicked and resets the number to 0
				Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->

            <!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->

            <!-- END AJAX-DROPDOWN -->
        </div>
        	<div class="project-context hidden-xs">

				<span class="label"></span>
				<span class="project-selector dropdown-toggle" data-toggle="dropdown">Site Bilgileri <i class="fa fa-angle-down"></i></span>

				<!-- Suggestion: populate this list with fetch and push technique -->
				<ul class="dropdown-menu">
					<li>
						<a href="/Admin/Setting/Index">Site Ayarları</a>
					</li>
					<li>
						<a href="/Admin/Home/GoogleAnalytics">Google Analytics</a>
					</li>
					
					
				</ul>
				<!-- end dropdown-menu-->

			</div>
        <!-- projects dropdown -->
        <!-- end projects dropdown -->

        <!-- pulled right: nav area -->
        <div class="pull-right">

            <!-- collapse menu button -->
            <div id="hide-menu" class="btn-header pull-right">
                <span><a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a></span>
            </div>

            <div id="logout" class="btn-header transparent pull-right">
                <span><a href="/Admin/Home/Logout" title="Çıkış Yap" data-action="userLogout" data-logout-msg="Çıkmak İstediğinize Emin misiniz?"><i class="fa fa-sign-out"></i></a></span>
            </div>

            <div id="search-mobile" class="btn-header transparent pull-right">
                <span><a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a></span>
            </div>

            <div id="fullscreen" class="btn-header transparent pull-right">
                <span><a href="javascript:void(0);" data-action="launchFullscreen" title="Full Screen"><i class="fa fa-arrows-alt"></i></a></span>
            </div>

        </div>
        <!-- end pulled right: nav area -->

    </header>
    <!-- END HEADER -->

    <!-- Left panel : Navigation area -->
    <!-- Note: This width of the aside area can be adjusted through LESS variables -->
    <aside id="left-panel">

        <!-- User info -->
        <div class="login-info">
            <span>
                <!-- User image size is adjusted inside CSS, it should stay as it -->


                
                    <a href="/Admin/LoginAccounts/UpdateLoginAccount/1" id="show-shortcut">
                        <span title="Admin admin">Merhaba Admin admin
                        </span>
                    </a>  



            </span>
        </div>
        <!-- end user info -->

        <!-- NAVIGATION : This navigation is also responsive

			To make this navigation dynamic please make sure to link the node
			(the reference to the nav > ul) after page load. Or the navigation
			will not initialize.
			-->
        <nav>
            <!-- NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditional href="" links. See documentation for details.
				-->

            <ul id="leftmenu" style="">
                <li class="active">
                    <a href="/Admin/Home/Dashboard" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i><span class="menu-item-parent">Ana Sayfa</span></a>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-lg fa-fw fa-list"></i><span class="menu-item-parent">Menü</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                    <ul>
                        <li class="">
                            <a href="/Admin/Menu/MenuNames">Menü Listesi</a>
                        </li>
                        <li class="">
                            <a href="/Admin/Menu/CreateMenuNames">Menü Ekle</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-lg fa-fw fa-map-marker"></i><span class="menu-item-parent">Adres</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                    <ul>
                        <li class="">
                            <a href="/Admin/Address/AddressNames">Adres Listesi</a>
                        </li>
                        <li class="">
                            <a href="/Admin/Address/CreateAddressNames">Adres Ekle</a>
                        </li>
                    </ul>
                </li>
                @*<li class="">
                    <a href="#"><i class="fa fa-lg fa-fw fa-file-text"></i><span class="menu-item-parent">Blog</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                    <ul>
                        <li class="">
                            <a href="/Admin/Blog/BlogNames">Blog Listesi</a>
                        </li>
                        <li class="">
                            <a href="/Admin/Blog/CreateBlogNames">Blog Ekle</a>
                        </li>
                    </ul>
                </li>*@
                <li class="">
                    <a href="#"><i class="fa fa-lg fa-fw fa-edit"></i><span class="menu-item-parent">İçerik</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                    <ul>
                        <li class="">
                            <a href="/Admin/Content/ContentNames">İçerik Listesi</a>
                        </li>
                        <li class="">
                            <a href="/Admin/Content/CreateContentNames">İçerik Ekle</a>
                        </li>
                    </ul>
                </li>
                <li class="">
                    <a href="#"><i class="fa fa-lg fa-fw fa-th"></i><span class="menu-item-parent">Medya Yönetimi</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                    <ul>
                        <li class="">
                            <a href="/Admin/Gallery/GalleryNames">Medya Listesi</a>
                        </li>
                        <li class="">
                            <a href="/Admin/Gallery/CreateGalleryNames">Medya Ekle</a>
                        </li>
                    </ul>
                </li>
                @*<li class="">
                    <a href="#"><i class="fa fa-lg fa-fw fa-star"></i><span class="menu-item-parent">Rahatlama</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                    <ul>
                        <li class="">
                            <a href="/Admin/Reference/ReferenceNames">Rahatlama</a>
                        </li>
                        <li class="">
                            <a href="/Admin/Reference/CreateReferenceNames">Yeni Ekle</a>
                        </li>
                        

                    </ul>
                </li>*@
                 @*<li class="">
                    <a href="#"><i class="fa fa-lg fa-fw fa-briefcase"></i><span class="menu-item-parent">Restaurant &amp; Bar</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                    <ul>
                        <li class="">
                            <a href="/Admin/Project/ProjectNames">Restaurant &amp; Bar Listesi</a>
                        </li>
                        <li class="">
                            <a href="/Admin/Project/CreateProjectNames">Yeni Ekle</a>
                        </li>
                        
                    </ul>
                </li>*@
                   
                <li class="">
                    <a href="#"><i class="fa fa-lg fa-fw fa-bullhorn"></i><span class="menu-item-parent">Haber</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                    <ul>
                        <li class="">
                            <a href="/Admin/News/NewsNames">Haber Listesi</a>
                        </li>
                        <li class="">
                            <a href="/Admin/News/CreateNewsNames">Haber Ekle</a>
                        </li>
                    </ul>
                </li>
                
                
                <li class="">
                    <a href="#"><i class="fa fa-lg fa-fw fa-caret-square-o-right"></i><span class="menu-item-parent">Slider Yönetimi</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                    <ul>
                        <li class="">
                            <a href="/Admin/Slider/SliderNames">Slider Listesi</a>
                        </li>
                        <li class="">
                            <a href="/Admin/Slider/CreateSliderNames">Slider Ekle</a>
                        </li>
                    </ul>

                </li>
                @*<li class="">
                    <a href="#"><i class="fa fa-lg fa-fw fa-laptop"></i><span class="menu-item-parent">Konaklama</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                    <ul>
                        <li class="">
                            <a href="/Admin/Services/ServiceList">Konaklama Listesi</a>
                        </li>
                        <li class="">
                            <a href="/Admin/Services/CreateServiceNames">Yeni Ekle</a>
                        </li>
                    </ul>

                </li>*@
                <li class="">
                    <a href="#"><i class="fa fa-lg fa-fw fa-comments-o"></i><span class="menu-item-parent">Müşteri Yorumları</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                    <ul>
                        <li class="">
                            <a href="/Admin/ClientTestimonials/ClientList">Müşteri Yorumları</a>
                        </li>
                        <li class="">
                            <a href="/Admin/ClientTestimonials/CreateClient">Müşteri Yorumu Ekle</a>
                        </li>
                    </ul>

                </li>
                    <li class="">
                        <a href="#"><i class="fa fa-lg fa-fw fa-user"></i><span class="menu-item-parent">Kullanıcılar</span><b class="collapse-sign"><em class="fa fa-plus-square-o"></em></b></a>
                        <ul>
                            <li class="">
                                <a href="/Admin/LoginAccounts/LoginAccounts">Kullanıcı Listesi</a>
                            </li>
                            <li class="">
                                <a href="/Admin/LoginAccounts/CreateLoginAccount">Kullanıcı Ekle</a>
                            </li>
                        </ul>

                    </li>
                 <li class="">
                    <a href="/Admin/User/Users"><i class="fa fa-lg fa-fw fa-user"></i><span class="menu-item-parent">Site Kullanıcıları</span></a>
                </li>
                
                
            </ul>
        </nav>
        <script>
            $(document).ready(function () {
                var count = $("#leftmenu").children();
                for (var i = 0; i < count.length; i++) {
                    if (count[i].className == "active open") {
                        $(count[i]).find('ul').css({ "display": "block" });
                    }
                }
            });
        </script>
        <span class="minifyme" data-action="minifyMenu">
            <i class="fa fa-arrow-circle-left hit"></i>
        </span>

    </aside>
    <!-- END NAVIGATION -->

    <!-- MAIN PANEL -->
    <div id="main" role="main">
        <div id="ribbon">

            <span class="ribbon-button-alignment">
                <span id="refresh" class="btn btn-ribbon" data-action="resetWidgets" data-title="refresh" rel="tooltip" data-placement="bottom" data-original-title="<i class='text-warning fa fa-warning'></i> Warning! This will reset all your widget settings." data-html="true">
                    <i class="fa fa-refresh"></i>
                </span>
            </span>

            <!-- breadcrumb -->
            <ol class="breadcrumb">
                <li><a href="/Admin/Home/Dashboard">Ana Sayfa</a></li>
                <li>@ViewBag.Controller</li>
            </ol>


        </div>
        @RenderBody()
        <!-- RIBBON -->


        <!-- END MAIN PANEL -->


    </div>
    <!-- PAGE FOOTER -->
    <div class="page-footer">
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <span class="txt-color-white">@GeneralFunctions.GetSettingValue("PanelFooterText")</span>
            </div>
        </div>
    </div>
    <!-- END PAGE FOOTER -->

    <!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
		Note: These tiles are completely responsive,
		you can add as many as you like
		-->


    <!-- END SHORTCUT AREA -->

    <!--================================================== -->

    <!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
    <script data-pace-options='{ "restartOnRequestAfter": true }' src="~/Content/Admin/js/plugin/pace/pace.min.js"></script>

    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->

    <script>
        if (!window.jQuery) {
            document.write('<script src="js/libs/jquery-2.0.2.min.js"><\/script>');
        }
    </script>

    <script>
        if (!window.jQuery.ui) {
            document.write('<script src="js/libs/jquery-ui-1.10.3.min.js"><\/script>');
        }
    </script>

    <!-- IMPORTANT: APP CONFIG -->
    <script src="~/Content/Admin/js/app.config.js"></script>

    <!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
    <script src="~/Content/Admin/js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script>



    <!-- CUSTOM NOTIFICATION -->
    <script src="~/Content/Admin/js/notification/SmartNotification.min.js"></script>

    <!-- JARVIS WIDGETS -->
    <script src="~/Content/Admin/js/smartwidgets/jarvis.widget.min.js"></script>

    <!-- EASY PIE CHARTS -->
    <script src="~/Content/Admin/js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js"></script>

    <!-- SPARKLINES -->
    <script src="~/Content/Admin/js/plugin/sparkline/jquery.sparkline.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <script src="~/Content/Admin/js/plugin/jquery-validate/jquery.validate.min.js"></script>

    <!-- JQUERY MASKED INPUT -->
    <script src="~/Content/Admin/js/plugin/masked-input/jquery.maskedinput.min.js"></script>

    <!-- JQUERY SELECT2 INPUT -->
    <script src="~/Content/Admin/js/plugin/select2/select2.min.js"></script>

    <!-- JQUERY UI + Bootstrap Slider -->
    <script src="~/Content/Admin/js/plugin/bootstrap-slider/bootstrap-slider.min.js"></script>

    <!-- browser msie issue fix -->
    <script src="~/Content/Admin/js/plugin/msie-fix/jquery.mb.browser.min.js"></script>

    <!-- FastClick: For mobile devices -->
    <script src="~/Content/Admin/js/plugin/fastclick/fastclick.min.js"></script>

    <!--[if IE 8]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->

    <!-- MAIN APP JS FILE -->
    <script src="~/Content/Admin/js/app.min.js"></script>

    <!-- ENHANCEMENT PLUGINS : NOT A REQUIREMENT -->


    <!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
    <script src="~/Content/Admin/js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Content/Admin/js/plugin/vectormap/jquery-jvectormap-world-mill-en.js"></script>

    <!-- Full Calendar -->
    <script src="~/Content/Admin/js/plugin/fullcalendar/jquery.fullcalendar.min.js"></script>


    @if (TempData["Error"] != null)
    {
        
        <script>
            $(document).ready(function () {
                var stringdeger = '@TempData["Error"].ToString()';
                $.bigBox({

                    content: stringdeger,
                    color: "#C46A69",
                    timeout: 6000,
                    icon: "fa fa-warning shake animated"
                });
            });
        </script>
        TempData["Error"] = null;
    }
    @if (TempData["Success"] != null)
    {
        <script>
            $(document).ready(function () {
                var stringdeger = '@TempData["Success"].ToString()';
                $.bigBox({

                    content: stringdeger,
                    color: "#739E73",
                    timeout: 6000,
                    icon: "fa fa-check"
                });
            });
        </script>
        TempData["Success"] = null;
    }

    @if (TempData["Info"] != null)
    {
        <script>
            $(document).ready(function () {
                var stringdeger = '@TempData["Info"].ToString()';
                $.bigBox({

                    content: stringdeger,
                    color: "#3276B1",
                    timeout: 6000,
                    icon: "fa fa-bell swing animated",
                });
            });
        </script>
        TempData["Info"] = null;
    }
    <script>


        $(document).ready(function () {


            // DO NOT REMOVE : GLOBAL FUNCTIONS!
            pageSetUp();

            /*
             * PAGE RELATED SCRIPTS
             */

            $(".js-status-update a").click(function () {
                var selText = $(this).text();
                var $this = $(this);
                $this.parents('.btn-group').find('.dropdown-toggle').html(selText + ' <span class="caret"></span>');
                $this.parents('.dropdown-menu').find('li').removeClass('active');
                $this.parent().addClass('active');
            });



            $('.todo .checkbox > input[type="checkbox"]').click(function () {
                var $this = $(this).parent().parent().parent();

                if ($(this).prop('checked')) {
                    $this.addClass("complete");

                    // remove this if you want to undo a check list once checked
                    //$(this).attr("disabled", true);
                    $(this).parent().hide();

                    // once clicked - add class, copy to memory then remove and add to sortable3
                    $this.slideUp(500, function () {
                        $this.clone().prependTo("#sortable3").effect("highlight", {}, 800);
                        $this.remove();
                        countTasks();
                    });
                } else {
                    // insert undo code here...
                }

            })

            $('input[type="checkbox"]#start_interval').click(function () {
                if ($(this).prop('checked')) {
                    $on = true;
                    updateInterval = 1500;
                    update();
                } else {
                    clearInterval(updateInterval);
                    $on = false;
                }
            });


            $('.fc-header-right, .fc-header-center').hide();


            jQuery.expr[':'].Contains = function (a, i, m) {
                return (a.textContent || a.innerText || "").toUpperCase().indexOf(m[3].toUpperCase()) >= 0;
            };

        });
      
    </script>
    <style>
article{

    margin-bottom:60px;
}

    </style>
</body>

</html>
