﻿@{
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);

    foreach (var item in (ViewBag.rahatlamaSeo as List<Lissiya_Otel.Models.ReferenceLanguages>).Where(x => x.LanguageId == languageId).ToList())
    {
        ViewBag.Title = @item.SeoTitle;
    }

}
@using Lissiya_Otel.Models

@section metasection
{
    @foreach (var item in (ViewBag.rahatlamaSeo as List<Lissiya_Otel.Models.ReferenceLanguages>).Where(x => x.LanguageId == languageId).ToList())
    {
        <meta name="description" content="@item.SeoDescription" />
            <meta name="keywords" content="@item.SeoKeywords" />
            <meta property="og:description" content="@item.SeoDescription" />
            <meta property="og:title" content="@item.SeoTitle" />
    }

}

<div class="container">
    <div class="md-body md-room-detail clearfix" style="padding-top:30px;">
        <div class="grid_9 md-main">
            <div class="row">
                <!--  Slide Preview Room --><!-- InstanceBeginEditable name="Galeri" -->
                <div class="row slide-preview-room">
                    <div id="sliderBig">
                        <ul>
                            @foreach (var item in ViewBag.resimler as List<Lissiya_Otel.Models.ReferenceImageLanguages>)
                            {
                                <li class="slideshow-photo"><img src="/media/images/@item.ImageName" alt=""></li>
                            }

                            @*<li class="slideshow-photo"><img src="/Content/Site/img/rahatlama/havuz-2.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="/Content/Site/img/rahatlama/havuz-3.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="/Content/Site/img/rahatlama/havuz-4.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="/Content/Site/img/rahatlama/havuz-5.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="/Content/Site/img/rahatlama/havuz-6.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="/Content/Site/img/rahatlama/havuz-7.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="/Content/Site/img/rahatlama/havuz-8.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="/Content/Site/img/rahatlama/havuz-9.jpg" alt=""></li>*@
                        </ul>
                    </div>
                    <div id="sliderThumb">
                        <ul>
                            @{
                                int i = 0;
                                foreach (var item in ViewBag.resimler as List<Lissiya_Otel.Models.ReferenceImageLanguages>)
                                {
                                    <li slideindex="@i"><a href="#"><img src="/media/images/thumbnails40/@item.ImageName" alt=""></a></li>
                                    {
                                        i = i + 1;
                                    }
                                }
                            }

                            @*<li slideindex="1"><a href="#"><img src="/Content/Site/img/rahatlama/havuz-2-t.jpg" alt=""></a></li>
                                <li slideindex="2"><a href="#"><img src="/Content/Site/img/rahatlama/havuz-3-t.jpg" alt=""></a></li>
                                <li slideindex="3"><a href="#"><img src="/Content/Site/img/rahatlama/havuz-4-t.jpg" alt=""></a></li>
                                <li slideindex="4"><a href="#"><img src="/Content/Site/img/rahatlama/havuz-5-t.jpg" alt=""></a></li>
                                <li slideindex="5"><a href="#"><img src="/Content/Site/img/rahatlama/havuz-6-t.jpg" alt=""></a></li>
                                <li slideindex="6"><a href="#"><img src="/Content/Site/img/rahatlama/havuz-7-t.jpg" alt=""></a></li>
                                <li slideindex="7"><a href="#"><img src="/Content/Site/img/rahatlama/havuz-8-t.jpg" alt=""></a></li>
                                <li slideindex="8"><a href="#"><img src="/Content/Site/img/rahatlama/havuz-9-t.jpg" alt=""></a></li>*@
                        </ul>
                    </div>
                </div>
                <!-- InstanceEndEditable --><!-- InstanceBeginEditable name="icerik" -->
                <div class="preview-content">

                    @if (languageId != 1)
                    {
                        if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 4)
                        {
                            <p>Our address pool that will be indispensable during the day, you all kinds of activities during the day, to leave the place in the evening pleasant and cheerful conversation, it will be your most special places.</p>
                        }
                        else if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 5)
                        {
                            <p>Classic massage programs with different presentations and personal synthesis that brings together experts Liissi Hotel surrounds you in tune with your body and you will experience the feeling of dissolving.</p>
                        }
                        else if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 6)
                        {
                            <p>Color harmony within you in your private Jacuzzi. Mind, body and soul can be found in one cleaning.</p>
                        }
                    }
                    else
                    {
                        if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 4)
                        {
                            <p>Gün boyunca vazgeçilmez adresiniz olacak olan havuzumuz, gündüz hertürlü aktivitenize, akşamda yerini hoş ve neşeli sohbetlere bırakacağı, en özel mekanlarınızdan olacaktır.</p>
                            <p>&nbsp;</p>
                        }
                        else if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 5)
                        {
                            <p>Klasik masaj programlarının kişisel sentez ile farklı sunumlarını ve uzman kadrosunu bir araya getiren Liissiya Hotel’de sizi saran melodiler ile bedeninizdeki çözülme hissini yaşayacaksınız.</p>
                        }
                        else if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 6)
                        {
                            <p>Renk ahengi içinde size özel jakuzinizde  . Zihin, beden ve ruh temizliğine bir arada ulaşabilirsiniz.</p>
                        }
                    }
                </div>
                <!-- InstanceEndEditable -->
            </div>
        </div><!-- /.md-main -->
        <aside class="grid_3 md-sidebar md-sidebar-pt">
            <!-- InstanceBeginEditable name="ozellikler" -->
            <!-- InstanceEndEditable -->
        </aside>
        <figure> <img class="logo" alt="" src="/Content/Site/img/news/booking_lissiyahotel.png"> </figure>
        <p>&nbsp;</p>
        <figure> <a href="http://www.tripadvisor.com/Hotel_Review-g298031-d4065040-Reviews-Lissiya_Hotel-Fethiye_Mugla_Province_Turkish_Aegean_Coast.html" target="_blank"><img class="logo" alt="" src="/Content/Site/images/tripadvisor-main.png"></a> </figure><!-- /.md-sidebar -->
    </div><!-- /.md-testimonail -->
</div><!-- /.md-wrapper  -->