﻿@{
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
    ViewBag.Title = (languageId != 1 ? @GeneralFunctions.GetSettingValue("SeoTitle") : @GeneralFunctions.GetSettingValue("SeoTitle"));
}
@using Lissiya_Otel.Functions
@model List<Lissiya_Otel.Models.ReferenceLanguages>

@section metasection
    {
   
        <meta name="description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
        <meta name="keywords" content="@GeneralFunctions.GetSettingValue("SeoKeywords")" />
        <meta property="og:description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
        <meta property="og:title" content="@GeneralFunctions.GetSettingValue("SeoTitle")" />
   
}

<section class="md-slide-wrapper-banner md-slide-home md-slide-banner">
    <!-- Slide Image  id="md-slide-fade"   -->
    <ul id="" class="md-slide-banner clearfix">
        <li> <img src="/Content/Site/img/banner/rahatlama-main.jpg" alt=""> </li>
    </ul>
</section>

<div class="md-body-wrapper">
    <section class="container">
        <div class="md-body md-accomodation" style="padding-top:30px;">
            <section class="row md-accomodation-available clearfix">
                <div class="grid_3 align-center">
                    <article class="media">

                        <figure> <img class="logo" alt="" src="/Content/Site/images/lissiya-logo-sl.png"> </figure>
                        <!-- InstanceBeginEditable name="Baslik" -->
                        <div class="decription-override">
                            <h3 class="media-header h4">@(languageId !=1 ? "TASTE" : "RAHATLAMA")</h3>
                        </div>
                        <!-- InstanceEndEditable -->
                        </header>
                </div>
                <!-- InstanceBeginEditable name="content" -->
                <div class="grid_9">
                    <section class="md-booking">
                        @if (languageId!=1)
                        {
                            <p>Lissiya Lissiya in life who care about you in every sense of the houses are designed to be independent from each other, see each other in private to you by all means ...</p>
                            <p>&nbsp;</p>
                            <p>Embedded into the valley, the entire house is designed as an extension of nature overlooking the sea with Lissie, guests with nature brings a unique quality and comfort. A total of 2 suites and 6 double rooms with serving Lissie, fireplace in the suite, double air conditioning and a jacuzzi with every season best service blue you endless with balcony located in ensuring that all rooms and offers a unique course of the sky covered with stars at night.</p>
                            <p>&nbsp;</p>
                        }
                        else 
                        {
                            <p>Hayatın koşturmacasından ve zihinsel yorgunluklardan kurtulmak isteyenleri en profesyonel şekilde ağırlayan Lissiya, adeta kendinizi yeniden keşfetmeniz ve kendinizle buluşmanız  için yeni bir adres…</p>
                            <p>&nbsp;</p>
                            <p>Dünyanın birçok ülkesinden özel olarak getirtilen  nefes, yoga ve masaj uzmanları tarafından verilen bedensel ve zihinsel rahatlama ile arınma seansları, Lissiya’da deneyimleyebileceğiniz ayrıcalıklı bir hizmet. Eşsiz doğanın içerisinde benzersiz bir manzaranın hakim olduğu Lissiya’da sabah ve akşam yoga seanslarından bioenerji masajlarına, çeşitli meditasyon tekniklerinden nefes seanslarına kadar size özel hazırlanacak programlarda tatilin ve huzurun gerçek keyfini keşfedeceksiniz.  </p>
                            <p>&nbsp;</p>
                            <p class="number">Size kalan sadece ihtiyacınız olan dinginliğe ulaşmak için ruhunuzun şımartılmasına izin vermek...</p>
                        }
                    </section>
                    <!-- /.md-booking -->
                </div>
                <!-- InstanceEndEditable -->
            </section>
            <!-- InstanceBeginEditable name="alan-detay" -->
            <section class="md-accomodation-content">
                <div class="row clearfix">
                    @if (languageId !=1)
                    {
                        foreach (var item in Model.Where(x => x.LanguageId == languageId).ToList())
                        {
                            <div class="grid_4">
                                <article class="media">
                                    <figure> <img src="/media/images/@item.Resim" alt="" class="media-object"> </figure>
                                    <section class="media-body">
                                        <h3 class="media-header h4"><a href="/relief-detail/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.ReferenceId">@item.Title</a></h3>
                                        <p class="media-content">@item.Summary</p>
                                        <a class="btn btn-small btn-border btn-border-brown" href="/relief-detail/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.ReferenceId">Details</a>
                                    </section>
                                </article>
                            </div>
                        }
                    }
                    else
                    {
                        foreach (var item in Model.Where(x => x.LanguageId == languageId).ToList())
                        {
                            <div class="grid_4">
                                <article class="media">
                                    <figure> <img src="/media/images/@item.Resim" alt="" class="media-object"> </figure>
                                    <section class="media-body">
                                        <h3 class="media-header h4"><a href="/rahatlama-detay/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.ReferenceId">@item.Title</a></h3>
                                        <p class="media-content">@item.Summary</p>
                                        <a class="btn btn-small btn-border btn-border-brown" href="/rahatlama-detay/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.ReferenceId">Detay için</a>
                                    </section>
                                </article>
                            </div>
                        }
                    }

                    @*<div class="grid_4">
                            <article class="media">
                                <figure> <img src="/Content/Site/img/main-page/masaj.jpg" alt="" class="media-object"> </figure>
                                <section class="media-body">
                                    <h3 class="media-header h4"><a href="masaj.html">MASAJ</a></h3>
                                    <p class="media-content">Klasik masaj programlarının kişisel sentez ile farklı sunumlarını ve uzman kadrosunu bir araya getiren Liissiya Hotel’de sizi saran melodiler ile bedeninizdeki çözülme hissini yaşayacaksınız. </p>
                                    <a class="btn btn-small btn-border btn-border-brown" href="masaj.html">Detay için</a>
                                </section>
                            </article>
                        </div>
                        <div class="grid_4">
                            <article class="media">
                                <figure> <img src="/Content/Site/img/main-page/jakuzi.jpg" alt="" class="media-object"> </figure>
                                <section class="media-body">
                                    <h3 class="media-header h4"><a href="jakuzi.html">JAKUZİ</a></h3>
                                    <p class="media-content">
                                        Renk ahengi içinde size özel jakuzinizde  . Zihin, beden ve ruh temizliğine bir arada ulaşabilirsiniz. <br>
                                        Bedeniniz, sakinleşen zihninizin ardında kalıp,dinginliğe ulaşacak.
                                    </p>
                                    <a class="btn btn-small btn-border btn-border-brown" href="jakuzi.html">Detay için</a>
                                </section>
                            </article>
                        </div>*@
                </div>
            </section>
            <!-- InstanceEndEditable -->
        </div><!-- /.md-accomodation -->
    </section><!-- /.md-wrapper  -->
</div>
