﻿@{
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);

    foreach (var item in (ViewBag.restaurantSeo as List<Lissiya_Otel.Models.ProjectLanguages>).Where(x => x.LanguageId == languageId).ToList())
    {
        ViewBag.Title = @item.SeoTitle;
    }

}
@using Lissiya_Otel.Models

@section metasection
{
    @foreach (var item in (ViewBag.restaurantSeo as List<Lissiya_Otel.Models.ProjectLanguages>).Where(x => x.LanguageId == languageId).ToList())
    {
        <meta name="description" content="@item.SeoDescription" />
        <meta name="keywords" content="@item.SeoKeywords" />
            <meta property="og:description" content="@item.SeoDescription" />
            <meta property="og:title" content="@item.SeoTitle" />
    }

}

<div class="container">
    <div class="md-body md-room-detail clearfix" style="padding-top:30px;">
        <div class="grid_9 md-main">
            <div class="row">
                <!--  Slide Preview Room --><!-- InstanceBeginEditable name="Galeri" -->
                <div class="row slide-preview-room">
                    <div id="sliderBig">
                        <ul>
                            @foreach (var item in ViewBag.resimler as List<Lissiya_Otel.Models.ProjectImageLanguages>)
                            {
                                <li class="slideshow-photo"><img src="/media/images/@item.ImageName" alt=""></li>
                            }
                            @*<li class="slideshow-photo"><img src="img/Restaurant/restaurant-2.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="img/Restaurant/restaurant-3.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="img/Restaurant/restaurant-4.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="img/Restaurant/restaurant-5.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="img/Restaurant/restaurant-6.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="img/Restaurant/restaurant-7.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="img/Restaurant/restaurant-8.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="img/Restaurant/restaurant-9.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="img/Restaurant/restaurant-10.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="img/Restaurant/restaurant-11.jpg" alt=""></li>
                                <li class="slideshow-photo"><img src="img/Restaurant/restaurant-12.jpg" alt=""></li>*@
                        </ul>
                    </div>
                    <div id="sliderThumb">
                        <ul>
                            @{
                                int i = 0;
                                foreach (var item in ViewBag.resimler as List<Lissiya_Otel.Models.ProjectImageLanguages>)
                                {
                                    <li slideindex="@i"><a href="#"><img src="/media/images/thumbnails40/@item.ImageName" alt=""></a></li>
                                    {
                                        i = i + 1;
                                    }
                                }
                            }

                            @*<li slideindex="1"><a href="#"><img src="img/Restaurant/restaurant-2-t.jpg" alt=""></a></li>
                                <li slideindex="2"><a href="#"><img src="img/Restaurant/restaurant-3-t.jpg" alt=""></a></li>
                                <li slideindex="3"><a href="#"><img src="img/Restaurant/restaurant-4-t.jpg" alt=""></a></li>
                                <li slideindex="4"><a href="#"><img src="img/Restaurant/restaurant-5-t.jpg" alt=""></a></li>
                                <li slideindex="5"><a href="#"><img src="img/Restaurant/restaurant-6-t.jpg" alt=""></a></li>
                                <li slideindex="6"><a href="#"><img src="img/Restaurant/restaurant-7-t.jpg" alt=""></a></li>
                                <li slideindex="7"><a href="#"><img src="img/Restaurant/restaurant-8-t.jpg" alt=""></a></li>
                                <li slideindex="8"><a href="#"><img src="img/Restaurant/restaurant-9-t.jpg" alt=""></a></li>
                                <li slideindex="9"><a href="#"><a href="#"><img src="img/Restaurant/restaurant-10-t.jpg" alt=""></a></li>
                                <li slideindex="10"><a href="#"><img src="img/Restaurant/restaurant-11-t.jpg" alt=""></a></li>
                                <li slideindex="11"><a href="#"><img src="img/Restaurant/restaurant-12-t.jpg" alt=""></a></li>*@
                        </ul>
                    </div>
                </div>
                <!-- InstanceEndEditable --><!-- InstanceBeginEditable name="icerik" -->
                <div class="preview-content">
                    @if (languageId !=1)
                    {
                        if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 2)
                        {
                            <p>Unique pleasure that had an excellent meal, those who want to experience an evening as a unique view of the sea or the star-studded dream in the early hours of sunshine a day a special invitation ...</p>
                            <p> The unique architecture, always cater to your taste and natural excellence of the kitchen staff Lissie target "Turkish cuisine" Ottoman Empire as we know, is composed of the Greek and Armenian dishes. Managed by a private chef kitchen, a variety of different flavors such as Italian-style pasta and risotto optionally offers its guests. Purity and completely dominated nature Lissiya palate is the most important feature in all of the materials used to the taste of the food served is growing in their garden. In addition, people's preferences and according to the information received at time of booking for special diets and alternative health needs are offered. </p>
                        }
                        else if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 3)
                        {
                            <p>Birbirinden bağımsız konumlarda birbirlerini görmeyecek şekilde tasarlanan evleri ile sizi her anlamıyla önemseyen Lissiya’da yaşam her anlamıyla size özel….</p>
                            <p> Vadinin içine gömülü, doğanın bir uzantısı olarak tasarlanmış  evlerinin tamamı deniz manzaralı olan Lissiya, misafirlerini doğayla birlikte eşsiz bir kalite ve konforla buluşturuyor. Toplamda 2 suit ve 6 double odasıyla hizmet veren Lissiya, suitlerindeki şömine, çift klima ve jakuzi ile her mevsim en iyi hizmeti sağlarken bütün odalarda bulunan balkonlarla size sonsuz mavinin ve gece yıldızlarla kaplı gökyüzünün eşsiz seyrini sunuyor. </p>
                        }
                        else if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 4)
                        {
                            <p>Birbirinden bağımsız konumlarda birbirlerini görmeyecek şekilde tasarlanan evleri ile sizi her anlamıyla önemseyen Lissiya’da yaşam her anlamıyla size özel….</p>
                            <p> Vadinin içine gömülü, doğanın bir uzantısı olarak tasarlanmış  evlerinin tamamı deniz manzaralı olan Lissiya, misafirlerini doğayla birlikte eşsiz bir kalite ve konforla buluşturuyor. Toplamda 2 suit ve 6 double odasıyla hizmet veren Lissiya, suitlerindeki şömine, çift klima ve jakuzi ile her mevsim en iyi hizmeti sağlarken bütün odalarda bulunan balkonlarla size sonsuz mavinin ve gece yıldızlarla kaplı gökyüzünün eşsiz seyrini sunuyor. </p>
                        }
                    }
                    else
                    {
                        if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 2)
                        {
                            <p>
                                "Lissiya Hotel’in denize manzarası ve yıldızlar eşliğinde keyifli bir akşam yemeğinin tadını çıkarın" eşsiz manzara işatıhınızı kabartacak... Otelimizin tecrübeli, profosyenel ekibi ile sizleri ağırlamaktan memnuniyet duyarız.
                            </p>
                        }
                        else if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 3)
                        {
                            <p>Özel aydınlatması ile gökyüzü edasını veren barımız sizi eşsiz ufuklara yolculuğa çıkarmaya hazır. Gündüz havuz başında akşamalrıda yıldızlara karşı, size ve sevdiklerinize keyif veren manzarasıyla eşsiz bir deneyim sunuyor. </p>
                        }
                        else if (Convert.ToInt32(ViewContext.RouteData.Values["id"]) == 4)
                        {
                            <p>Güneşli bir günün ilk saatlerinde benzersiz bir doğa ve deniz manzarasında mis kokular ve kuş cıvıltıları eşliğinde muhteşem bir manzaraya karşı, mis kokular ve kuş cıvıltıları eşliğinde, güne zengin bir kahvaltıyla başlamaya ne dersiniz?</p>
                        }
                    }
                </div>
                <!-- InstanceEndEditable -->
            </div>
        </div><!-- /.md-main -->
        <aside class="grid_3 md-sidebar md-sidebar-pt"><!-- InstanceBeginEditable name="ozellikler" --><!-- InstanceEndEditable --></aside>
        <figure> <img class="logo" alt="" src="/Content/Site/img/news/booking_lissiyahotel.png"> </figure>
        <p>&nbsp;</p>
        <figure> <a href="http://www.tripadvisor.com/Hotel_Review-g298031-d4065040-Reviews-Lissiya_Hotel-Fethiye_Mugla_Province_Turkish_Aegean_Coast.html" target="_blank"><img class="logo" alt="" src="/Content/Site/images/tripadvisor-main.png"></a> </figure><!-- /.md-sidebar -->
    </div><!-- /.md-testimonail -->
</div>