﻿@{
    //ViewBag.Title = "Restaurant";
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
    ViewBag.Title = (languageId !=1 ? @GeneralFunctions.GetSettingValue("SeoTitle") : @GeneralFunctions.GetSettingValue("SeoTitle"));
}
@using Lissiya_Otel.Functions
@model List<Lissiya_Otel.Models.ProjectLanguages>

@section metasection
    {
    
        <meta name="description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
        <meta name="keywords" content="@GeneralFunctions.GetSettingValue("SeoKeywords")" />
        <meta property="og:description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
        <meta property="og:title" content="@GeneralFunctions.GetSettingValue("SeoTitle")" />
    
}

<!-- InstanceBeginEditable name="Banner" -->
<section class="md-slide-wrapper-banner md-slide-home md-slide-banner">
    <!-- Slide Image-->
    <ul id="" class="md-slide-banner clearfix">
        <li> <img src="/Content/Site/img/banner/restaurant-main.jpg" alt=""> </li>
    </ul>
</section>
<!-- InstanceEndEditable --><!-- Slider End -->
<!-- Body -->
<div class="md-body-wrapper">
    <section class="container">
        <div class="md-body md-accomodation">
            <section class="row md-accomodation-available clearfix" style="padding-top:30px;">
                <div class="grid_3 align-center">
                    <article class="media">

                        <figure> <img class="logo" alt="" src="/Content/Site/images/lissiya-logo-sl.png"> </figure>
                        <!-- InstanceBeginEditable name="Baslik" -->
                        <div class="decription-override">
                            <h3 class="media-header h4">
                                @if (languageId != "en")
                                {
                                    <span style="font-size: 25px;">TASTE</span>
                                }
                                else
                                {
                                    <span>YEME & İÇME</span>
                                }
                            </h3>
                        </div>
                        <!-- InstanceEndEditable -->
                        </header>
                </div>
                <!-- InstanceBeginEditable name="content" -->
                <div class="grid_9">
                    <section class="md-booking">
                        @if (languageId != 1)
                        {
                            <p>A special invitation for the ones who wish to experience the unique delight that could be provided by a perfect table during the first hours of a sunny day together with the unique sea view or during a night that is like a dream as it is full of stars.... </p>
                            <p>&nbsp;</p>
                            <p>Lissiya cuisine, which operates with its objective of always addressing your taste and the natural flavour in its unique architecture, includes Ottoman, Greek and Armenian meals that are known as the  "Turkish cuisine".  The kitchen, which is managed by specialist chefs, can also offer other tastes such as  various Italian style pastas and risotto for its guests upon request. The most important feature of Lissiya, where the purity and nature dominate in full, is the fact that all of the ingredients used for the meals offered for your taste is grown in its own garden.  Besides, special diets and alternatives are also made available according to the information received during the reservation with regards to the preferences and health requirements of individuals.</p>
                            <p>&nbsp;</p>
                        }
                        else
                        {
                            <p>
                                Mükemmel bir sofranın yaşatacağı eşsiz hazzı, güneşli bir günün ilk saatlerinde benzersiz bir deniz manzarasında veya yıldızlarla dolu rüya gibi bir akşamda tecrübe etmek isteyenlere özel bir davet...
                            </p>
                            <p>&nbsp;</p>
                            <p>Kendine özgü mimarisinde, daima damak zevkinize ve doğal lezizliğe hitap etme hedefiyle çalışan Lissiya mutfağı "Türk mutfağı" olarak bildiğimiz Osmanlı, Rum ve Ermeni yemeklerinden oluşmaktadır. Özel aşçılar tarafından yönetilen mutfak, isteğe bağlı olarak çeşitli İtalyan usulü makarnalar ve risotto gibi farklı tatları da misafirlerine sunmaktadır. Saflığın ve doğanın tamamen hakim olduğu Lissiya’nın en önemli özelliğiyse damak zevkinize sunulan yemeklerde kullanılan malzemelerin hepsini kendi bahçesinde yetiştirmesidir. Ayrıca kişinin tercihlerine ve sağlık ihtiyaçlarına yönelik rezervasyon esnasında alınan bilgilere göre özel diyetler ve alternatifler sunulmaktadır. </p>
                            <p>&nbsp;</p>
                        }
                    </section>
                    <!-- /.md-booking -->
                </div>
                <!-- InstanceEndEditable -->
            </section>
            <!-- InstanceBeginEditable name="alan-detay" -->
            <section class="md-accomodation-content">
                <div class="row clearfix">

                    @if (languageId !=1)
                    {
                        foreach (var item in Model.Where(x => x.LanguageId == languageId).ToList())
                        {
                            <div class="grid_4">
                                <article class="media">
                                    <figure> <img src="/media/images/@item.Resim" alt="" class="media-object"> </figure>
                                    <section class="media-body">
                                        <h3 class="media-header h4"><a href="/restauranten-detail/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.ProjectId">@item.Title</a></h3>
                                        <p class="media-content">
                                            @item.Summary
                                        </p>
                                        <a class="btn btn-small btn-border btn-border-brown" href="/restauranten-detail/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.ProjectId">Details</a>
                                    </section>
                                </article>
                            </div>
                        }
                    }
                    else
                    {
                        foreach (var item in Model.Where(x => x.LanguageId == languageId).ToList())
                        {
                            <div class="grid_4">
                                <article class="media">
                                    <figure> <img src="/media/images/@item.Resim" alt="" class="media-object"> </figure>
                                    <section class="media-body">
                                        <h3 class="media-header h4"><a href="/restaurant-detay/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.ProjectId">@item.Title</a></h3>
                                        <p class="media-content">
                                            @item.Summary
                                        </p>
                                        <a class="btn btn-small btn-border btn-border-brown" href="/restaurant-detay/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.ProjectId">Detay için</a>
                                    </section>
                                </article>
                            </div>
                        }
                    }


                    @*<div class="grid_4">
                            <article class="media">
                                <figure> <img src="/Content/Site/img/main-page/bar-1.jpg" alt="" class="media-object"> </figure>
                                <section class="media-body">
                                    <h3 class="media-header h4"><a href="yeme-icme.html">LİSSİYA BAR</a></h3>
                                    <p class="media-content">Havuz başında hizmet veren barımız, her yeni günde ilkleri ve yenilikleriyle tüm güzellikleri hizmetinize sunmaya devam etmekten mutluluk duyacaktır.Güneşlenirken , dinlenirken yada eğlenirken bırakın çeşitli içecek ve yiyeceklerimizle en mutlu gününüzü yaşatalım.</p>
                                    <a class="btn btn-small btn-border btn-border-brown" href="yeme-icme.html">Detay için</a>
                                </section>
                            </article>
                        </div>
                        <div class="grid_4">
                            <article class="media">
                                <figure> <img src="/Content/Site/img/main-page/kahvalti-1.jpg" alt="" class="media-object"> </figure>
                                <section class="media-body">
                                    <h3 class="media-header h4"><a href="yeme-icme.html">KAHVALTI</a></h3>
                                    <p class="media-content">Güneşli bir günün ilk saatlerinde benzersiz bir doğa ve deniz manzarasında mis kokular ve kuş cıvıltıları eşliğinde muhteşem bir manzaraya karşı,mis kokular ve kuş cıvıltıları eşliğinde,  güne zengin bir kahvaltıyla başlamaya ne dersiniz? </p>
                                    <a class="btn btn-small btn-border btn-border-brown" href="yeme-icme.html">Detay için</a>
                                </section>
                            </article>
                        </div>*@
                </div>
            </section>
            <!-- InstanceEndEditable -->
        </div><!-- /.md-accomodation -->
    </section><!-- /.md-wrapper  -->
</div>
