﻿@{
    ViewBag.Title = "Başvuru Form Detayı";
    ViewBag.Controller = "Başvuru Form Detayı";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@model Lissiya_Otel.Models.ApplicationForms

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Başvuru Form Detayı
            </h1>
        </div>
    </div>

    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Başvuru Form Detayı</h2>
                    </header>

                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <div class="widget-body">
                                        <form id="bloglanguage-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Blog/CreateBlogLanguage" method="post" novalidate="novalidate">
                                            <fieldset>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">
                                                            Ad
                                                        </label>
                                                        <label class="input">
                                                            <i class="icon-prepend fa fa-user"></i>

                                                            <input type="text" name="Title" class="input-sm" value="@Model.Name">
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">
                                                            Soyad
                                                        </label>
                                                        <label class="input">
                                                            <i class="icon-prepend fa fa-users"></i>
                                                            <input type="text" name="Title" class="input-sm" value="@Model.Surname">
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">
                                                            E-Posta
                                                        </label>
                                                        <label class="input">
                                                            <i class="icon-prepend fa fa-envelope"></i>
                                                            <input type="text" name="Author" class="input-sm"  value="@Model.Email">
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">
                                                            Telefon
                                                        </label>
                                                        <label class="input">
                                                            <i class="icon-prepend fa fa-phone"></i>
                                                            <input type="text" name="Date" id="Date"  value="@Model.Phone">
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">
                                                            Adres
                                                        </label>
                                                        <label class="textarea textarea-resizable">
                                                            <i class="icon-prepend fa fa-map-marker"></i>
                                                            <textarea rows="3" name="Summary" class="custom-scroll">@Model.Address</textarea>
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">
                                                            Mesaj
                                                        </label>
                                                        <label class="textarea textarea-resizable">
                                                            <i class="icon-prepend fa fa-align-center"></i>
                                                            <textarea rows="3" name="Summary" class="custom-scroll">@Model.Message</textarea>
                                                        </label>
                                                    </section>
                                                </div>
                                                <div class="row">
                                                    <section class="col col-6">
                                                        <label class="label">
                                                            Başvuru Tarihi
                                                        </label>
                                                        <label class="input">
                                                            <i class="icon-prepend fa fa-calendar"></i>
                                                            <input type="text" name="Date" value="@Model.InsertedDate.Value.ToShortDateString()">
                                                        </label>
                                                    </section>
                                                    <section class="col col-6">
                                                        <label class="label">
                                                            CV
                                                        </label>
                                                        <label class="input">
                                                            <label>CV yi indirmek için <a href="/media/CV/@Model.CV">tıklayınız</a> </label>
                                                        </label>
                                                    </section>
                                                </div>
                                            </fieldset>

                                        </form>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
