﻿@{
    int languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
    ViewBag.Title = (languageId == 2 ? "News" : "Haberler");
}
@using Lissiya_Otel.Functions;
@using Lissiya_Otel.Models;
@model PagedList.IPagedList<Lissiya_Otel.Models.NewsLanguages>
@using PagedList.Mvc;
@using PagedList;
@section metasection
    {

    <meta name="description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
    <meta name="keywords" content="@GeneralFunctions.GetSettingValue("SeoKeywords")" />
    <meta property="og:description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
    <meta property="og:title" content="@GeneralFunctions.GetSettingValue("SeoTitle")" />

}

<div class="container" style="margin-top:60px;margin-bottom:30px;">
    <div class="md-body clearfix" style="padding-top: 30px;margin-bottom:30px;">
        <div id="md-news-deal" class="md-news-deal masonry-container masonry">
            @foreach (var item in Model)
            {
                <article class="media media-center" style="float: left; margin-right: 20px;">
                    <figure>
                        <a href="@item.SeoDescription" target="_blank">
                            <img src="/media/images/@item.ImageName" alt="" class="media-object">
                        </a>
                    </figure>
                    <div class="media-body" style="margin-top:-10px;">
                        <h3 class="media-header h4"><a href="@item.SeoDescription" target="_blank">@item.Title</a></h3>
                        <p class="number">
                            @item.Summary
                        </p>
                        <span class="time">@string.Format("{0:dd.MM.yyyy}", item.InsertedDate)</span>

                        @if (languageId == 2)
                        {
                            <p class="media-content">
                                @Html.Raw(item.Description)<a href="@item.SeoDescription" target="_blank" class="text-hightlight">&nbsp;&nbsp;More..&nbsp; </a>
                            </p>
                        }
                        else
                        {
                            <p class="media-content">
                                @Html.Raw(item.Description)<a href="@item.SeoDescription" target="_blank" class="text-hightlight">&nbsp;&nbsp;Devamı..&nbsp; </a>
                            </p>
                        }
                    </div>
                </article>
            }
        </div>
        <div class="page-list-style">
            @if (languageId == 1)
            {
                @Html.PagedListPager(Model, page => Url.RouteUrl("News", new { page = page }), PagedListRenderOptions.Minimal)
            }
            else
            {
                @Html.PagedListPager(Model, page => Url.RouteUrl("Haberler", new { page = page }), PagedListRenderOptions.Minimal)
            }
        </div>
    </div>
    <!-- /.md-testimonail -->
</div>
<footer class="md-footer xs" style="position:fixed;bottom:0; min-height:126px;">
    <div class=" grid_12" style="font-style: italic;  color:white;   font-size: 14px;font-family: Helvetica,Arial,sans-serif !important;">
        <div>
            <div>
                <p style="text-align:center">Children under 14 years are not allowed in Oyster Residences</p>
            </div>
            <div>
                <p style="text-align:center">Oyster Residences otelimize 14 yaş altı çocuk alınmamaktadır</p>
            </div>
        </div>
    </div>
    <div class="  grid_12" style="margin-top:10px;">

        <div class="footer-social">
            <div class="social-inner">

                <span class="social-group">
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("FacebookAddress")" target="_blank"><i class="icon icon-facebook"></i></a>
                    @*<a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TwitterAddress")" target="_blank"><i class="icon icon-twitter"></i></a>*@
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("YoutubeAddress") " target="_blank">  <i class="icon icon-youtube"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TripadvisorAddress")" target="_blank"><i class="icon icon-tripadvisor"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("GooglePlusAddress")" target="_blank"><i class="icon icon-google"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("InstegramAddress")" target="_blank"><i class="icon icon-instagram"></i></a>
                </span>
            </div>
        </div>
    </div>
</footer>
<footer class="md-footer md" style="position:fixed;bottom:0; top:none;display:table">

    <div class=" social grid_3">

        <div class="footer-social">
            <div class="social-inner">

                <span class="social-group">
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("FacebookAddress")" target="_blank"><i class="icon icon-facebook"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TwitterAddress")" target="_blank"><i class="icon icon-twitter"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("YoutubeAddress") " target="_blank">  <i class="icon icon-youtube"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TripadvisorAddress")" target="_blank"><i class="icon icon-tripadvisor"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("GooglePlusAddress")" target="_blank"><i class="icon icon-google"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("InstegramAddress")" target="_blank"><i class="icon icon-instagram"></i></a>
                </span>
            </div>
        </div>
    </div>

    <div class="menus grid_4" style="float: none;    display: table-cell; vertical-align:middle">

        <nav id="main-nav">

            @Html.Action("FotMenuPage", "Home")
        </nav>
        <div style="font-family: Helvetica,Arial,sans-serif;font-size: 11px; width:100%; color:white; display:inline-block;">
            Oyster Residences Belcekız mevki 224 sok.No:1 Ölüdeniz Fethiye/TÜRKİYE
        </div>
    </div>
    <div class="duyuru" style="display:table-cell;vertical-align:middle;float:none;font-style: italic;    font-size: 14px;">
        <div>
            <div>
                <p>Children under 14 years are not allowed in Oyster Residences</p>
            </div>
            <div>
                <p>Oyster Residences otelimize 14 yaş altı çocuk alınmamaktadır</p>
            </div>
        </div>
    </div>
    <div class="Arge" style="float: none;    display: table-cell; vertical-align:middle;     padding-right: 10px;">

        <a href="/" target="AnaKatman"><img border="0" src="/Content/Site/images/7.png" /></a>
    </div>
</footer>
<!-- /.md-wrapper  -->
<!-- /////////////////// LINKS SCRIPT /////////////////// -->
<script type="text/javascript" src="/Content/Site/js/modernizr.custom.js"></script>
<script type="text/javascript" src="/Content/Site/js/jquery-1.9.1.js"></script>
<script type="text/javascript" src="/Content/Site/js/jquery-ui-1.10.3.js"></script>
<script type="text/javascript" src="/Content/Site/js/classie.js"></script>
<script type="text/javascript" src="/Content/Site/js/mlpushmenu.js"></script>
<script type="text/javascript" src="/Content/Site/js/jquery.masonry.js"></script>
<script type="text/javascript" src="/Content/Site/js/script.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        "use strict";
        var newdeal = document.querySelector('#md-news-deal');
        var loadmore = document.querySelector('#load-more');

        var msnry = new Masonry(newdeal, {
            itemSelector: '.media-center',
            columnWidth: 400,
            isFitWidth: true
        });

        $("#load-more").bind("click", function (event) {
            event.preventDefault();
            $.get("loadmore.html", function (response) {
                var data = $(response).filter("article.media-center");
                console.log(data);
                $("#md-news-deal").append(data);
                msnry.appended(data);
            }, 'html')
        })

        jQuery(function () {
            jQuery('.view-content').masonry({
                // options
                itemSelector: '.views-row'
            });
        });
    });
</script>
<style>
    .md-header {
        position: fixed;
    }
</style>