﻿@{
    int languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);

    foreach (var item in (ViewBag.blogSeo as List<Lissiya_Otel.Models.BlogLanguages>).Where(x => x.LanguageId == languageId).ToList())
    {
        ViewBag.Title = @item.SeoTitle;
    }

}
@using Lissiya_Otel.Functions
@using Lissiya_Otel.Models

@section metasection
{
    @foreach (var item in (ViewBag.blogSeo as List<Lissiya_Otel.Models.BlogLanguages>).Where(x => x.LanguageId == languageId).ToList())
    {
        <meta name="description" content="@item.SeoDescription" />
        <meta name="keywords" content="@item.SeoKeywords" />

            <meta property="og:description" content="@Html.Raw(item.SeoDescription)" />
            <meta property="og:title" content="@Html.Raw(item.SeoTitle)" />
    }

}

<div class="container">
    <div class="md-body md-room-detail clearfix" style="padding-top:30px;">
        <div class="grid_9 md-main">
            <div class="row">
                @foreach (var item in (ViewBag.blogDetayListesi as List<Lissiya_Otel.Models.BlogLanguages>).Where(x => x.LanguageId == languageId).ToList())
                {
                    <!--  Slide Preview Room --><!-- InstanceBeginEditable name="Galeri" --><div id="sliderBig">
                        <ul>
                            <li class="slideshow-photo"><img src="/media/images/@item.ImageName" alt=""></li>
                        </ul>
                    </div>
                    <!-- InstanceEndEditable --><!-- InstanceBeginEditable name="icerik" -->
                        <div class="preview-content">
                            <h3 class="media-header h4">@item.Title</h3>
                            <br>
                            @Html.Raw(item.Description)
                        </div>
                    <!-- InstanceEndEditable -->
                }
            </div>
        </div><!-- /.md-main -->
        <aside class="grid_3 md-sidebar md-sidebar-pt">
            <!-- InstanceBeginEditable name="ozellikler" -->
            <section class="box-sidebar">
                <h2 class="h3 header-sidebar">GEZİLECEK ÇEVRE</h2>
                <ul class="list list-check">

                    @foreach (var item in (ViewBag.blogListesi as List<Lissiya_Otel.Models.BlogLanguages>).Where(x => x.LanguageId == languageId).ToList())
                    {
                        <li><a href="/cultural-adventures-detail/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.BlogId">@item.Title</a></li>
                    }
                </ul>
            </section>
            <!-- InstanceEndEditable -->
            <figure>
                <img class="logo" alt="" src="/Content/Site/img/news/booking_lissiyahotel.png">
            </figure>
            <p>&nbsp;</p><figure> <a href="http://www.tripadvisor.com/Hotel_Review-g298031-d4065040-Reviews-Lissiya_Hotel-Fethiye_Mugla_Province_Turkish_Aegean_Coast.html" target="_blank"><img class="logo" alt="" src="/Content/Site/images/tripadvisor-main.png"></a> </figure>
        </aside>
        <!-- /.md-sidebar -->
    </div><!-- /.md-testimonail -->
</div><!-- /.md-wrapper  -->