﻿@{
    int languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
    ViewBag.Title = GeneralFunctions.GetSettingValue("SeoTitle");
}
@using Lissiya_Otel.Functions
@using Lissiya_Otel.Models

<div class="container">
    <div class="md-body md-room-detail clearfix" style="padding-top:30px;">
        <div class="grid_9 md-main">
            <div class="row">
                <!--  Slide Preview Room --><!-- InstanceBeginEditable name="Galeri" --> <div id="sliderBig">
                    <ul>
                        <li class="slideshow-photo"><img src="/Content/Site/images/faralya.jpg" alt=""></li>
                    </ul>
                </div><!-- InstanceEndEditable --><!-- InstanceBeginEditable name="icerik" -->
                <div class="preview-content">
                    <h3 class="media-header h4">
                        @if (languageId == 2)
                        {
                            @:CULTURAL ADVENTURES
                        }
                        else
                        {
                            @:GEZİLECEK ÇEVRE
                        }
                    </h3>
                    <br>
                    @if (languageId == 2)
                    {
                        <p>The history of Anatolia is one of the most mysterious milestones of a new dimension to your holiday exploring the Lycian civilization. Turkey's plenty multistory culture, you can go lost in folklore and legend, and you can explore some of the world's most majestic and breathtaking nature of the ancient monuments.</p>
                    }
                    else
                    {
                        <p>Anadolu tarihinin en gizemli kilometre taşlarından biri olan Likya medeniyetini keşfederek tatilinize yeni bir boyut katın. Türkiye’nin bol öykülü kültürü, folkloru ve efsanelerine dalıp gidebilir ve dünyanın en görkemli antik anıtlarından bazılarını ve nefes kesici doğayı keşfedebilirsiniz.</p>
                    }
                </div>
                <!-- InstanceEndEditable -->
            </div>
        </div><!-- /.md-main -->
        <aside class="grid_3 md-sidebar md-sidebar-pt">
            <!-- InstanceBeginEditable name="ozellikler" -->
            <section class="box-sidebar">
                <h2 class="h3 header-sidebar">
                    @if (languageId == 1)
                    {
                        @:CULTURAL ADVENTURES
                    }
                    else
                    {
                        @:GEZİLECEK ÇEVRE
                    }
                </h2>
                <ul class="list list-check">

                    @foreach (var item in (ViewBag.blogListesi as List<Lissiya_Otel.Models.BlogLanguages>).Where(x => x.LanguageId == languageId).ToList())
                    {
                        <li><a href="/cultural-adventures-detail/@GeneralFunctions.ReplaceUrlRouting(item.Title)/@item.BlogId">@item.Title</a></li>
                    }

                    @*<li><a href="antik-kentler.html">Antik Kentler</a></li>
                        <li><a href="faralya.html">Faralya</a></li>
                        <li><a href="tekne-turlari.html">Tekne Turları</a></li>
                        <li><a href="oludeniz.html">Ölüdeniz</a></li>
                        <li><a href="kelebekler-vadisi.html">Kelebekler Vadisi</a></li>
                        <li><a href="Babadag.html">Babadağ</a></li>
                        <li><a href="Kayakoy.html">Kayaköy</a></li>
                        <li><a href="Saklikent.html">Saklıkent</a></li>
                        <li><a href="Gemiler-koyu.html">Gemiler Koyu</a></li>
                        <li><a href="calis-plaji.html">Çalış Plajı</a></li>
                        <li><a href="Dalyan.html">Dalyan</a></li>*@
                </ul>
            </section>
            <!-- InstanceEndEditable -->
            <figure>
                <img class="logo" alt="" src="/Content/Site/img/news/booking_lissiyahotel.png">
            </figure>
            <p>&nbsp;</p><figure> <a href="http://www.tripadvisor.com/Hotel_Review-g298031-d4065040-Reviews-Lissiya_Hotel-Fethiye_Mugla_Province_Turkish_Aegean_Coast.html" target="_blank"><img class="logo" alt="" src="/Content/Site/images/tripadvisor-main.png"></a> </figure>
        </aside>
        <!-- /.md-sidebar -->
    </div><!-- /.md-testimonail -->
</div><!-- /.md-wrapper  -->