﻿@{
    int languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
    ViewBag.Title = "Gallery";//(language == "en" ? "Gallery" : "Galeri");
}
@using Lissiya_Otel.Functions
@model List<Lissiya_Otel.Models.GalleryImages>

@section metasection
    {

    <meta name="description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
    <meta name="keywords" content="@GeneralFunctions.GetSettingValue("SeoKeywords")" />
    <meta property="og:description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
    <meta property="og:title" content="@GeneralFunctions.GetSettingValue("SeoTitle")" />

}

<link rel="stylesheet" type="text/css" href="/Content/Site/css/owl.carousel.css">

<!-- Body -->

<div class="slideshows">
    <div class="slide-preview-room fullscreen">
        <div class="slide-wrapper">
            <ul id="bxslider" class="bxslider">

                @foreach (var item in Model.Where(x => x.LanguageId == languageId).ToList())
                {
                    <li class="slideshow-photo">
                        <img src="/media/images/@item.Images.ImageName" alt="lıssıya hotel">
                    </li>
                }

                @*<li class="slideshow-photo">
                        <img src="/Content/Site/img/galery/photo-00.jpg" alt="lıssıya hotel">
                    </li>*@
            </ul>
        </div>
        <div id="bx-pager" class="thumb-room-detail clearfix">

            @{
                int i = 0;
                foreach (var item in Model.Where(x => x.LanguageId == 2).ToList())
                {
                    <div class="item">
                        <a data-slide-index="@i" href="#"><img src="/media/images/thumbnails/@item.Images.ImageName" alt="lıssıya hotel"></a>
                    </div>
                    {
                        i = i + 1;
                    }
                }

            }

            @*<div class="item">
                    <a data-slide-index="1" href="#"><img src="/Content/Site/img/thumbail/photo-38.jpg" alt="lıssıya hotel"></a>
                </div>*@
        </div>
    </div>
</div><!-- /.md-slideshow  -->
<footer class="md-footer xs" style="bottom:0; min-height:126px;margin-top: 89px;">
    <div class="grid_12" style="font-style: italic;  color:white;   font-size: 14px;font-family: Helvetica,Arial,sans-serif !important;    ">
        <div>
            <div>
                <p style="text-align:center">Children under 14 years are not allowed in Oyster Residences</p>
            </div>
            <div>
                <p style="text-align:center">Oyster Residences otelimize 14 yaş altı çocuk alınmamaktadır</p>
            </div>
        </div>
    </div>
    <div class="grid_12" style="margin-top:10px;">

        <div class="footer-social">
            <div class="social-inner">

                <span class="social-group">
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("FacebookAddress")" target="_blank"><i class="icon icon-facebook"></i></a>
                    @*<a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TwitterAddress")" target="_blank"><i class="icon icon-twitter"></i></a>*@
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("YoutubeAddress") " target="_blank">  <i class="icon icon-youtube"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TripadvisorAddress")" target="_blank"><i class="icon icon-tripadvisor"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("GooglePlusAddress")" target="_blank"><i class="icon icon-google"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("InstegramAddress")" target="_blank"><i class="icon icon-instagram"></i></a>
                </span>
            </div>
        </div>
    </div>
</footer>
<footer class="md-footer md" style="bottom:0; top:none;display:table;  margin-top: 68px; height: 72px;">

    <div class=" social grid_3">

        <div class="footer-social">
            <div class="social-inner">

                <span class="social-group">
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("FacebookAddress")" target="_blank"><i class="icon icon-facebook"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TwitterAddress")" target="_blank"><i class="icon icon-twitter"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("YoutubeAddress") " target="_blank">  <i class="icon icon-youtube"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TripadvisorAddress")" target="_blank"><i class="icon icon-tripadvisor"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("GooglePlusAddress")" target="_blank"><i class="icon icon-google"></i></a>
                    <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("InstegramAddress")" target="_blank"><i class="icon icon-instagram"></i></a>
                </span>
            </div>
        </div>
    </div>

    <div class="menus grid_4" style="float: none;    display: table-cell; vertical-align:middle">

        <nav id="main-nav">

            @Html.Action("FotMenuPage", "Home")
        </nav>
        <div style="font-family: Helvetica,Arial,sans-serif;font-size: 11px; width:100%; color:white; display:inline-block;">
            Oyster Residences Belcekız mevki 224 sok.No:1 Ölüdeniz Fethiye/TÜRKİYE
        </div>
    </div>
    <div class="duyuru" style="display:table-cell;vertical-align:middle;float:none;font-style: italic;    font-size: 14px;">
        <div>
            <div>
                <p>Children under 14 years are not allowed in Oyster Residences</p>
            </div>
            <div>
                <p>Oyster Residences otelimize 14 yaş altı çocuk alınmamaktadır</p>
            </div>
        </div>
    </div>
    <div class="Arge" style="float: none;    display: table-cell; vertical-align:middle;     padding-right: 10px;">

        <a href="/" target="AnaKatman"><img border="0" src="/Content/Site/images/7.png" /></a>
    </div>
</footer>
<style>
    @@media screen and (min-width: 1200px) {
        .mp-pusher {
            overflow: hidden;
            overflow-y: auto;
        }
    }

    .owl-item img {
        max-height: 92px;
    }
</style>