﻿@using Lissiya_Otel.Functions;
@{
    ViewBag.Title = "UpdateAddressLanguage";
    ViewBag.Controller = "Adres Dil Güncelle";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div id="content">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa fa-edit fa-fw "></i>
                Adres Dil Güncelle
            </h1>
        </div>
    </div>
    <section id="widget-grid" class="">
        <div class="row">
            <article class="col-sm-12 col-md-12 col-lg-12">
                <div class="jarviswidget " id="wid-id-x" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-togglebutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
                    <header>
                        <span class="widget-icon"><i class="fa fa-align-justify"></i></span>
                        <h2>Adres Dil Güncelle</h2>
                    </header>
                    <div class="row">
                        <div>
                            <div class="widget-body no-padding">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <ul class="header-dropdown-list hidden-xs" style="float: left; font-size: 20px;">
                                                <li>
                                                    @{
                                                        var LanguageDetail = GeneralFunctions.LanguageDetail(int.Parse(Request.QueryString["LangId"]));
                                                        if (LanguageDetail != null)
                                                        {
                                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color: black;">
                                                            <img src="/Areas/Admin/img/blank.gif" class="@LanguageDetail.ClassName" alt="@LanguageDetail.ShortTitle"><span>@LanguageDetail.Title</span>
                                                        </a>
                                                        }
                                                    }
                                                </li>
                                            </ul>
                                            <a class="btn btn-primary pull-right" data-toggle="modal" data-target="#confirm-delete" href="#" data-href="/Admin/Address/DeleteLanguage/@ViewContext.RouteData.Values["id"]?LangId=@Request.QueryString["LangId"]">Sil</a>
                                        </div>
                                    </div>
                                    <div class="widget-body">
                                        @if (ViewBag.Detail != null)
                                        {
                                            var LangDetail = ViewBag.Detail as Lissiya_Otel.Models.AddressLanguages;
                                            <form id="addresslanguage-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Address/UpdateAddressLanguage/@ViewContext.RouteData.Values["id"]?LangId=@Request.QueryString["LangId"]" method="post" novalidate="novalidate">
                                                <input type="hidden" name="LanguageId" id="LanguageId" value="@Request.QueryString["LangId"]" />
                                                <fieldset>
                                                    <section>
                                                        <label class="label">
                                                            Başlık
                                                        </label>
                                                        <label class="input">
                                                            <i class="icon-prepend fa fa-book"></i>
                                                            <input type="text" name="Title" class="input-sm" required="required" value="@LangDetail.Title">
                                                        </label>
                                                    </section>

                                                    <div class="row">
                                                        <section class="col col-4">
                                                            <label class="label">Telefon 1</label>
                                                            <label class="input">
                                                                <i class="icon-prepend fa fa-phone"></i>
                                                                <input type="text" name="Phone1" class="input-sm" required="required" value="@LangDetail.Phone1">
                                                            </label>
                                                        </section>
                                                        <section class="col col-4">
                                                            <label class="label">Telefon 2</label>
                                                            <label class="input">
                                                                <i class="icon-prepend fa  fa-mobile-phone"></i>
                                                                <input type="text" name="Phone2" class="input-sm" value="@LangDetail.Phone2">
                                                            </label>
                                                        </section>
                                                        <section class="col col-4">
                                                            <label class="label">Faks</label>
                                                            <label class="input">
                                                                <i class="icon-prepend fa fa-fax"></i>
                                                                <input type="text" name="Fax" class="input-sm" value="@LangDetail.Fax">
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-4">
                                                            <label class="label">E-Posta</label>
                                                            <label class="input">
                                                                <i class="icon-prepend  fa-envelope"></i>
                                                                <input type="text" name="EMail" class="input-sm" value="@LangDetail.Email">
                                                            </label>
                                                        </section>
                                                        <section class="col col-4">
                                                            <label class="label">Longitude (Google Map)</label>
                                                            <label class="input">
                                                                <i class="icon-prepend fa fa-globe"></i>
                                                                <input type="text" name="Longtitude" class="input-sm" value="@LangDetail.Longtitude">
                                                            </label>
                                                        </section>
                                                        <section class="col col-4">
                                                            <label class="label">Latitude (Google Map)</label>
                                                            <label class="input">
                                                                <i class="icon-prepend fa fa-globe"></i>
                                                                <input type="text" name="Latitude" class="input-sm" value="@LangDetail.Latitude">
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <section>
                                                        <label class="label">Address</label>
                                                        <label class="input">
                                                            <i class="icon-prepend fa fa-map-marker"></i>
                                                            <input type="text" name="Address" class="input-sm" value="@LangDetail.Address">
                                                        </label>
                                                    </section>

                                                    <section>
                                                        <label class="label">Logo</label>
                                                        <div class="input input-file">
                                                            <span class="button">
                                                                <input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Dosya Seç</span><input type="text" placeholder="Fotoğraf Seçiniz" readonly="">
                                                        </div>
                                                             <div class="alert alert-danger fade in" style="display: none" id="fileerror">
                                                <strong id="fileerrormessage"></strong>
                                            </div>
                                            <div class="none"><strong>Maksimum 1MB</strong> dosya yüklenebilir</div>
                                                    </section>
                                                </fieldset>
                                                <footer>
                                                    <button type="submit" class="btn btn-primary" id="submitbutton">
                                                        Kaydet
                                                    </button>
                                                    <button type="button" class="btn btn-default" onclick="window.history.back();">
                                                        Vazgeç
                                                    </button>
                                                </footer>

                                            </form>
                                        }
                                        else
                                        {
                                            <form id="addresslanguage-form" class="smart-form" enctype="multipart/form-data" action="/Admin/Address/CreateAddressLanguage" method="post" novalidate="novalidate">
                                                <input type="hidden" name="LanguageId" id="LanguageId" value="@Request.QueryString["LangId"]" />
                                                <input type="hidden" name="AddressId" id="AddressId" value="@ViewContext.RouteData.Values["id"]" />
                                                <fieldset>
                                                    <section>
                                                        <label class="label">
                                                            Başlık
                                                        </label>
                                                        <label class="input">
                                                            <i class="icon-prepend fa fa-book"></i>
                                                            <input type="text" name="Title" class="input-sm" required="required">
                                                        </label>
                                                    </section>

                                                    <div class="row">
                                                        <section class="col col-4">
                                                            <label class="label">Telefon 1</label>
                                                            <label class="input">
                                                                <i class="icon-prepend fa fa-phone"></i>
                                                                <input type="text" name="Phone1" class="input-sm" required="required">
                                                            </label>
                                                        </section>
                                                        <section class="col col-4">
                                                            <label class="label">Telefon 2</label>
                                                            <label class="input">
                                                                <i class="icon-prepend fa  fa-mobile-phone"></i>
                                                                <input type="text" name="Phone2" class="input-sm">
                                                            </label>
                                                        </section>
                                                        <section class="col col-4">
                                                            <label class="label">Faks</label>
                                                            <label class="input">
                                                                <i class="icon-prepend fa fa-fax"></i>
                                                                <input type="text" name="Fax" class="input-sm">
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <div class="row">
                                                        <section class="col col-4">
                                                            <label class="label">E-Posta</label>
                                                            <label class="input">
                                                                <i class="icon-prepend  fa-envelope"></i>
                                                                <input type="text" name="EMail" class="input-sm">
                                                            </label>
                                                        </section>
                                                        <section class="col col-4">
                                                            <label class="label">Longitude (Google Map)</label>
                                                            <label class="input">
                                                                <i class="icon-prepend fa fa-globe"></i>
                                                                <input type="text" name="Longtitude" class="input-sm">
                                                            </label>
                                                        </section>
                                                        <section class="col col-4">
                                                            <label class="label">Latitude (Google Map)</label>
                                                            <label class="input">
                                                                <i class="icon-prepend fa fa-globe"></i>
                                                                <input type="text" name="Latitude" class="input-sm">
                                                            </label>
                                                        </section>
                                                    </div>
                                                    <section>
                                                        <label class="label">Address</label>
                                                        <label class="input">
                                                            <i class="icon-prepend fa fa-map-marker"></i>
                                                            <input type="text" name="Address" class="input-sm">
                                                        </label>
                                                    </section>

                                                    <section>
                                                        <label class="label">Logo</label>
                                                        <div class="input input-file">
                                                            <span class="button">
                                                                <input type="file" id="file" name="file" onchange="this.parentNode.nextSibling.value = this.value">Dosya Seç</span><input type="text" placeholder="Fotoğraf Seçiniz" readonly="">
                                                        </div>
                                                             <div class="alert alert-danger fade in" style="display: none" id="fileerror">
                                                <strong id="fileerrormessage"></strong>
                                            </div>
                                            <div class="none"><strong>Maksimum 1MB</strong> dosya yüklenebilir</div>
                                                    </section>
                                                </fieldset>
                                                <input type="hidden" name="updatecontrol" value="1" />
                                                <footer>
                                                    <button type="submit" class="btn btn-primary" id="submitbutton">
                                                        Kaydet
                                                    </button>
                                                    <button type="button" class="btn btn-default" onclick="window.history.back();" >
                                                        Vazgeç
                                                    </button>
                                                </footer>

                                            </form>    
                                        }


                                    </div>
                                </fieldset>
                            </div>


                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Silmek istediğinize emin misiniz?</h4>
            </div>
            <div class="modal-body">
                <h4 id="body-h4"></h4>
                Adresin seçilen dilini silmek istediğinizden emin misiniz?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Vazgeç</button>
                <a href="#" class="btn btn-danger danger">Sil</a>
            </div>
        </div>
    </div>
</div>
<script>
    $('#confirm-delete').on('show.bs.modal', function (e) {
        $(this).find('.danger').attr('href', $(e.relatedTarget).data('href'));
        $('#body-h4').text($(e.relatedTarget).data('content'));
        $('.debug-url').html('Delete URL: <strong>' + $(this).find('.danger').attr('href') + '</strong>');
    })
    $(document).ready(function () {
        var $checkoutForm = $('#addresslanguage-form').validate({
            // Rules for form validation
            rules: {
                Title: {
                    required: true
                },
                Phone1:
                    {
                        required: true
                    }
            },
            messages: {
                Title: {
                    required: 'Başlık kısmını boş geçmeyiniz'
                },
                Phone1:
                    {
                        required: 'Telefon kısmını boş geçmeyiniz'
                    }

            }
        })
    });
    $('#file').bind('change', function () {
        if (this.files[0].size > 1048576) {
            $('#fileerrormessage').html();
            $('#submitbutton').attr("disabled", "disabled");
            $('#fileerror').css("display", "block");
            $('#fileerrormessage').html("Maksimum dosya boyutunu aştınız!");
        }
        else {
            $('#fileerrormessage').html();
            $('#fileerror').css("display", "none");
            $('#submitbutton').removeAttr("disabled");
            openFile(this.files[0].name);
        }

    });
    function openFile(file) {
        $('#fileerrormessage').html();
        var extension = file.substr((file.lastIndexOf('.') + 1));
        switch (extension) {
            case 'jpg':
            case 'png':
            case 'jpeg':
                break;
            default:
                $('#submitbutton').attr("disabled", "disabled");
                $('#fileerror').css("display", "block");
                $('#fileerrormessage').html("Sadece jpeg,.jpg ve .png dosyaları kabul edilir!");
                $('#fileerrormessage').addClass();
        }
    };
</script>
