﻿@{
string[] languages = HttpContext.Current.Request.UserLanguages;
//try
//{
//    string languageUlke = languages[0].ToLowerInvariant().Trim();
//    //return System.Globalization.CultureInfo.CreateSpecificCulture(language);
//    System.Globalization.CultureInfo.CreateSpecificCulture(languageUlke);
//}
//catch (ArgumentException)
//{
//    //return null;
//}


//HttpRequest currentRequest = HttpContext.Current.Request;
//String clientIP = currentRequest.ServerVariables["REMOTE_ADDR"];
//Response.Write(clientIP);
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
@{
    var language = Lissiya_Otel.Functions.GeneralFunctions.Resolve(ViewContext.RouteData.Values["lang"]);



    if (Request.QueryString["lang"] != null)
    {
        string languageUlke2 = languages[0].ToLowerInvariant().Trim();
        
            language = Request.QueryString["lang"];
        
        if ((System.Globalization.CultureInfo.CreateSpecificCulture(languageUlke2)).ToString() != "tr-TR")
        {
            Response.Redirect("/Home");
        }
    }
    //ViewBag.Title = GeneralFunctions.GetSettingValue("SeoTitle");
}
@using Lissiya_Otel.Functions
<html lang="en">
<!-- InstanceBegin template="/Templates/index.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <!-- InstanceBeginEditable name="doctitle" -->
    @*<title>@ViewBag.Title</title>*@
    <title>Oyster Residences | Accommodation | Oludeniz Fethiye Boutique Hotels</title>
    <!-- InstanceEndEditable -->
    <meta charset="UTF-8">

    @{
        //string homeUrl = Url.Action("Index", "Home");
        string actionName = this.ViewContext.RouteData.Values["action"].ToString();
        string controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
    }

    @if (ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString() == "Home")
    {
       
            <meta name="description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
            <meta name="title" content="@GeneralFunctions.GetSettingValue("SeoTitle")" />
            <meta name="keywords" content="@GeneralFunctions.GetSettingValue("SeoKeywords")" />
            <meta property="og:description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
            <meta property="og:title" content="@GeneralFunctions.GetSettingValue("SeoTitle")" />
        
    }


    @RenderSection("metasection", false)



    <meta http-equiv="content-language" content="en,tr" />
    <meta http-equiv="cache-control" content="no-cache" />


    <meta name="format-detection" content="telephone=no">
    
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!--  Viewport setting -->
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />

    <!--  Font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/Content/Site/css/font.css">
    <!-- Library CSS  -->
    <link rel="stylesheet" type="text/css" href="/Content/Site/css/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="/Content/Site/css/owl.carousel.css">
    <!-- Main CSS  -->
    <link rel="stylesheet" type="text/css" href="/Content/Site/css/style.css">
    <!-- Responsive CSS  -->
    <link rel="stylesheet" type="text/css" href="/Content/Site/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/Content/Site/css/responsive-menu.css">
    @*<link rel="stylesheet" type="text/css" href="/Content/Site/css/libs/jquery-ui-1.10.3.custom.css">*@
    <link rel="stylesheet" type="text/css" href="/Content/Site/css/libs/magnific-popup.css" />
    <link rel="stylesheet" type="text/css" href="/Content/Site/css/font-awesome/css/font-awesome.min.css">
    <script src='https://www.google.com/recaptcha/api.js'></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>

    <!-- JQUERY VALIDATE -->
    <!-- Fix ie9  -->
    <!--[if IE 9]>
    <link rel="stylesheet" type="text/css" href="css/ie9.css">
    <![endif]-->
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
</head>
<body>
    @*<div id="owl-example" class="owl-carousel">*@
        <!-- PRELOADER -->
        <div id="preloader">
            <span class="loader" data-loading-text="OYSTER">
            </span>
        </div>
        <!-- END / PRELOADER -->
        <div class="md-hotel md-world-of-flawles">
            <div id="mp-pusher" class="mp-pusher" >
                <!-- Header -->
              
                   

                        <header class="md-header" style="text-align:center;    text-align: center;    display: table;top: 0; position:fixed;">
                            @*//diğer sayafalarda positian fixed yap*@
                        <div style="display: table-cell;    vertical-align: bottom;    padding-top: 5px; ">
                            @Html.Action("TopMenuPage", "Home")

                            @*@if (controllerName == "Home")
                            {

                                @Html.Action("TopMenu", "Home");

                            }
                            else
                            {
                                @Html.Action("TopMenuPage", "Home");
                            }*@


                            @*<a id="sys_btn_toogle_menu" class="btn-toogle-res-menu pull-right" ></a>*@
                        </div>
                        @*<ul class="language-bar">
            <li><a href="/Home"><img src="/Content/Site/images/english.png" alt="english"></a></li>
            <li><a href="/ana-sayfa"><img src="/Content/Site/images/turkce.png" alt="türkçe"></a></li>

        </ul>*@
                    </header>





         
                
                <!-- Header End -->
                <!-- Menu Responsive -->
                @Html.Action("MobilMenuPage", "Home")
                @*<nav id="mp-menu" class="mp-menu alternate-menu mp-overlap right-side">
                    <div class="mp-level">
                        <h2>Menu</h2>
                        <ul>
                            @if (controllerName == "Home")
                            {

                                @Html.Action("MobilMenu", "Home")

                            }
                            else
                            {
                               
                            }
                            


                        </ul>
                    </div>
                </nav>*@
                <!-- Menu Responsive End -->
                <!-- Body -->
                @RenderBody()
              
            </div><!-- /.md-wrapper  -->

        </div><!--/.mp-pusher -->
    

        <script type="text/javascript" src="/Content/Site/js/modernizr.custom.js"></script>
        <script type="text/javascript" src="/Content/Site/js/jquery-ui-1.10.3.js"></script>

        <script type="text/javascript" src="/Content/Site/js/jquery.bxslider.min.js"></script>
        <script type="text/javascript" src="/Content/Site/js/room-detail.js"></script>

        <script type="text/javascript" src="/Content/Site/js/classie.js"></script>
        <script type="text/javascript" src="/Content/Site/js/mlpushmenu.js"></script>
        <script type="text/javascript" src="/Content/Site/js/script.js"></script>


        <!-- Library Javascript  -->
        <script type="text/javascript" src="/Content/Site/js/jquery.owl.carousel.min.js"></script>
        <!-- Separate Javascript for each page -->
        <script type="text/javascript" src="/Content/Site/js/world-of-flawles.js"></script>
        <script type="text/javascript" src="/Content/Site/js/home.js"></script>
        @*<script src="~/Content/owl.carousel.2.0.0-beta.2.4/owl.carousel.js"></script>*@
        @*<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js'></script>
        <script src="~/Content/owl.carousel.2.0.0-beta.2.4/js/indexOwl.js"></script>*@

        <script type="text/javascript">
            $(function () {
                "use strict";
                $("#name").datepicker({});
                
               var  headerHeight = $(".md-header").height();
             
               $("#mobmenu").css("margin-top", (headerHeight - $(".btn-toogle-res-menu").height()-11)+"px");
            });

        </script>

    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-27066673-1', 'auto');
  ga('send', 'pageview');

    </script>
   
</body>
<!-- InstanceEnd -->
</html>
