﻿@{
    var languageId = Lissiya_Otel.Functions.GeneralFunctions.GetLanguage(ViewContext.RouteData.Values["lang"]);
    string language = ViewContext.RouteData.Values["lang"] != null ? ViewContext.RouteData.Values["lang"].ToString() : "en";
    ViewBag.Title = (languageId !=1 ? "Guest Book" : "Yorumlar");


}
@model PagedList.IPagedList<Lissiya_Otel.Models.ClientTestimonials>
@using Lissiya_Otel.Functions
@using PagedList.Mvc;
@using PagedList;


@section metasection
    {
   
        <meta name="description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
        <meta name="keywords" content="@GeneralFunctions.GetSettingValue("SeoKeywords")" />
        <meta property="og:description" content="@GeneralFunctions.GetSettingValue("SeoDescription")" />
        <meta property="og:title" content="@GeneralFunctions.GetSettingValue("SeoTitle")" />
   
}

<section class="md-slide-wrapper-banner md-slide-home md-slide-banner">
    <!-- Slide Image-->
    <ul id="" class="md-slide-banner clearfix">
        <li>
            <img src="~/Content/Site/images/comments.jpg" alt="">
        </li>
    </ul>
</section>
<!-- InstanceEndEditable -->
<!-- Slider End -->
<!-- Body -->
<div class="md-body-wrapper" style="margin-bottom: 60px;">
    <section class="container">
        <div class="md-body md-accomodation" style="padding-top: 30px;">
            <section class="row md-accomodation-available clearfix">
                <div class="grid_3 align-center">
                    <article class="media">
                        <figure>
                            <img class="logo" alt="" src="/Content/Site/images/oyster-logo.jpg">
                        </figure>
                        <!-- InstanceBeginEditable name="Baslik" -->
                        <div class="decription-override">
                            <h3 class="media-header h4">
                                @if (languageId !=1)
                                {
                                    <span style="font-size: 25px;">GUEST BOOK</span>
                                }
                                else
                                {
                                    <span>ZİYARETÇİ YORUMLARI</span>
                                }
                            </h3>
                        </div>
                       
                        <p>&nbsp;</p>
                        <figure>
                            <a href="@GeneralFunctions.GetSettingValue("TripadvisorAddress")" target="_blank">
                                <img class="logo" alt="" src="/Content/Site/images/tripadvisor-main.png"></a>
                        </figure>
                        <!-- InstanceEndEditable -->
                    </article>
                </div>
                <!-- InstanceBeginEditable name="content" -->
                <div class="grid_9">


                    @foreach (var item in Model)
                    {
                        <div class="media">
                            <div class="media-body">
                                <div class="box-quote box-quote-alter">
                                   
                                        <p class="number">@item.Client</p>
                                        <p>@item.Testimonial</p>
                                        <div>
                                            <a href="#" class="text-link link-direct">
                                                @if (item.CommentDate != null)
                                                {
                                                    var tarih = string.Format("{0:dd.MM.yyyy}", item.CommentDate).ToString(); 
                                                   <span> @tarih -</span>
                                                }

                                                @item.Yazar</a>
                                        </div>        
                                    
                                </div>
                            </div>
                        </div>
                    }
                    @if (languageId != 1)
                    {
                        @Html.PagedListPager(Model, page => Url.RouteUrl("Comments", new { page = page }), PagedListRenderOptions.Minimal)
                    }
                    else
                    {
                        @Html.PagedListPager(Model, page => Url.RouteUrl("Yorumlar", new { page = page }), PagedListRenderOptions.Minimal)
                    }
                    <!-- /.media -->@*
                        }
                    }
                    else
                    {
                        foreach (var item in Model.Where(x => x.DilSecenegi == 1))
                        {
                            <div class="media">
                                <div class="media-body">
                                    <div class="box-quote box-quote-alter">
                                        <p class="number">@item.Client</p><p>@item.Testimonial</p>
                                        <div> <a href="#" class="text-link link-direct">@string.Format("{0:dd MMMM yyyy}", item.InsertedDate) - @item.Yazar</a></div>
                                    </div>
                                </div>
                            </div><!-- /.media -->
                        }
                    }*@


                    @*<div class="media">
                            <div class="media-body">
                                <div class="box-quote box-quote-alter">
                                    <p class="number">
                                        <input type="text" name="Client" class="input-sm valid" required="required" value="">
                                    </p><p>Yol biraz zorlu olsada.Otel e girince güleryüzle meyva kokteyli ikramı ile başlayan mutlusaatlerimiz.odamıza ilk girdiğimizdeki değişik koku.başka biryerde bulamayacağınız mobilyaların doğal sedir kokusunun büyüsü manzaranızda eşsiz olması .harikulade zaman geçirmeniz için bir başlangıç yalnızca.yemekler çok lezzetli.Her akşam farklı bir lezzet ziyafeti sundular.herşey çok güzeldi.</p>
                                    <div> <a href="#" class="text-link link-direct">28 Eylül 2014 &nbsp;&nbsp;&nbsp; Özgül C - İstanbul/Türkiye</a></div>
                                </div>
                            </div>
                        </div>*@

                    @if (ViewContext.RouteData.Values["id"] == null)
                    {

                    }
                    else
                    {
                        <span style="color: green; float: left; margin-top: 25px;">@(language == "en" ? "Your form was successfully delivered by us." : "Formunuz başarıyla tarafımıza ulaştırıldı.")</span>
                    }
                    <header class="box-heading heading-large" style="float:right;">
                        <div class="decription-override" style="margin-top: 0 !important; padding-top: 50px;">
                            <h2 class="h1">
                                @(languageId != 1 ? "You can write your comment" : "Sİz de yorum yazabİlİrsİnİz")
                            </h2>

                        </div>
                    </header>
                    <div class="row form-contact">
                        <form id="contact-form" class="label-placeholder" action="/Yorumlar/Index" method="post">
                            <input type="hidden" name="lang" value="@(language == "en" ? "en" : "tr")"><div class="row clearfix">
                                <div class="form-group">
                                    <input id="Yazar" type="text" name="Yazar" class="input-control" placeholder="@(language == "en" ? "First and Lastname and enter the city" : "Ad Soyad ve Şehir Giriniz")">
                                </div>
                                <div class="form-group">
                                    <input id="Client" type="text" name="Client" class="input-control" placeholder="@(language == "en" ? "Enter The Title" : "Başlık Giriniz")">
                                </div>
                            </div>

                            <div class="form-group">
                                <textarea id="Testimonial" class="input-control" placeholder="@(language == "en" ? "Your message" : "Bize iletmek istedikleriniz")" name="Testimonial"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="label-control"></label>
                                <input type="submit" id="send" class="btn btn-large btn-darkbrown" style="cursor: pointer;" value="@(language == "en" ? "Submit" : "Gönder")">
                            </div>
                        </form>
                    </div>


                    @*<div class="media">
                            <div class="media-body">
                                <div class="box-quote box-quote-alter">
                                    <p class="number">“Kalabalık insan trafiğinden kaçmak isteyenlere&quot;</p><p>Yol biraz zorlu olsada.Otel e girince güleryüzle meyva kokteyli ikramı ile başlayan mutlusaatlerimiz.odamıza ilk girdiğimizdeki değişik koku.başka biryerde bulamayacağınız mobilyaların doğal sedir kokusunun büyüsü manzaranızda eşsiz olması .harikulade zaman geçirmeniz için bir başlangıç yalnızca.yemekler çok lezzetli.Her akşam farklı bir lezzet ziyafeti sundular.herşey çok güzeldi.</p>
                                    <div> <a href="#" class="text-link link-direct">28 Eylül 2014 &nbsp;&nbsp;&nbsp; Özgül C - İstanbul/Türkiye</a></div>
                                </div>
                            </div>
                        </div>*@<!-- /.media -->

                </div>
                <!-- InstanceEndEditable -->
            </section>
            <!-- InstanceBeginEditable name="alan-detay" -->
            <!-- InstanceEndEditable -->
        </div>
        <!-- /.md-accomodation -->
    </section>
    <!-- /.md-wrapper  -->
</div>
                               <footer class="md-footer xs" style="position:fixed;bottom:0; min-height:126px;">
                                   <div class=" grid_12" style="font-style: italic;  color:white;   font-size: 14px;font-family: Helvetica,Arial,sans-serif !important;">
                                       <div>
                                           <div>
                                               <p style="text-align:center">Children under 14 years are not allowed in Oyster Residences</p>
                                           </div>
                                           <div>
                                               <p style="text-align:center">Oyster Residences otelimize 14 yaş altı çocuk alınmamaktadır</p>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="  grid_12" style="margin-top:10px;">


                                       <div class="footer-social">
                                           <div class="social-inner">

                                               <span class="social-group">
                                                   <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("FacebookAddress")" target="_blank"><i class="icon icon-facebook"></i></a>
                                                   <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TwitterAddress")" target="_blank"><i class="icon icon-twitter"></i></a>
                                                   <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("YoutubeAddress") " target="_blank">  <i class="icon icon-youtube"></i></a>
                                                   <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TripadvisorAddress")" target="_blank"><i class="icon icon-tripadvisor"></i></a>
                                                   <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("GooglePlusAddress")" target="_blank"><i class="icon icon-google"></i></a>
                                                   <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("InstegramAddress")" target="_blank"><i class="icon icon-instagram"></i></a>
                                               </span>
                                           </div>

                                       </div>

                                   </div>



                               </footer>
                               <footer class="md-footer md" style="position:fixed;bottom:0; top:none;display:table">

                                   <div class=" social grid_3">


                                       <div class="footer-social">
                                           <div class="social-inner">

                                               <span class="social-group">
                                                   <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("FacebookAddress")" target="_blank"><i class="icon icon-facebook"></i></a>
                                                   @*<a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TwitterAddress")" target="_blank"><i class="icon icon-twitter"></i></a>*@
                                                   <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("YoutubeAddress") " target="_blank">  <i class="icon icon-youtube"></i></a>
                                                   <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("TripadvisorAddress")" target="_blank"><i class="icon icon-tripadvisor"></i></a>
                                                   <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("GooglePlusAddress")" target="_blank"><i class="icon icon-google"></i></a>
                                                   <a href="@Lissiya_Otel.Functions.GeneralFunctions.GetSettingValue("InstegramAddress")" target="_blank"><i class="icon icon-instagram"></i></a>
                                               </span>
                                           </div>

                                       </div>

                                   </div>

                                   <div class="menus grid_4" style="float: none;    display: table-cell; vertical-align:middle">

                                       <nav id="main-nav">

                                           @Html.Action("FotMenuPage", "Home")

                                       </nav>
                                       <div style="font-family: Helvetica,Arial,sans-serif;font-size: 11px; width:100%; color:white; display:inline-block;">
                                           Oyster Residences Belcekız mevki 224 sok.No:1 Ölüdeniz Fethiye/TÜRKİYE
                                       </div>


                                   </div>
                                   <div class="duyuru" style="display:table-cell;vertical-align:middle;float:none;font-style: italic;    font-size: 14px;">
                                       <div>
                                           <div>
                                               <p>Children under 14 years are not allowed in Oyster Residences</p>
                                           </div>
                                           <div>
                                               <p>Oyster Residences otelimize 14 yaş altı çocuk alınmamaktadır</p>
                                           </div>
                                       </div>
                                   </div>
                                   <div class="Arge" style="float: none;    display: table-cell; vertical-align:middle;     padding-right: 10px;">

                                       <a href="/" target="AnaKatman"><img border="0" src="/Content/Site/images/7.png" /></a>

                                   </div>


                               </footer>                     
                               
            
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
<script src="~/Content/Admin/js/plugin/jquery-validate/jquery.validate.min.js"></script>
<script>
    $(document).ready(function () {

        var $checkoutForm = $('#contact-form').validate({
            // Rules for form validation
            rules: {
                Yazar: {
                    required: true
                },
                Client: {
                    required: true
                },
                Testimonial: {
                    required: true
                }
            },
            messages: {
                Yazar: {
                    required: 'Yazar kısmını boş geçmeyiniz'
                },
                Client: {
                    required: 'Başlık kısmını boş geçmeyiniz'
                },
                Testimonial: {
                    required: 'Yorum kısmını boş geçmeyiniz'
                }

            }

        })
    });
</script>
<style>
    /*.mp-pusher{
        position:fixed;
    }*/
</style>
